<apex:component layout="none" controller="RuleStepCtlr">
    <apex:attribute type="Step__c" name="step" description="define the step of the rule like grid or case or compute" assignTo="{!stepObj}"/>
    <apex:attribute type="Boolean" name="viewfields" description="rule object" assignTo="{!showFields}"/>
    <apex:attribute type="list" name="matrixList" description="option list" />
    <div class="slds-m-top_large slds-border_top slds-m-bottom_x-small"></div>
    <div class="slds-p-bottom_xx-small slds-p-top_xx-small slds-clearfix">
        <h2 class="slds-text-heading_small">Step {!step.Sequence__c}</h2>
    </div>
     <div class="slds-grid slds-p-bottom_small">
         <div class="slds-frame slds-size--1-of-2">
             <label class="slds-form-element__label">Field Name</label>
             <apex:inputText value="{!step.Name}" id="step_name" styleClass="slds-input" title="derived field name"/>
             <!-- <input class="slds-input" placeholder="Derived Field Name" value="DAPA_ADOPTION_LEVEL" type="Text" /> -->
         </div>
         <div class="slds-frame slds-size--1-of-2 slds-p-left_x-small slds-p-right_x-small">
             <label class="slds-form-element__label">Field Type</label>
             <div class="slds-form-element__control">
                 <div class="slds-select_container">
                     <apex:selectList value="{!step.Type__c}" multiselect="false" styleClass="slds-select" size="1">
                        <apex:selectOption itemValue="Text" itemLabel="Text"/>
                        <apex:selectOption itemValue="Number" itemLabel="Number"/>
                     </apex:selectList>
                 </div>
             </div>
         </div>
         <div class="slds-frame slds-size--1-of-2 slds-p-left_x-small slds-p-right_x-small">
             <label class="slds-form-element__label">Description</label>
             <!-- <input class="slds-input" value="" type="Text" /> -->
             <apex:inputText value="{!step.Description__c}" id="description" styleClass="slds-input" title="descriptiion"/>
         </div>
         <div class="slds-frame slds-size--1-of-2 slds-text-align_right">
             <div class="slds-dropdown-trigger slds-dropdown-trigger_click addComputation">
                 <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" >
                 <i class="fa fa-plus" aria-hidden="true"></i>
                 <span class="slds-assistive-text">Add</span>
                 </button>
                 <div class="slds-dropdown slds-dropdown_left">
                     <ul class="slds-dropdown__list" role="menu">
                         <li class="slds-dropdown__item" role="presentation">
                             <a href="javascript:void(0);" role="menuitem" tabindex="0">
                                 <span class="slds-truncate" title="Menu Item One">Computation</span>
                             </a>
                         </li>
                         <li class="slds-dropdown__item" role="presentation">
                             <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                 <span class="slds-truncate" title="Menu Item Two">Matrix</span>
                             </a>
                         </li>
                         <li class="slds-dropdown__item" role="presentation">
                             <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                 <span class="slds-truncate" title="Menu Item Three">Case</span>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
     <div class="slds-form-element__control">
         <div class="slds-box slds-box_x-small">
            <apex:outputPanel rendered="{!IF(step.Step_Type__c == 'Grid', true, false)}" >
                <div class="slds-form slds-form_compound">
                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-5">
                                    <label class="slds-form-element__label">Select Matrix</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList value="{!step.Matrix__c}" multiselect="false" styleClass="slds-select" size="1" onchange="enableFields();">
                                                <apex:selectOptions value="{!matrixList}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                </div>
                                <apex:outputPanel id="sel_grid_fields" rendered="{!showFields}">
                                <apex:outputPanel id="sel_grid_fields_2">
                                <div class="slds-form-element slds-size_1-of-5">
                                    <label class="slds-form-element__label">Dimension</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:inputText value="{!gridMap.Grid_Type__c}" styleClass="slds-input" disabled="disabled"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-5">
                                    <label class="slds-form-element__label">{!gridMap.Dimension_1_Name__c}</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList value="{!step.Grid_Param_1__c}" multiselect="false" styleClass="slds-select" size="1" onchange="enableFields">
                                                <apex:selectOptions value="{!prametersList}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-5">
                                    <label class="slds-form-element__label">{!gridMap.Dimension_2_Name__c}</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList value="{!step.Grid_Param_2__c}" multiselect="false" styleClass="slds-select" size="1" onchange="enableFields">
                                                <apex:selectOptions value="{!prametersList}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                </div>
                                </apex:outputPanel>
                                </apex:outputPanel>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!IF(step.Step_Type__c == 'Cases', true, false)}" >
            
            </apex:outputPanel>
            <apex:outputPanel rendered="{!IF(step.Step_Type__c == 'Compute', true, false)}" >
            
            </apex:outputPanel>
         </div>
     </div>
     <apex:actionFunction action="{!showGridFields}" name="enableFields" rerender="sel_grid_fields" status="status" />
</apex:component>