<apex:page standardController="AxtriaSalesIQTM__Change_Request__c"  recordSetVar="risks" extensions="BulkAction" action="{!approveAll}">
    
   <!-- Please Select a Reason Code :- <input type="text" id = "getReasonCode" />
    
    <button type="button" onClick="callControllerFunc('Approve');">Approve All </button>
    
    
    <script>
        function callControllerFunc(requestStatus)
        {
            if(requestStatus == 'Approve')
            {
                
            }
            else
            {
                var selectedReasonCode = $j("[id$='getReasonCode']").text();
                
                console.log('Hey Selected Reason Code is ');
                console.log(selectedReasonCode);
            }
        }
    </script>-->
</apex:page>