<apex:page controller="PopulatelookupController" sidebar="false">  
  <apex:Slds />
    <div class="slds-scope">
        <apex:stylesheet value="{!$Resource.customCss}"/>
    <apex:form >
     <apex:pageBlock title="Populating Direct Alignment Data"> 
        <div class="slds-grid slds-p-bottom_x-small">
            <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Sales Force Name</label>
                    <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                         <apex:outputPanel id="BUDropDown" layout="block">
                            <apex:selectList styleclass="slds-select" value="{!selectedTeam}" size="1" >
                                <apex:selectOptions value="{!TeamLst}" />
                                <apex:actionSupport event="onchange" action="{!teaminsfetch}" rerender="teamInstancepanel,objectpanel" />                              
                            </apex:selectList>
                        </apex:outputPanel>
                  </apex:outputPanel>
                    
                </div>
            </div>
            <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Sales Cycle</label>
                    <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                         <apex:outputPanel id="teamInstancepanel" layout="block">
                            <apex:selectList styleclass="slds-select" value="{!selectedTeamIns}" size="1" >
                            <apex:selectOptions value="{!TeamInsLst}" />
                            </apex:selectList>
                        </apex:outputPanel>
                  </apex:outputPanel>
                    
                </div>
            </div>
            <br></br>
             <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Select Process</label>
                    <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                         <apex:outputPanel id="objectpanel" layout="block">
                            <apex:selectList styleclass="slds-select" value="{!selectedJuncObj}" size="1" >
                            <apex:selectOptions value="{!JuncList}" />
                            </apex:selectList>
                        </apex:outputPanel>
                  </apex:outputPanel>
                    
                </div>
            </div>

            <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">
               <apex:commandButton styleclass="slds-button slds-button_brand" action="{!populateJuncObj}" value="Populate" id="theButton"/>
            </div>
            </div>
      </apex:pageBlock>  
      
   <apex:actionRegion >
   <apex:pageBlock id="pg" title="STATUS : ">
        <apex:pageBlockSection id="Block_2" rendered="{!batchStatusBool}">
                <apex:actionStatus id="Act_1" startText="{!batchStatus}"/>
                <apex:actionPoller interval="5" action="{!checkBatchStatus}" enabled="{!pollerBool}" reRender="pg" status="Act_1">
                    <apex:param name="Junc" value="{!selectedJuncObj}"/>
                </apex:actionPoller>
                    <apex:pageBlockTable value="{!batchJobs}" var="j">
                    <apex:column headerValue="ApexClass" value="{!j.job.ApexClass.Name}"/>
                    <apex:column value="{!j.job.Status}"/>
                    <apex:column value="{!j.job.TotalJobItems}"/>
                    <apex:column value="{!j.job.JobItemsProcessed}"/>
                    <apex:column width="320px" >
                        <div class="progressBar">
                            <div class="progress" style=" width: {!j.percentComplete}% ; ">
                            {!j.percentComplete}%
                            </div>
                        </div>
                    </apex:column>
                </apex:pageBlockTable>
    </apex:pageBlockSection>        
        <apex:pageMessages id="msg_2"/>
    </apex:pageBlock>
    </apex:actionRegion>


          

      </apex:form>
    </div>





</apex:page>