<apex:page >

ACC_TERR-{!$Label.axtriaarsnt__acc_terr}<br/>
ACC_TERR_HO-{!$Label.axtriaarsnt__acc_terr_ho}<br/>
A_dedicated_portal_to_view_your_plan_documents_and_reward_documents_lbl-{!$Label.axtriaarsnt__a_dedicated_portal_to_view_your_plan_documents_and_reward_documents_lbl}<br/>
Acceptance_History-{!$Label.axtriaarsnt__acceptance_history}<br/>
Accepted_On_Lbl-{!$Label.axtriaarsnt__accepted_on_lbl}<br/>
Accepted_lbl-{!$Label.axtriaarsnt__accepted_lbl}<br/>
Account_No_CallPlan-{!$Label.axtriaarsnt__account_no_callplan}<br/>
Achieved-{!$Label.axtriaarsnt__achieved}<br/>
Achievement_Static-{!$Label.axtriaarsnt__achievement_static}<br/>
Achievement_of_Strategic_Products_Total-{!$Label.axtriaarsnt__achievement_of_strategic_products_total}<br/>
Acknowledge-{!$Label.axtriaarsnt__acknowledge}<br/>
Action-{!$Label.axtriaarsnt__action}<br/>
Active-{!$Label.axtriaarsnt__active}<br/>
Actual-{!$Label.axtriaarsnt__actual}<br/>
AddHCP-{!$Label.axtriaarsnt__addhcp}<br/>
Add_Comment-{!$Label.axtriaarsnt__add_comment}<br/>
Add_Target-{!$Label.axtriaarsnt__add_target}<br/>
Added-{!$Label.axtriaarsnt__added}<br/>
Additional_Comments-{!$Label.axtriaarsnt__additional_comments}<br/>
Address-{!$Label.axtriaarsnt__address}<br/>
Adjustments_lbl-{!$Label.axtriaarsnt__adjustments_lbl}<br/>
All-{!$Label.axtriaarsnt__all}<br/>
Announcement-{!$Label.axtriaarsnt__announcement}<br/>
Announcement_Edit-{!$Label.axtriaarsnt__announcement_edit}<br/>
Announcement_Name-{!$Label.axtriaarsnt__announcement_name}<br/>
Announcements-{!$Label.axtriaarsnt__announcements}<br/>
Appraisee-{!$Label.axtriaarsnt__appraisee}<br/>
Appraiser-{!$Label.axtriaarsnt__appraiser}<br/>
Appraiser_Comment-{!$Label.axtriaarsnt__appraiser_comment}<br/>
Appraiser_Rating-{!$Label.axtriaarsnt__appraiser_rating}<br/>
Approval-{!$Label.axtriaarsnt__approval}<br/>
Approval_History-{!$Label.axtriaarsnt__approval_history}<br/>
Approval_Window_Duration-{!$Label.axtriaarsnt__approval_window_duration}<br/>
Approve-{!$Label.axtriaarsnt__approve}<br/>
Approved-{!$Label.axtriaarsnt__approved}<br/>
Approved_by_Manager-{!$Label.axtriaarsnt__approved_by_manager}<br/>
Approved_by_Reviewing_Manager-{!$Label.axtriaarsnt__approved_by_reviewing_manager}<br/>
Approved_by_me-{!$Label.axtriaarsnt__approved_by_me}<br/>
Approver-{!$Label.axtriaarsnt__approver}<br/>
Approver_Comments-{!$Label.axtriaarsnt__approver_comments}<br/>
Approver_Review-{!$Label.axtriaarsnt__approver_review}<br/>
Are_you_sure_you_want_to_submit-{!$Label.axtriaarsnt__are_you_sure_you_want_to_submit}<br/>
Assessment_duration-{!$Label.axtriaarsnt__assessment_duration}<br/>
Assigned_to-{!$Label.axtriaarsnt__assigned_to}<br/>
Attachment-{!$Label.axtriaarsnt__attachment}<br/>
Attachment_by_Appraiser-{!$Label.axtriaarsnt__attachment_by_appraiser}<br/>
Attachment_by_HO-{!$Label.axtriaarsnt__attachment_by_ho}<br/>
Attainment-{!$Label.axtriaarsnt__attainment}<br/>
Attainment_lbl-{!$Label.axtriaarsnt__attainment_lbl}<br/>
Attention-{!$Label.axtriaarsnt__attention}<br/>
Authoriser-{!$Label.axtriaarsnt__authoriser}<br/>
Auto_Approved-{!$Label.axtriaarsnt__auto_approved}<br/>
Average_DIAB_KAM_Earnings_after_National_Gate_lbl-{!$Label.axtriaarsnt__average_diab_kam_earnings_after_national_gate_lbl}<br/>
Average_ISF_Incentives_lbl-{!$Label.axtriaarsnt__average_isf_incentives_lbl}<br/>
Average_Incentives_ISFs_lbl-{!$Label.axtriaarsnt__average_incentives_isfs_lbl}<br/>
Average_KAM_Earnings_after_MIN_access_threshold_lbl-{!$Label.axtriaarsnt__average_kam_earnings_after_min_access_threshold_lbl}<br/>
Average_OFEV_KAM_Earnings_after_National_Gate_lbl-{!$Label.axtriaarsnt__average_ofev_kam_earnings_after_national_gate_lbl}<br/>
Average_ONC_KAM_Earnings_after_National_Gate_OFEV_adj_lbl-{!$Label.axtriaarsnt__average_onc_kam_earnings_after_national_gate_ofev_adj_lbl}<br/>
Average_RSP_KAM_Earnings_after_National_Gate_lbl-{!$Label.axtriaarsnt__average_rsp_kam_earnings_after_national_gate_lbl}<br/>
Average_Reps_Earning_for_the_entire_IPF_Line_lbl-{!$Label.axtriaarsnt__average_reps_earning_for_the_entire_ipf_line_lbl}<br/>
Average_Sales_lbl-{!$Label.axtriaarsnt__average_sales_lbl}<br/>
Axtria_Copyright_msg-{!$Label.axtriaarsnt__axtria_copyright_msg}<br/>
BR_DimensionError-{!$Label.axtriaarsnt__br_dimensionerror}<br/>
BU-{!$Label.axtriaarsnt__bu}<br/>
Back_lbl-{!$Label.axtriaarsnt__back_lbl}<br/>
Base_Earning_lbl-{!$Label.axtriaarsnt__base_earning_lbl}<br/>
Base_Sales_lbl-{!$Label.axtriaarsnt__base_sales_lbl}<br/>
Beginning-{!$Label.axtriaarsnt__beginning}<br/>
Brand-{!$Label.axtriaarsnt__brand}<br/>
BrandReport-{!$Label.axtriaarsnt__brandreport}<br/>
Business_Unit-{!$Label.axtriaarsnt__business_unit}<br/>
CALCULATOR_lbl-{!$Label.axtriaarsnt__calculator_lbl}<br/>
Calibration_Pending_with_First_Approver-{!$Label.axtriaarsnt__calibration_pending_with_first_approver}<br/>
Calibration_Pending_with_Second_Approver-{!$Label.axtriaarsnt__calibration_pending_with_second_approver}<br/>
Calibration_Pending_with_me-{!$Label.axtriaarsnt__calibration_pending_with_me}<br/>
Calibration_pending-{!$Label.axtriaarsnt__calibration_pending}<br/>
CallPlanWindowClosed-{!$Label.axtriaarsnt__callplanwindowclosed}<br/>
Cancel-{!$Label.axtriaarsnt__cancel}<br/>
Capping_Error-{!$Label.axtriaarsnt__capping_error}<br/>
Capping_error_on_save-{!$Label.axtriaarsnt__capping_error_on_save}<br/>
Choose_Delegated_Approvers-{!$Label.axtriaarsnt__choose_delegated_approvers}<br/>
Clear-{!$Label.axtriaarsnt__clear}<br/>
Click_here_to_return-{!$Label.axtriaarsnt__click_here_to_return}<br/>
Close-{!$Label.axtriaarsnt__close}<br/>
Collapse_All_lbl-{!$Label.axtriaarsnt__collapse_all_lbl}<br/>
ColumnProfileWise-{!$Label.axtriaarsnt__columnprofilewise}<br/>
Comment-{!$Label.axtriaarsnt__comment}<br/>
Comments-{!$Label.axtriaarsnt__comments}<br/>
ComponentName_lbl-{!$Label.axtriaarsnt__componentname_lbl}<br/>
Component_lbl-{!$Label.axtriaarsnt__component_lbl}<br/>
Confirm_Cycle_Publish-{!$Label.axtriaarsnt__confirm_cycle_publish}<br/>
Confirm_msg_for_delegation_saved-{!$Label.axtriaarsnt__confirm_msg_for_delegation_saved}<br/>
Count-{!$Label.axtriaarsnt__count}<br/>
Create_Definition-{!$Label.axtriaarsnt__create_definition}<br/>
Create_New-{!$Label.axtriaarsnt__create_new}<br/>
Criteria-{!$Label.axtriaarsnt__criteria}<br/>
Cumulative_Earning-{!$Label.axtriaarsnt__cumulative_earning}<br/>
Current-{!$Label.axtriaarsnt__current}<br/>
Current_Trimester_Sales_lbl-{!$Label.axtriaarsnt__current_trimester_sales_lbl}<br/>
Cycle-{!$Label.axtriaarsnt__cycle}<br/>
Cycle_Activated-{!$Label.axtriaarsnt__cycle_activated}<br/>
Cycle_Duration-{!$Label.axtriaarsnt__cycle_duration}<br/>
Cycle_Evaluation_Period-{!$Label.axtriaarsnt__cycle_evaluation_period}<br/>
Cycle_Name-{!$Label.axtriaarsnt__cycle_name}<br/>
Cycle_Phase-{!$Label.axtriaarsnt__cycle_phase}<br/>
Cycle_start_date_greater_than_end_date-{!$Label.axtriaarsnt__cycle_start_date_greater_than_end_date}<br/>
Date-{!$Label.axtriaarsnt__date}<br/>
DateLabel-{!$Label.axtriaarsnt__datelabel}<br/>
Deceased-{!$Label.axtriaarsnt__deceased}<br/>
Define_Units-{!$Label.axtriaarsnt__define_units}<br/>
Delegate_To_Supervisor_Reviewing_Manager_Name-{!$Label.axtriaarsnt__delegate_to_supervisor_reviewing_manager_name}<br/>
Delegate_from_Manager_Approver_ID-{!$Label.axtriaarsnt__delegate_from_manager_approver_id}<br/>
Delegate_from_Supervisor_Reviewing_Manager_Name-{!$Label.axtriaarsnt__delegate_from_supervisor_reviewing_manager_name}<br/>
Delegate_to_Manager_Approver_ID-{!$Label.axtriaarsnt__delegate_to_manager_approver_id}<br/>
Delegated_Requests-{!$Label.axtriaarsnt__delegated_requests}<br/>
Delegation_History-{!$Label.axtriaarsnt__delegation_history}<br/>
Delegation_Start_Date_cannot_be_more_than_End_Date-{!$Label.axtriaarsnt__delegation_start_date_cannot_be_more_than_end_date}<br/>
Delegation_Start_Date_or_End_Date_cannot_be_blank-{!$Label.axtriaarsnt__delegation_start_date_or_end_date_cannot_be_blank}<br/>
Delegation_is_already_active_for_this_User-{!$Label.axtriaarsnt__delegation_is_already_active_for_this_user}<br/>
Delegation_mail-{!$Label.axtriaarsnt__delegation_mail}<br/>
Delete-{!$Label.axtriaarsnt__delete}<br/>
Demote_Employee-{!$Label.axtriaarsnt__demote_employee}<br/>
Department-{!$Label.axtriaarsnt__department}<br/>
Description-{!$Label.axtriaarsnt__description}<br/>
Details_lbl-{!$Label.axtriaarsnt__details_lbl}<br/>
District-{!$Label.axtriaarsnt__district}<br/>
Document_Name_Label-{!$Label.axtriaarsnt__document_name_label}<br/>
Download-{!$Label.axtriaarsnt__download}<br/>
Download_Attachment-{!$Label.axtriaarsnt__download_attachment}<br/>
Draw_Payout_lbl-{!$Label.axtriaarsnt__draw_payout_lbl}<br/>
DropHCP-{!$Label.axtriaarsnt__drophcp}<br/>
DropHCPPhysicianUNV-{!$Label.axtriaarsnt__drophcpphysicianunv}<br/>
Drop_Target-{!$Label.axtriaarsnt__drop_target}<br/>
Dropped-{!$Label.axtriaarsnt__dropped}<br/>
Duration-{!$Label.axtriaarsnt__duration}<br/>
Earning-{!$Label.axtriaarsnt__earning}<br/>
Earnings_1_lbl-{!$Label.axtriaarsnt__earnings_1_lbl}<br/>
Earnings_2_lbl-{!$Label.axtriaarsnt__earnings_2_lbl}<br/>
Earnings_after_threshold_lbl-{!$Label.axtriaarsnt__earnings_after_threshold_lbl}<br/>
Earnings_lbl-{!$Label.axtriaarsnt__earnings_lbl}<br/>
Edit_Inquiry-{!$Label.axtriaarsnt__edit_inquiry}<br/>
Effective_End_Date-{!$Label.axtriaarsnt__effective_end_date}<br/>
Effective_Start_Date-{!$Label.axtriaarsnt__effective_start_date}<br/>
Eligibility_lbl-{!$Label.axtriaarsnt__eligibility_lbl}<br/>
Email_Approval_Rep_Body-{!$Label.axtriaarsnt__email_approval_rep_body}<br/>
Email_Approval_Rep_Subject-{!$Label.axtriaarsnt__email_approval_rep_subject}<br/>
Email_Hello-{!$Label.axtriaarsnt__email_hello}<br/>
Email_Rejection_Body-{!$Label.axtriaarsnt__email_rejection_body}<br/>
Email_Rejection_Subject-{!$Label.axtriaarsnt__email_rejection_subject}<br/>
Email_Submission_Body-{!$Label.axtriaarsnt__email_submission_body}<br/>
Email_Submission_Body2-{!$Label.axtriaarsnt__email_submission_body2}<br/>
Email_Submission_Subject-{!$Label.axtriaarsnt__email_submission_subject}<br/>
Email_Thanks-{!$Label.axtriaarsnt__email_thanks}<br/>
Employee-{!$Label.axtriaarsnt__employee}<br/>
EmployeeTab-{!$Label.axtriaarsnt__employeetab}<br/>
Employee_Comments-{!$Label.axtriaarsnt__employee_comments}<br/>
Employee_Comments_Goal_Setting-{!$Label.axtriaarsnt__employee_comments_goal_setting}<br/>
Employee_ID-{!$Label.axtriaarsnt__employee_id}<br/>
Employee_Newhire-{!$Label.axtriaarsnt__employee_newhire}<br/>
Employee_Rehire-{!$Label.axtriaarsnt__employee_rehire}<br/>
End-{!$Label.axtriaarsnt__end}<br/>
Error_Message_Announcement-{!$Label.axtriaarsnt__error_message_announcement}<br/>
Error_msg_for_Sum_of_Plan_Objectives_weightage-{!$Label.axtriaarsnt__error_msg_for_sum_of_plan_objectives_weightage}<br/>
Error_msg_for_delegate_an_MR-{!$Label.axtriaarsnt__error_msg_for_delegate_an_mr}<br/>
Error_msg_for_mandatory_fields_on_Delegate_page-{!$Label.axtriaarsnt__error_msg_for_mandatory_fields_on_delegate_page}<br/>
Error_msg_for_reason_for_rejection-{!$Label.axtriaarsnt__error_msg_for_reason_for_rejection}<br/>
Error_msg_for_required_field_on_approval_page-{!$Label.axtriaarsnt__error_msg_for_required_field_on_approval_page}<br/>
Evaluation-{!$Label.axtriaarsnt__evaluation}<br/>
Evaluation_Additional_Comments-{!$Label.axtriaarsnt__evaluation_additional_comments}<br/>
Evaluation_Period-{!$Label.axtriaarsnt__evaluation_period}<br/>
Expand_All_lbl-{!$Label.axtriaarsnt__expand_all_lbl}<br/>
Export_lbl-{!$Label.axtriaarsnt__export_lbl}<br/>
Field_Employee-{!$Label.axtriaarsnt__field_employee}<br/>
Final_Earnings_lbl-{!$Label.axtriaarsnt__final_earnings_lbl}<br/>
Final_Rank_DIAB_lbl-{!$Label.axtriaarsnt__final_rank_diab_lbl}<br/>
Final_Rank_RSP_lbl-{!$Label.axtriaarsnt__final_rank_rsp_lbl}<br/>
Final_Rank_lbl-{!$Label.axtriaarsnt__final_rank_lbl}<br/>
First_Page-{!$Label.axtriaarsnt__first_page}<br/>
Formula1-{!$Label.axtriaarsnt__formula1}<br/>
Formula2-{!$Label.axtriaarsnt__formula2}<br/>
Geo_Name-{!$Label.axtriaarsnt__geo_name}<br/>
Go_back_to_Reports_lbl-{!$Label.axtriaarsnt__go_back_to_reports_lbl}<br/>
Goal-{!$Label.axtriaarsnt__goal}<br/>
Goal_lbl-{!$Label.axtriaarsnt__goal_lbl}<br/>
Grid_output_unavailable-{!$Label.axtriaarsnt__grid_output_unavailable}<br/>
Home_Page_Text-{!$Label.axtriaarsnt__home_page_text}<br/>
Home_Page_Text_CEOS_RVP-{!$Label.axtriaarsnt__home_page_text_ceos_rvp}<br/>
Home_Page_Text_CEOS_and_CAEOS-{!$Label.axtriaarsnt__home_page_text_ceos_and_caeos}<br/>
Home_Page_Text_CEOS_and_CAEOS_DM-{!$Label.axtriaarsnt__home_page_text_ceos_and_caeos_dm}<br/>
Home_Page_Text_KAOM-{!$Label.axtriaarsnt__home_page_text_kaom}<br/>
Home_Page_Text_KAOM_ED-{!$Label.axtriaarsnt__home_page_text_kaom_ed}<br/>
ICDocumentdownload-{!$Label.axtriaarsnt__icdocumentdownload}<br/>
ISF_Base_Sales_lbl-{!$Label.axtriaarsnt__isf_base_sales_lbl}<br/>
ISF_Current_Trimester_Sales-{!$Label.axtriaarsnt__isf_current_trimester_sales}<br/>
ISF_Incremental_Units_lbl-{!$Label.axtriaarsnt__isf_incremental_units_lbl}<br/>
ISF_Previous_Trimester_Sales-{!$Label.axtriaarsnt__isf_previous_trimester_sales}<br/>
In_Progress-{!$Label.axtriaarsnt__in_progress}<br/>
Incremental_Units_lbl-{!$Label.axtriaarsnt__incremental_units_lbl}<br/>
Information-{!$Label.axtriaarsnt__information}<br/>
Inquiry_Details-{!$Label.axtriaarsnt__inquiry_details}<br/>
Inquiry_has_been_created_You_can_now_add_comments_or_attachments_to_your_inquir-{!$Label.axtriaarsnt__inquiry_has_been_created_you_can_now_add_comments_or_attachments_to_your_inquir}<br/>
Inquiry_is_already_open-{!$Label.axtriaarsnt__inquiry_is_already_open}<br/>
Interview_Date-{!$Label.axtriaarsnt__interview_date}<br/>
Involuntary-{!$Label.axtriaarsnt__involuntary}<br/>
Jentadueto_Attainment_lbl-{!$Label.axtriaarsnt__jentadueto_attainment_lbl}<br/>
Jentadueto_Earnings_lbl-{!$Label.axtriaarsnt__jentadueto_earnings_lbl}<br/>
Jentadueto_Goal_lbl-{!$Label.axtriaarsnt__jentadueto_goal_lbl}<br/>
Jentadueto_Sales_lbl-{!$Label.axtriaarsnt__jentadueto_sales_lbl}<br/>
LOA-{!$Label.axtriaarsnt__loa}<br/>
Last_Page-{!$Label.axtriaarsnt__last_page}<br/>
Layoff-{!$Label.axtriaarsnt__layoff}<br/>
Leave_of_Absence-{!$Label.axtriaarsnt__leave_of_absence}<br/>
Line-{!$Label.axtriaarsnt__line}<br/>
LineReport-{!$Label.axtriaarsnt__linereport}<br/>
Linkmsg-{!$Label.axtriaarsnt__linkmsg}<br/>
List_Of_Added_HCP-{!$Label.axtriaarsnt__list_of_added_hcp}<br/>
List_Of_Dropped_HCP-{!$Label.axtriaarsnt__list_of_dropped_hcp}<br/>
MBO_process_started-{!$Label.axtriaarsnt__mbo_process_started}<br/>
Manager-{!$Label.axtriaarsnt__manager}<br/>
Manager_ID-{!$Label.axtriaarsnt__manager_id}<br/>
Manager_Name-{!$Label.axtriaarsnt__manager_name}<br/>
Manager_Review-{!$Label.axtriaarsnt__manager_review}<br/>
Mandatory_Fields-{!$Label.axtriaarsnt__mandatory_fields}<br/>
Metric-{!$Label.axtriaarsnt__metric}<br/>
Minimum_Access_Threshold_lbl-{!$Label.axtriaarsnt__minimum_access_threshold_lbl}<br/>
Multiplier_Base_Sales_every_10_incremental_units_lbl-{!$Label.axtriaarsnt__multiplier_base_sales_every_10_incremental_units_lbl}<br/>
Multiplier_Incremental_Sales_every_10_incremental_units_lbl-{!$Label.axtriaarsnt__multiplier_incremental_sales_every_10_incremental_units_lbl}<br/>
Multiplier_lbl-{!$Label.axtriaarsnt__multiplier_lbl}<br/>
Multiplier_per_Unit_based_on_Giotrif_TA_lbl-{!$Label.axtriaarsnt__multiplier_per_unit_based_on_giotrif_ta_lbl}<br/>
Multiplier_per_Unit_lbl-{!$Label.axtriaarsnt__multiplier_per_unit_lbl}<br/>
My_Action-{!$Label.axtriaarsnt__my_action}<br/>
My_Comment-{!$Label.axtriaarsnt__my_comment}<br/>
My_Rating-{!$Label.axtriaarsnt__my_rating}<br/>
Name-{!$Label.axtriaarsnt__name}<br/>
National_Accelerator_lbl-{!$Label.axtriaarsnt__national_accelerator_lbl}<br/>
National_Gate_lbl-{!$Label.axtriaarsnt__national_gate_lbl}<br/>
National_Multiplier_lbl-{!$Label.axtriaarsnt__national_multiplier_lbl}<br/>
National_Rank_lbl-{!$Label.axtriaarsnt__national_rank_lbl}<br/>
New_Announcement-{!$Label.axtriaarsnt__new_announcement}<br/>
New_Inquiry-{!$Label.axtriaarsnt__new_inquiry}<br/>
Next-{!$Label.axtriaarsnt__next}<br/>
No-{!$Label.axtriaarsnt__no}<br/>
NoAnnouncement-{!$Label.axtriaarsnt__noannouncement}<br/>
NoScorecard_lbl-{!$Label.axtriaarsnt__noscorecard_lbl}<br/>
No_Announcement_Published-{!$Label.axtriaarsnt__no_announcement_published}<br/>
No_Data_Available-{!$Label.axtriaarsnt__no_data_available}<br/>
No_Delegation_Record_exists_for_the_Delegated_From_User-{!$Label.axtriaarsnt__no_delegation_record_exists_for_the_delegated_from_user}<br/>
No_Not_Achieved-{!$Label.axtriaarsnt__no_not_achieved}<br/>
No_Of_HCP-{!$Label.axtriaarsnt__no_of_hcp}<br/>
No_records_to_display-{!$Label.axtriaarsnt__no_records_to_display}<br/>
None-{!$Label.axtriaarsnt__none}<br/>
Not_Accepted_lbl-{!$Label.axtriaarsnt__not_accepted_lbl}<br/>
Not_Started-{!$Label.axtriaarsnt__not_started}<br/>
Number_of_Calls_Post_Fine_Tuning-{!$Label.axtriaarsnt__number_of_calls_post_fine_tuning}<br/>
Number_of_Calls_Pre_Fine_Tuning-{!$Label.axtriaarsnt__number_of_calls_pre_fine_tuning}<br/>
Number_of_HCP_s_Post_Fine_Tuning-{!$Label.axtriaarsnt__number_of_hcp_s_post_fine_tuning}<br/>
Number_of_HCP_s_Pre_Fine_Tuning-{!$Label.axtriaarsnt__number_of_hcp_s_pre_fine_tuning}<br/>
Objective-{!$Label.axtriaarsnt__objective}<br/>
Objective_Name-{!$Label.axtriaarsnt__objective_name}<br/>
Objective_Payout-{!$Label.axtriaarsnt__objective_payout}<br/>
Objective_Payout_Pdf-{!$Label.axtriaarsnt__objective_payout_pdf}<br/>
Objective_Payout_Pdf2-{!$Label.axtriaarsnt__objective_payout_pdf2}<br/>
Objective_Setting-{!$Label.axtriaarsnt__objective_setting}<br/>
Open-{!$Label.axtriaarsnt__open}<br/>
Organization-{!$Label.axtriaarsnt__organization}<br/>
Original-{!$Label.axtriaarsnt__original}<br/>
Other_Details-{!$Label.axtriaarsnt__other_details}<br/>
PACP_Apply_to-{!$Label.axtriaarsnt__pacp_apply_to}<br/>
PACP_Avg_Visits_Day-{!$Label.axtriaarsnt__pacp_avg_visits_day}<br/>
PACP_BU_Instance-{!$Label.axtriaarsnt__pacp_bu_instance}<br/>
PACP_Business_Days_in_Cycle-{!$Label.axtriaarsnt__pacp_business_days_in_cycle}<br/>
PACP_Call_Capacity-{!$Label.axtriaarsnt__pacp_call_capacity}<br/>
PACP_Effective_days_in_field-{!$Label.axtriaarsnt__pacp_effective_days_in_field}<br/>
PACP_Holidays-{!$Label.axtriaarsnt__pacp_holidays}<br/>
PACP_Name-{!$Label.axtriaarsnt__pacp_name}<br/>
PACP_Other_off_days-{!$Label.axtriaarsnt__pacp_other_off_days}<br/>
PACP_Select_Products-{!$Label.axtriaarsnt__pacp_select_products}<br/>
PACP_Thanks-{!$Label.axtriaarsnt__pacp_thanks}<br/>
PACP_Total_Call_Capacity-{!$Label.axtriaarsnt__pacp_total_call_capacity}<br/>
PACP_Vacation_Days-{!$Label.axtriaarsnt__pacp_vacation_days}<br/>
PDF_heading-{!$Label.axtriaarsnt__pdf_heading}<br/>
Pacp_Accessibility-{!$Label.axtriaarsnt__pacp_accessibility}<br/>
Pacp_AccountName-{!$Label.axtriaarsnt__pacp_accountname}<br/>
Pacp_AccountNumber-{!$Label.axtriaarsnt__pacp_accountnumber}<br/>
Pacp_Address-{!$Label.axtriaarsnt__pacp_address}<br/>
Pacp_All_Positions-{!$Label.axtriaarsnt__pacp_all_positions}<br/>
Pacp_Apply-{!$Label.axtriaarsnt__pacp_apply}<br/>
Pacp_Calls_Per_Day-{!$Label.axtriaarsnt__pacp_calls_per_day}<br/>
Pacp_City-{!$Label.axtriaarsnt__pacp_city}<br/>
Pacp_Consent-{!$Label.axtriaarsnt__pacp_consent}<br/>
Pacp_Days_In_Field-{!$Label.axtriaarsnt__pacp_days_in_field}<br/>
Pacp_EndDate-{!$Label.axtriaarsnt__pacp_enddate}<br/>
Pacp_Enter_SearchValue-{!$Label.axtriaarsnt__pacp_enter_searchvalue}<br/>
Pacp_Hi-{!$Label.axtriaarsnt__pacp_hi}<br/>
Pacp_Mb-{!$Label.axtriaarsnt__pacp_mb}<br/>
Pacp_Next-{!$Label.axtriaarsnt__pacp_next}<br/>
Pacp_No-{!$Label.axtriaarsnt__pacp_no}<br/>
Pacp_No_Data_Found-{!$Label.axtriaarsnt__pacp_no_data_found}<br/>
Pacp_Parent-{!$Label.axtriaarsnt__pacp_parent}<br/>
Pacp_Previous-{!$Label.axtriaarsnt__pacp_previous}<br/>
Pacp_PreviousCalls-{!$Label.axtriaarsnt__pacp_previouscalls}<br/>
Pacp_Product-{!$Label.axtriaarsnt__pacp_product}<br/>
Pacp_ProposedTCF-{!$Label.axtriaarsnt__pacp_proposedtcf}<br/>
Pacp_Pv-{!$Label.axtriaarsnt__pacp_pv}<br/>
Pacp_R_Died-{!$Label.axtriaarsnt__pacp_r_died}<br/>
Pacp_R_Limited_Access-{!$Label.axtriaarsnt__pacp_r_limited_access}<br/>
Pacp_R_Low_value_target-{!$Label.axtriaarsnt__pacp_r_low_value_target}<br/>
Pacp_R_Moved_out_of_territory-{!$Label.axtriaarsnt__pacp_r_moved_out_of_territory}<br/>
Pacp_R_Non_targetted-{!$Label.axtriaarsnt__pacp_r_non_targetted}<br/>
Pacp_R_Other-{!$Label.axtriaarsnt__pacp_r_other}<br/>
Pacp_R_Physician_in_Remote_Location-{!$Label.axtriaarsnt__pacp_r_physician_in_remote_location}<br/>
Pacp_R_Retired-{!$Label.axtriaarsnt__pacp_r_retired}<br/>
Pacp_ReasonCode-{!$Label.axtriaarsnt__pacp_reasoncode}<br/>
Pacp_RepName-{!$Label.axtriaarsnt__pacp_repname}<br/>
Pacp_Search-{!$Label.axtriaarsnt__pacp_search}<br/>
Pacp_Segment-{!$Label.axtriaarsnt__pacp_segment}<br/>
Pacp_Select-{!$Label.axtriaarsnt__pacp_select}<br/>
Pacp_SharedFlag-{!$Label.axtriaarsnt__pacp_sharedflag}<br/>
Pacp_Speciality-{!$Label.axtriaarsnt__pacp_speciality}<br/>
Pacp_StartDate-{!$Label.axtriaarsnt__pacp_startdate}<br/>
Pacp_Status-{!$Label.axtriaarsnt__pacp_status}<br/>
Pacp_TCFFinal-{!$Label.axtriaarsnt__pacp_tcffinal}<br/>
Pacp_TCFTOTAL-{!$Label.axtriaarsnt__pacp_tcftotal}<br/>
Pacp_Unchanged_Positions-{!$Label.axtriaarsnt__pacp_unchanged_positions}<br/>
Pacp_Yes-{!$Label.axtriaarsnt__pacp_yes}<br/>
Parent_Territory_Id-{!$Label.axtriaarsnt__parent_territory_id}<br/>
Payment_Formula-{!$Label.axtriaarsnt__payment_formula}<br/>
Payout_Estimate_lbl-{!$Label.axtriaarsnt__payout_estimate_lbl}<br/>
Payout_lbl-{!$Label.axtriaarsnt__payout_lbl}<br/>
Pending-{!$Label.axtriaarsnt__pending}<br/>
Pending_Lbl-{!$Label.axtriaarsnt__pending_lbl}<br/>
Pending_at_Appraiser_Level-{!$Label.axtriaarsnt__pending_at_appraiser_level}<br/>
Pending_at_Approver_Level-{!$Label.axtriaarsnt__pending_at_approver_level}<br/>
Pending_at_HO_Level-{!$Label.axtriaarsnt__pending_at_ho_level}<br/>
Pending_for_Approval-{!$Label.axtriaarsnt__pending_for_approval}<br/>
Pending_with_Appraiser-{!$Label.axtriaarsnt__pending_with_appraiser}<br/>
Pending_with_First_Approver-{!$Label.axtriaarsnt__pending_with_first_approver}<br/>
Pending_with_Second_Approver-{!$Label.axtriaarsnt__pending_with_second_approver}<br/>
Pending_with_Supervisor-{!$Label.axtriaarsnt__pending_with_supervisor}<br/>
Pending_with_approver-{!$Label.axtriaarsnt__pending_with_approver}<br/>
Pending_with_me-{!$Label.axtriaarsnt__pending_with_me}<br/>
Personal_ID-{!$Label.axtriaarsnt__personal_id}<br/>
Phase-{!$Label.axtriaarsnt__phase}<br/>
Plan_Name-{!$Label.axtriaarsnt__plan_name}<br/>
Plan_Type-{!$Label.axtriaarsnt__plan_type}<br/>
Please_Enter_valid_Values_upto_2_decimal_places_only-{!$Label.axtriaarsnt__please_enter_valid_values_upto_2_decimal_places_only}<br/>
Please_Open_the_Inquiry_to_Edit-{!$Label.axtriaarsnt__please_open_the_inquiry_to_edit}<br/>
Please_Select_a_Category-{!$Label.axtriaarsnt__please_select_a_category}<br/>
Please_Wait-{!$Label.axtriaarsnt__please_wait}<br/>
Please_enter_values_0_or_100_only-{!$Label.axtriaarsnt__please_enter_values_0_or_100_only}<br/>
Please_provide_reason_for_rejection-{!$Label.axtriaarsnt__please_provide_reason_for_rejection}<br/>
Please_select_a_period-{!$Label.axtriaarsnt__please_select_a_period}<br/>
Please_select_one_or_more_rows-{!$Label.axtriaarsnt__please_select_one_or_more_rows}<br/>
PosGeoGeographyType-{!$Label.axtriaarsnt__posgeogeographytype}<br/>
PosGeoPositionType-{!$Label.axtriaarsnt__posgeopositiontype}<br/>
Position_Plan-{!$Label.axtriaarsnt__position_plan}<br/>
Previous-{!$Label.axtriaarsnt__previous}<br/>
Previous_Trimester_Sales_lbl-{!$Label.axtriaarsnt__previous_trimester_sales_lbl}<br/>
Process_complete-{!$Label.axtriaarsnt__process_complete}<br/>
Product_Type-{!$Label.axtriaarsnt__product_type}<br/>
Projected_Earnings_lbl-{!$Label.axtriaarsnt__projected_earnings_lbl}<br/>
Promote_Employee-{!$Label.axtriaarsnt__promote_employee}<br/>
Published_on_lbl-{!$Label.axtriaarsnt__published_on_lbl}<br/>
Qualitative-{!$Label.axtriaarsnt__qualitative}<br/>
Quantitative-{!$Label.axtriaarsnt__quantitative}<br/>
RMT_Multiplier_lbl-{!$Label.axtriaarsnt__rmt_multiplier_lbl}<br/>
RP_Added_and_Dropped_Targets_Call_Plan_Data-{!$Label.axtriaarsnt__rp_added_and_dropped_targets_call_plan_data}<br/>
RP_Adoption_per_HCP_Visit-{!$Label.axtriaarsnt__rp_adoption_per_hcp_visit}<br/>
RP_Alignment_Report-{!$Label.axtriaarsnt__rp_alignment_report}<br/>
RP_All_Brands-{!$Label.axtriaarsnt__rp_all_brands}<br/>
RP_Average_TCF_across_segments_at_Area_level-{!$Label.axtriaarsnt__rp_average_tcf_across_segments_at_area_level}<br/>
RP_Average_TCF_across_segments_at_territory_level-{!$Label.axtriaarsnt__rp_average_tcf_across_segments_at_territory_level}<br/>
RP_Average_Visits_per_Segment_Territory-{!$Label.axtriaarsnt__rp_average_visits_per_segment_territory}<br/>
RP_Call_Allocation_vs_Segment-{!$Label.axtriaarsnt__rp_call_allocation_vs_segment}<br/>
RP_Call_Plan_Reports-{!$Label.axtriaarsnt__rp_call_plan_reports}<br/>
RP_Call_Plan_Status-{!$Label.axtriaarsnt__rp_call_plan_status}<br/>
RP_Calls_across_segments_at_Area_Level-{!$Label.axtriaarsnt__rp_calls_across_segments_at_area_level}<br/>
RP_Calls_across_segments_at_Territory_Level-{!$Label.axtriaarsnt__rp_calls_across_segments_at_territory_level}<br/>
RP_Choose_Report-{!$Label.axtriaarsnt__rp_choose_report}<br/>
RP_Choose_Team_Instance-{!$Label.axtriaarsnt__rp_choose_team_instance}<br/>
RP_HCP_Actual_VS_Original_per_Speciality_Segment_Territory-{!$Label.axtriaarsnt__rp_hcp_actual_vs_original_per_speciality_segment_territory}<br/>
RP_HCP_Actual_VS_Original_per_Speciality_Territory-{!$Label.axtriaarsnt__rp_hcp_actual_vs_original_per_speciality_territory}<br/>
RP_HCP_Actual_VS_Original_per_Territory-{!$Label.axtriaarsnt__rp_hcp_actual_vs_original_per_territory}<br/>
RP_HCP_Add_Remove-{!$Label.axtriaarsnt__rp_hcp_add_remove}<br/>
RP_HCP_Consent_to_profiling-{!$Label.axtriaarsnt__rp_hcp_consent_to_profiling}<br/>
RP_HCP_Profiling_Consent-{!$Label.axtriaarsnt__rp_hcp_profiling_consent}<br/>
RP_HCP_per_Segment_Area_Level-{!$Label.axtriaarsnt__rp_hcp_per_segment_area_level}<br/>
RP_HCP_per_segment_Territory_Level-{!$Label.axtriaarsnt__rp_hcp_per_segment_territory_level}<br/>
RP_HCPs_per_Segment_Territory-{!$Label.axtriaarsnt__rp_hcps_per_segment_territory}<br/>
RP_Hcp_Add_Drop-{!$Label.axtriaarsnt__rp_hcp_add_drop}<br/>
RP_Potential_per_HCP_Visit-{!$Label.axtriaarsnt__rp_potential_per_hcp_visit}<br/>
RP_Report-{!$Label.axtriaarsnt__rp_report}<br/>
RP_Roster_Report-{!$Label.axtriaarsnt__rp_roster_report}<br/>
RP_Run_Report-{!$Label.axtriaarsnt__rp_run_report}<br/>
RP_System_Reports-{!$Label.axtriaarsnt__rp_system_reports}<br/>
RP_Target_VS_Actual_Visits_per_Territory-{!$Label.axtriaarsnt__rp_target_vs_actual_visits_per_territory}<br/>
RP_TeamInstance-{!$Label.axtriaarsnt__rp_teaminstance}<br/>
RP_Total_Calls_at_Territory_Level-{!$Label.axtriaarsnt__rp_total_calls_at_territory_level}<br/>
RP_Total_HCPs_At_Area_Level-{!$Label.axtriaarsnt__rp_total_hcps_at_area_level}<br/>
RP_Total_HCPs_across_segments_at_Area_Level-{!$Label.axtriaarsnt__rp_total_hcps_across_segments_at_area_level}<br/>
RP_Total_HCPs_across_segments_at_Territory_Level-{!$Label.axtriaarsnt__rp_total_hcps_across_segments_at_territory_level}<br/>
RP_Total_HCPs_at_Territory_Level-{!$Label.axtriaarsnt__rp_total_hcps_at_territory_level}<br/>
RP_Total_Hcps_At_AreaLevel_Per_Speciality-{!$Label.axtriaarsnt__rp_total_hcps_at_arealevel_per_speciality}<br/>
RP_Total_Hcps_At_AreaLevel_Per_Speciality_Per_Segment-{!$Label.axtriaarsnt__rp_total_hcps_at_arealevel_per_speciality_per_segment}<br/>
RP_Total_Hcps_At_TerritoryLevel_Per_Speciality_Per_Segment-{!$Label.axtriaarsnt__rp_total_hcps_at_territorylevel_per_speciality_per_segment}<br/>
RP_Total_Hcps_At_Territory_Per_Speciality-{!$Label.axtriaarsnt__rp_total_hcps_at_territory_per_speciality}<br/>
RP_Total_calls_at_area_level-{!$Label.axtriaarsnt__rp_total_calls_at_area_level}<br/>
RP_Visits_per_Segment_Territory-{!$Label.axtriaarsnt__rp_visits_per_segment_territory}<br/>
Rating-{!$Label.axtriaarsnt__rating}<br/>
Rating_Approved-{!$Label.axtriaarsnt__rating_approved}<br/>
Rating_For-{!$Label.axtriaarsnt__rating_for}<br/>
Rating_Instructions-{!$Label.axtriaarsnt__rating_instructions}<br/>
Rating_s_Visible-{!$Label.axtriaarsnt__rating_s_visible}<br/>
Rating_window_Duration-{!$Label.axtriaarsnt__rating_window_duration}<br/>
Ratings_Approved-{!$Label.axtriaarsnt__ratings_approved}<br/>
Ratings_are_now_visible_to_Appraisee-{!$Label.axtriaarsnt__ratings_are_now_visible_to_appraisee}<br/>
Ratings_are_rejected_by_Approver-{!$Label.axtriaarsnt__ratings_are_rejected_by_approver}<br/>
Ratings_have_been_submitted-{!$Label.axtriaarsnt__ratings_have_been_submitted}<br/>
Ratings_submitted_by_appraiser-{!$Label.axtriaarsnt__ratings_submitted_by_appraiser}<br/>
Reason_Code-{!$Label.axtriaarsnt__reason_code}<br/>
Reason_Code2-{!$Label.axtriaarsnt__reason_code2}<br/>
Reason_For_Rejection-{!$Label.axtriaarsnt__reason_for_rejection}<br/>
Reassign-{!$Label.axtriaarsnt__reassign}<br/>
Region-{!$Label.axtriaarsnt__region}<br/>
Reject-{!$Label.axtriaarsnt__reject}<br/>
Rejected-{!$Label.axtriaarsnt__rejected}<br/>
Rejected_by_Manager-{!$Label.axtriaarsnt__rejected_by_manager}<br/>
Rejected_by_Reviewing_Manager-{!$Label.axtriaarsnt__rejected_by_reviewing_manager}<br/>
Rejected_by_approver-{!$Label.axtriaarsnt__rejected_by_approver}<br/>
Rejection_Comments-{!$Label.axtriaarsnt__rejection_comments}<br/>
Rejection_error-{!$Label.axtriaarsnt__rejection_error}<br/>
Rep_to_Territory-{!$Label.axtriaarsnt__rep_to_territory}<br/>
Rep_to_Territory_HO-{!$Label.axtriaarsnt__rep_to_territory_ho}<br/>
Report-{!$Label.axtriaarsnt__report}<br/>
Report_Data_Push_Lbl-{!$Label.axtriaarsnt__report_data_push_lbl}<br/>
Request_Adjustment-{!$Label.axtriaarsnt__request_adjustment}<br/>
Reset-{!$Label.axtriaarsnt__reset}<br/>
Resignation-{!$Label.axtriaarsnt__resignation}<br/>
Respimat_IP_IEI_Index_lbl-{!$Label.axtriaarsnt__respimat_ip_iei_index_lbl}<br/>
Retired-{!$Label.axtriaarsnt__retired}<br/>
Review_Manager_ID-{!$Label.axtriaarsnt__review_manager_id}<br/>
Review_Manager_Name-{!$Label.axtriaarsnt__review_manager_name}<br/>
Reviewing_Manager-{!$Label.axtriaarsnt__reviewing_manager}<br/>
Role-{!$Label.axtriaarsnt__role}<br/>
Roles-{!$Label.axtriaarsnt__roles}<br/>
Roster-{!$Label.axtriaarsnt__roster}<br/>
Run_Report-{!$Label.axtriaarsnt__run_report}<br/>
S_No-{!$Label.axtriaarsnt__s_no}<br/>
Sales_lbl-{!$Label.axtriaarsnt__sales_lbl}<br/>
Save-{!$Label.axtriaarsnt__save}<br/>
Save_Popup-{!$Label.axtriaarsnt__save_popup}<br/>
Save_Submit-{!$Label.axtriaarsnt__save_submit}<br/>
Saved-{!$Label.axtriaarsnt__saved}<br/>
Scale_Name-{!$Label.axtriaarsnt__scale_name}<br/>
Scale_Type-{!$Label.axtriaarsnt__scale_type}<br/>
Score-{!$Label.axtriaarsnt__score}<br/>
Search-{!$Label.axtriaarsnt__search}<br/>
Second_Approver_Comments-{!$Label.axtriaarsnt__second_approver_comments}<br/>
SelectCategory_lbl-{!$Label.axtriaarsnt__selectcategory_lbl}<br/>
SelectInstance_Entity-{!$Label.axtriaarsnt__selectinstance_entity}<br/>
SelectInstance_LastExecuted-{!$Label.axtriaarsnt__selectinstance_lastexecuted}<br/>
SelectInstance_LastUploaded-{!$Label.axtriaarsnt__selectinstance_lastuploaded}<br/>
SelectInstance_LastUploadedBy-{!$Label.axtriaarsnt__selectinstance_lastuploadedby}<br/>
SelectInstance_Name-{!$Label.axtriaarsnt__selectinstance_name}<br/>
SelectInstance_Status-{!$Label.axtriaarsnt__selectinstance_status}<br/>
SelectInstance_Version-{!$Label.axtriaarsnt__selectinstance_version}<br/>
Select_One_HCP-{!$Label.axtriaarsnt__select_one_hcp}<br/>
Select_Quarter_lbl-{!$Label.axtriaarsnt__select_quarter_lbl}<br/>
Self_Assessment-{!$Label.axtriaarsnt__self_assessment}<br/>
Send_For_Approval-{!$Label.axtriaarsnt__send_for_approval}<br/>
Show_all-{!$Label.axtriaarsnt__show_all}<br/>
Show_less-{!$Label.axtriaarsnt__show_less}<br/>
Showing_Page_of-{!$Label.axtriaarsnt__showing_page_of}<br/>
Source-{!$Label.axtriaarsnt__source}<br/>
Spiriva_Attainment_lbl-{!$Label.axtriaarsnt__spiriva_attainment_lbl}<br/>
Spiriva_Earnings_1_lbl-{!$Label.axtriaarsnt__spiriva_earnings_1_lbl}<br/>
Spiriva_Earnings_2_lbl-{!$Label.axtriaarsnt__spiriva_earnings_2_lbl}<br/>
Stage-{!$Label.axtriaarsnt__stage}<br/>
Status-{!$Label.axtriaarsnt__status}<br/>
Strategic_Product-{!$Label.axtriaarsnt__strategic_product}<br/>
Strategic_Product_Achieved-{!$Label.axtriaarsnt__strategic_product_achieved}<br/>
Strategic_Product_Achieved_Pdf-{!$Label.axtriaarsnt__strategic_product_achieved_pdf}<br/>
Strategic_Product_pdf-{!$Label.axtriaarsnt__strategic_product_pdf}<br/>
Submited-{!$Label.axtriaarsnt__submited}<br/>
Submitted-{!$Label.axtriaarsnt__submitted}<br/>
Submitted_By-{!$Label.axtriaarsnt__submitted_by}<br/>
Submitted_On-{!$Label.axtriaarsnt__submitted_on}<br/>
Summary_lbl-{!$Label.axtriaarsnt__summary_lbl}<br/>
Supervisor_Rating-{!$Label.axtriaarsnt__supervisor_rating}<br/>
TableSize-{!$Label.axtriaarsnt__tablesize}<br/>
Table_Size-{!$Label.axtriaarsnt__table_size}<br/>
Target-{!$Label.axtriaarsnt__target}<br/>
Target_lbl-{!$Label.axtriaarsnt__target_lbl}<br/>
TeamSummary_lbl-{!$Label.axtriaarsnt__teamsummary_lbl}<br/>
Terminate_Employee-{!$Label.axtriaarsnt__terminate_employee}<br/>
Terminated-{!$Label.axtriaarsnt__terminated}<br/>
Terminated_I-{!$Label.axtriaarsnt__terminated_i}<br/>
Terminated_I_noHyphen-{!$Label.axtriaarsnt__terminated_i_nohyphen}<br/>
Terminated_V-{!$Label.axtriaarsnt__terminated_v}<br/>
Terminated_V_noHyphen-{!$Label.axtriaarsnt__terminated_v_nohyphen}<br/>
Territory-{!$Label.axtriaarsnt__territory}<br/>
Territory_Hierarchy-{!$Label.axtriaarsnt__territory_hierarchy}<br/>
Territory_Hierarchy_HO-{!$Label.axtriaarsnt__territory_hierarchy_ho}<br/>
Territory_ID-{!$Label.axtriaarsnt__territory_id}<br/>
Territory_ID_lbl-{!$Label.axtriaarsnt__territory_id_lbl}<br/>
Thanks_for_accepting_the_Document-{!$Label.axtriaarsnt__thanks_for_accepting_the_document}<br/>
Title-{!$Label.axtriaarsnt__title}<br/>
To-{!$Label.axtriaarsnt__to}<br/>
Total_Calls-{!$Label.axtriaarsnt__total_calls}<br/>
Total_Earning-{!$Label.axtriaarsnt__total_earning}<br/>
Total_Earnings_lbl-{!$Label.axtriaarsnt__total_earnings_lbl}<br/>
Total_Objective_Payout-{!$Label.axtriaarsnt__total_objective_payout}<br/>
Total_Payout_Percent-{!$Label.axtriaarsnt__total_payout_percent}<br/>
Total_lbl-{!$Label.axtriaarsnt__total_lbl}<br/>
Total_targets-{!$Label.axtriaarsnt__total_targets}<br/>
Trajenta_Attainment_lbl-{!$Label.axtriaarsnt__trajenta_attainment_lbl}<br/>
Trajenta_Earning_lbl-{!$Label.axtriaarsnt__trajenta_earning_lbl}<br/>
Trajenta_Goal_lbl-{!$Label.axtriaarsnt__trajenta_goal_lbl}<br/>
Trajenta_Sales_lbl-{!$Label.axtriaarsnt__trajenta_sales_lbl}<br/>
Transfer_out_of_Sales_team-{!$Label.axtriaarsnt__transfer_out_of_sales_team}<br/>
Transfer_to_HO-{!$Label.axtriaarsnt__transfer_to_ho}<br/>
True_Up_lbl-{!$Label.axtriaarsnt__true_up_lbl}<br/>
UNASSIGNED_TERRITORY-{!$Label.axtriaarsnt__unassigned_territory}<br/>
Updated-{!$Label.axtriaarsnt__updated}<br/>
Upload-{!$Label.axtriaarsnt__upload}<br/>
Upload_Date-{!$Label.axtriaarsnt__upload_date}<br/>
Upload_File-{!$Label.axtriaarsnt__upload_file}<br/>
Vacant_Territories-{!$Label.axtriaarsnt__vacant_territories}<br/>
Vacant_Territories_HO-{!$Label.axtriaarsnt__vacant_territories_ho}<br/>
Validation_err_msg_Interview_date_Mandatory-{!$Label.axtriaarsnt__validation_err_msg_interview_date_mandatory}<br/>
View-{!$Label.axtriaarsnt__view}<br/>
View_Acceptance_History-{!$Label.axtriaarsnt__view_acceptance_history}<br/>
View_All-{!$Label.axtriaarsnt__view_all}<br/>
View_Attachment-{!$Label.axtriaarsnt__view_attachment}<br/>
Visible_to_Appraisee-{!$Label.axtriaarsnt__visible_to_appraisee}<br/>
Voluntary-{!$Label.axtriaarsnt__voluntary}<br/>
Warning-{!$Label.axtriaarsnt__warning}<br/>
Weight-{!$Label.axtriaarsnt__weight}<br/>
Workbench_Events-{!$Label.axtriaarsnt__workbench_events}<br/>
Workbench_Events_HO-{!$Label.axtriaarsnt__workbench_events_ho}<br/>
Workbench_tab-{!$Label.axtriaarsnt__workbench_tab}<br/>
Yes-{!$Label.axtriaarsnt__yes}<br/>
Yes_Achieved-{!$Label.axtriaarsnt__yes_achieved}<br/>
Yes_lbl-{!$Label.axtriaarsnt__yes_lbl}<br/>
You_don_t_have_access-{!$Label.axtriaarsnt__you_don_t_have_access}<br/>
Your_ratings_have_been_approved-{!$Label.axtriaarsnt__your_ratings_have_been_approved}<br/>
Your_ratings_have_been_submitted-{!$Label.axtriaarsnt__your_ratings_have_been_submitted}<br/>
ZIP_TERR-{!$Label.axtriaarsnt__zip_terr}<br/>
ZIP_TERR_HO-{!$Label.axtriaarsnt__zip_terr_ho}<br/>
adds-{!$Label.axtriaarsnt__adds}<br/>
and-{!$Label.axtriaarsnt__and}<br/>
bt_Add_To_Target-{!$Label.axtriaarsnt__bt_add_to_target}<br/>
btn_Advance_Search-{!$Label.axtriaarsnt__btn_advance_search}<br/>
btn_Create_Table-{!$Label.axtriaarsnt__btn_create_table}<br/>
btn_Download-{!$Label.axtriaarsnt__btn_download}<br/>
btn_Update_Segment-{!$Label.axtriaarsnt__btn_update_segment}<br/>
btn_back-{!$Label.axtriaarsnt__btn_back}<br/>
btn_cancel-{!$Label.axtriaarsnt__btn_cancel}<br/>
btn_new_Business_Rule-{!$Label.axtriaarsnt__btn_new_business_rule}<br/>
btn_newmatrix-{!$Label.axtriaarsnt__btn_newmatrix}<br/>
btn_save-{!$Label.axtriaarsnt__btn_save}<br/>
btn_save_next-{!$Label.axtriaarsnt__btn_save_next}<br/>
btn_sendEmail-{!$Label.axtriaarsnt__btn_sendemail}<br/>
callplansubmitted-{!$Label.axtriaarsnt__callplansubmitted}<br/>
callsperdaytarget-{!$Label.axtriaarsnt__callsperdaytarget}<br/>
comments_on_pdf-{!$Label.axtriaarsnt__comments_on_pdf}<br/>
create_alert-{!$Label.axtriaarsnt__create_alert}<br/>
dowloadmessage-{!$Label.axtriaarsnt__dowloadmessage}<br/>
edit-{!$Label.axtriaarsnt__edit}<br/>
editt-{!$Label.axtriaarsnt__editt}<br/>
emailtext-{!$Label.axtriaarsnt__emailtext}<br/>
entry-{!$Label.axtriaarsnt__entry}<br/>
gn_Action-{!$Label.axtriaarsnt__gn_action}<br/>
gn_BU-{!$Label.axtriaarsnt__gn_bu}<br/>
gn_City-{!$Label.axtriaarsnt__gn_city}<br/>
gn_Cycle-{!$Label.axtriaarsnt__gn_cycle}<br/>
gn_Cycle1-{!$Label.axtriaarsnt__gn_cycle1}<br/>
gn_Description-{!$Label.axtriaarsnt__gn_description}<br/>
gn_Dimension-{!$Label.axtriaarsnt__gn_dimension}<br/>
gn_Dimension1-{!$Label.axtriaarsnt__gn_dimension1}<br/>
gn_Dimension2-{!$Label.axtriaarsnt__gn_dimension2}<br/>
gn_LastUpdatedBy-{!$Label.axtriaarsnt__gn_lastupdatedby}<br/>
gn_LastUpdatedon-{!$Label.axtriaarsnt__gn_lastupdatedon}<br/>
gn_Line-{!$Label.axtriaarsnt__gn_line}<br/>
gn_MicroBrick-{!$Label.axtriaarsnt__gn_microbrick}<br/>
gn_Name-{!$Label.axtriaarsnt__gn_name}<br/>
gn_Original_Calls_Per_Day-{!$Label.axtriaarsnt__gn_original_calls_per_day}<br/>
gn_Output-{!$Label.axtriaarsnt__gn_output}<br/>
gn_Parent-{!$Label.axtriaarsnt__gn_parent}<br/>
gn_Product-{!$Label.axtriaarsnt__gn_product}<br/>
gn_Status-{!$Label.axtriaarsnt__gn_status}<br/>
gn_Updated_Calls_Per_Day-{!$Label.axtriaarsnt__gn_updated_calls_per_day}<br/>
gn_advancedSearch-{!$Label.axtriaarsnt__gn_advancedsearch}<br/>
gn_calls_target-{!$Label.axtriaarsnt__gn_calls_target}<br/>
gn_clear-{!$Label.axtriaarsnt__gn_clear}<br/>
gn_hcpnumber-{!$Label.axtriaarsnt__gn_hcpnumber}<br/>
gn_original1-{!$Label.axtriaarsnt__gn_original1}<br/>
gn_source_position-{!$Label.axtriaarsnt__gn_source_position}<br/>
gn_speciality-{!$Label.axtriaarsnt__gn_speciality}<br/>
inprogress-{!$Label.axtriaarsnt__inprogress}<br/>
lnk_clone-{!$Label.axtriaarsnt__lnk_clone}<br/>
lnk_edit-{!$Label.axtriaarsnt__lnk_edit}<br/>
lnk_publish-{!$Label.axtriaarsnt__lnk_publish}<br/>
lnk_view-{!$Label.axtriaarsnt__lnk_view}<br/>
message-{!$Label.axtriaarsnt__message}<br/>
msg-{!$Label.axtriaarsnt__msg}<br/>
msg_email_sent_call_plan-{!$Label.axtriaarsnt__msg_email_sent_call_plan}<br/>
no_checkbox_selected-{!$Label.axtriaarsnt__no_checkbox_selected}<br/>
nocallplan-{!$Label.axtriaarsnt__nocallplan}<br/>
of-{!$Label.axtriaarsnt__of}<br/>
of_Target_Earnings_lbl-{!$Label.axtriaarsnt__of_target_earnings_lbl}<br/>
ok-{!$Label.axtriaarsnt__ok}<br/>
open_inquiry-{!$Label.axtriaarsnt__open_inquiry}<br/>
please_enter_values_between-{!$Label.axtriaarsnt__please_enter_values_between}<br/>
sales_label_lbl-{!$Label.axtriaarsnt__sales_label_lbl}<br/>
score_and_evualtion_interview_date_error_msg-{!$Label.axtriaarsnt__score_and_evualtion_interview_date_error_msg}<br/>
sp_profile_parameters-{!$Label.axtriaarsnt__sp_profile_parameters}<br/>
submit-{!$Label.axtriaarsnt__submit}<br/>
submitpopup-{!$Label.axtriaarsnt__submitpopup}<br/>
submsg-{!$Label.axtriaarsnt__submsg}<br/>
titl_EditBusinessRuleMatrix-{!$Label.axtriaarsnt__titl_editbusinessrulematrix}<br/>
titl_View_Business_Rule_List-{!$Label.axtriaarsnt__titl_view_business_rule_list}<br/>
titl_newbusinessrulematrix-{!$Label.axtriaarsnt__titl_newbusinessrulematrix}<br/>
titl_viewbusinessrulematrixlist-{!$Label.axtriaarsnt__titl_viewbusinessrulematrixlist}<br/>
transfer_employee-{!$Label.axtriaarsnt__transfer_employee}<br/>
transfer_to_field-{!$Label.axtriaarsnt__transfer_to_field}<br/>
up_to_2_decimal_places-{!$Label.axtriaarsnt__up_to_2_decimal_places}<br/>
upto_2_decimal_places-{!$Label.axtriaarsnt__upto_2_decimal_places}<br/>
uptoo_2_decimal_places-{!$Label.axtriaarsnt__uptoo_2_decimal_places}<br/>
warningg-{!$Label.axtriaarsnt__warningg}<br/>



</apex:page>