<apex:page sidebar="false" standardController="Grid_Master__c" extensions="Grid_Matrix" id="pg" docType="HTML-5.0" showHeader="false">
    <apex:slds />
    <div class="slds-scope">
        <apex:stylesheet value="{!$Resource.customCss}"/>
        <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
        <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
        <apex:form id="fm" >
            <apex:pageMessages id="pgmsg"></apex:pageMessages>
            <apex:outputpanel id="newgrid">
                <apex:outputpanel rendered="{!newgrid}">
                    <div class="slds-page-header slds-p-around_x-small">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="New Business Rule Matrix">{!$Label.titl_newbusinessrulematrix}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="slds-p-vertical_medium">
                        <div class="slds-box slds-box_x-small" >
                            <div class="slds-form slds-form_compound slds-p-bottom_medium">
                                <fieldset class="slds-form-element">
                                    <div class="slds-form-element__group">
                                        <div class="slds-form-element__row">
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.gn_Name}*</label>
                                                <!-- <input class="slds-input" type="text" placeholder="Name" />-->
                                                <apex:inputField value="{!Grid_Master__c.Name}" styleClass="slds-input" id="name" />
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_description}</label>
                                                <!-- <textarea class="slds-textarea" placeholder="Description"></textarea>-->
                                                <apex:inputField value="{!Grid_Master__c.Description__c}" styleClass="slds-textarea" />

                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                               <label class="slds-form-element__label" >Global Rule?</label>
                                            <apex:inputCheckbox value="{!Grid_Master__c.isGlobal__c}" styleClass="slds-input"/>

                                            </div>
                                        </div>
                                        <div class="slds-form-element__row">
                                            <!-- <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_product}</label>
                                                <div class="slds-form-element__control">
                                                    <apex:selectList value="{!Grid_Master__c.Brand__c}" multiselect="false" styleClass="slds-select" size="1">
                                                        <apex:selectOptions value="{!brands}"/>
                                                    </apex:selectList>
                                                </div>
                                            </div> -->
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.gn_Dimension}</label>
                                                <div class="slds-form-element__control">
                                                    <div>
                                                        <apex:inputField value="{!Grid_Master__c.Grid_Type__c}" id="grid_type" styleClass="slds-select gridtyp">
                                                            <apex:actionSupport event="onchange" action="{!show2D}" reRender="defineblock" />
                                                            <!-- Dimensions2,rowsize, -->
                                                        </apex:inputField>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <apex:outputpanel id="defineblock">
                                <apex:outputpanel rendered="{!showdefineblock}">
                                    <div class="slds-form slds-form_compound slds-p-bottom_medium">
                                        <fieldset class="slds-form-element">
                                            <legend class="slds-form-element__label slds-text-title_caps slds-p-bottom_x-small">{!$Label.axtriaarsnt__define_units}:</legend>
                                            <div class="slds-form-element__group">
                                                <div class="slds-form-element__row">
                                                    <div class="slds-form-element slds-size_1-of-3">
                                                        <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension1}</label>
                                                        <div class="slds-grid">
                                                            <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                                <div class="slds-form-element__control">
                                                                    <!--<input class="slds-input" placeholder="Dimension1" value="DAPA_ADOPTION_LEVEL" type="text" />-->
                                                                    <apex:inputText value="{!Grid_Master__c.Dimension_1_Name__c}" styleClass="slds-input dimn1" />
                                                                </div>
                                                            </div>
                                                            <div class="slds-frame slds-size--1-of-3">
                                                                <div class="slds-form-element__control">
                                                                    <div class="slds-select_container">
                                                                        <!--<select class="slds-select">
                                                                            <option>Text</option>
                                                                            <option>Number</option>
                                                                            </select>-->
                                                                        <apex:inputField value="{!Grid_Master__c.DM1_Output_Type__c}" styleClass="slds-select" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <apex:outputPanel styleClass="slds-form-element slds-size_1-of-3" rendered="{!IF(Grid_Master__c.Grid_Type__c == '2D', true, false)}">
                                                        <!-- <apex:outputPanel id="Dimensions2">
                                                            <apex:outputPanel rendered="{!show1}"> --> 
                                                        <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension2}</label>
                                                        <div class="slds-grid">
                                                            <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                                <div class="slds-form-element__control">
                                                                    <!-- <input class="slds-input" placeholder="Dimension2" value="DAPA_CLUSTER_POTENTIAL" type="text" />-->
                                                                    <apex:inputField value="{!Grid_Master__c.Dimension_2_Name__c}" styleClass="slds-input dimn2" />
                                                                </div>
                                                            </div>
                                                            <div class="slds-frame slds-size--1-of-3">
                                                                <div class="slds-form-element__control">
                                                                    <div class="slds-select_container">
                                                                        <!--<select class="slds-select">
                                                                            <option>Text</option>
                                                                            <option>Number</option>
                                                                            </select>-->
                                                                        <apex:inputField value="{!Grid_Master__c.DM2_Output_Type__c}" styleClass="slds-select" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- </apex:outputPanel></apex:outputPanel> -->
                                                    </apex:outputPanel>
                                                    <div class="slds-form-element slds-size_1-of-3">
                                                    </div>
                                                </div>
                                                <div class="slds-form-element__row">
                                                    <div class="slds-form-element  slds-size_1-of-3">
                                                        <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_output}</label>
                                                        <div class="slds-grid">
                                                            <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                                <div class="slds-form-element__control">
                                                                    <!--<input class="slds-input" placeholder="Output" type="text" />-->
                                                                    <apex:inputField value="{!Grid_Master__c.Output_Name__c}" styleClass="slds-input outpt" />
                                                                </div>
                                                            </div>
                                                            <div class="slds-frame slds-size--1-of-3">
                                                                <div class="slds-form-element__control">
                                                                    <div class="slds-select_container">
                                                                        <!--<select class="slds-select">
                                                                            <option>Text</option>
                                                                            <option>Number</option>
                                                                            </select>-->
                                                                        <apex:inputField value="{!Grid_Master__c.Output_Type__c}" styleClass="slds-select" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slds-form-element slds-size_1-of-3">
                                                        <label class="slds-form-element__label">{!$Label.axtriaarsnt__table_size}</label>
                                                                                            <div class="slds-grid">
                                                            <apex:outputPanel styleclass="slds-frame slds-size--1-of-6 slds-p-right_x-small">

                                                                <apex:outputPanel styleClass="slds-form-element__control" rendered="{!IF(Grid_Master__c.Grid_Type__c == '1D', true, false)}">
                                                                    <!--<input class="slds-input" placeholder="" value="5" type="text" />-->
                                                                    <apex:outputText styleClass="slds-input colsize1" value="{!col1}" />
                                                                </apex:outputPanel>
                                                                <apex:outputPanel styleClass="slds-form-element__control" rendered="{!IF(Grid_Master__c.Grid_Type__c == '2D', true, false)}">
                                                                    <!--<input class="slds-input" placeholder="" value="5" type="text" />-->
                                                                    <apex:inputText styleClass="slds-input colsize" value="{!col1}" id="c1"/>
                                                                </apex:outputPanel>
                                                            </apex:outputPanel>
                                                            <span class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default slds-p-top_x-small slds-p-left_x-small">x</span>
                                                            <div class="slds-frame slds-size--1-of-6 slds-p-right_x-small">
                                                                <div class="slds-form-element__control">
                                                                    <!--   <apex:outputPanel id="rowsize">
                                                                        <apex:outputPanel rendered="{!twod}"> -->

                                                                    <!--<input class="slds-input" placeholder="" value="3" type="text" />-->
                                                                    <apex:inputText styleClass="slds-input rowsize" value="{!row1}"  id="r1"/>
                                                                    <!-- </apex:outputPanel>
                                                                        </apex:outputPanel> -->
                                                                </div>
                                                            </div>
                                                            <div class="slds-frame slds-size--4-of-6 slds-text-align_right">
                                                                <!--<button class="slds-button slds-button--neutral slds-button slds-button_brand CreateTable" type="button">Create Table</button>-->
                                                                <!-- <apex:commandButton value="{!$Label.axtriaarsnt__btn_create_table}" reRender="tableblock,tableblock2,pgmsg" action="{!createtable}"  /> -->
                                                                <input type="button" value="{!$Label.axtriaarsnt__btn_create_table}" onClick="creatematrix();" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slds-form-element slds-size_1-of-3">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </apex:outputpanel>
                            </apex:outputpanel>
                            <apex:outputPanel id="tableblock">
                                <apex:outputPanel rendered="{!showoneD}">
                                    <c:Matrix columns="{!col1}" rows="{!row1}" Dimension1="{!Grid_Master__c.Dimension_1_Name__c}" Dimension2="{!Grid_Master__c.Dimension_2_Name__c}"/>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </div>
                    </div>
                    <div class="slds-box slds-box_x-small ">
                        <div class="slds-text-align_center">
                            <!-- <button class="slds-button slds-button--neutral slds-button slds-button_brand" type="button">Save</button> -->
                            <apex:CommandButton Value="{!$Label.axtriaarsnt__btn_save}" onClick="savedetails();" reRender="none" styleClass="slds-button slds-button--neutral slds-button slds-button_brand"/>
                            <!--action="{!save}"  -->
                            <!-- <button class="slds-button slds-button--neutral slds-button slds-button_brand" type="button" onClick="cancell();" >Cancel2</button> -->
                            <apex:commandButton action="{!cancelfun}" value="{!$Label.axtriaarsnt__btn_cancel}" immediate="true" Styleclass="slds-button slds-button--neutral slds-button slds-button_brand"/>
                        </div>
                    </div>
                </apex:outputpanel>
            </apex:outputpanel>
            <!-- End of new grid panel -->
            <!-- Start of View Panel -->
            <apex:outputpanel rendered="{!Viewblock}">
                <div class="slds-page-header slds-p-around_x-small">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="New Business Rule Matrix">Business Rule Matrix</h1>
                        </div>
                    </div>
                </div>
                <div class="slds-p-vertical_medium">
                    <div class="slds-box slds-box_x-small" >
                        <div class="slds-form slds-form_compound slds-p-bottom_medium">
                            <fieldset class="slds-form-element">
                                <div class="slds-form-element__group">
                                    <div class="slds-form-element__row">
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.gn_Name}</label>
                                            <!-- <apex:inputtext value="{!gridmasterlist[0].Name}" styleClass="slds-input" id="vname" disabled="true"/> -->
                                            <input type="text" value="{!gridmasterlist[0].Name}" class="slds-input" id="vname" disabled="true"/>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_description}</label>
                                            <!--  <apex:inputtext value="{!gridmasterlist[0].Description__c}" styleClass="slds-input" disabled="true"/> -->
                                            <input type="text" value="{!gridmasterlist[0].Description__c}" class="slds-input"  disabled="true"/>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                          <label class="slds-form-element__label" >Global Rule?</label>
                                            <apex:inputCheckbox value="{!gridmasterlist[0].isGlobal__c}" styleClass="slds-input" disabled="true"/>

                                        </div>
                                    </div>
                                    <div class="slds-form-element__row">
                                        <!-- <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_product}</label>
                                            <div class="slds-form-element__control">
                                                <input type="text" value="{!gridmasterlist[0].Brand__r.Name}" class="slds-input"  disabled="true"/>
                                            </div>
                                        </div> -->
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension}</label>
                                            <div class="slds-form-element__control">
                                                <!-- <apex:inputText value="{!gridmasterlist[0].Grid_Type__c}" styleClass="slds-input" disabled="true"/> -->
                                                <input type="text" value="{!gridmasterlist[0].Grid_Type__c}" class="slds-input"  disabled="true"/>
                                            </div>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--View Define Unit Section-->
                        <apex:outputpanel id="vdefineblock">
                            <div class="slds-form slds-form_compound slds-p-bottom_medium">
                                <fieldset class="slds-form-element">
                                    <legend class="slds-form-element__label slds-text-title_caps slds-p-bottom_x-small">{!$Label.axtriaarsnt__define_units}</legend>
                                    <div class="slds-form-element__group">
                                        <div class="slds-form-element__row">
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension1}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <!-- <apex:inputText value="{!gridmasterlist[0].Dimension_1_Name__c}" styleClass="slds-input" disabled="true" /> -->
                                                            <input type="text" value="{!gridmasterlist[0].Dimension_1_Name__c}" class="slds-input"  disabled="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-3">
                                                        <div class="slds-form-element__control">
                                                            <div >
                                                                <!-- <apex:inputText value="{!gridmasterlist[0].DM1_Output_Type__c}" styleClass="slds-input"  disabled="true"/>  -->
                                                                <input type="text" value="{!gridmasterlist[0].DM1_Output_Type__c}" class="slds-input"  disabled="true"/>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <apex:outputPanel id="VDimensions2">
                                                    <apex:outputPanel rendered="{!ViewShow2d}">
                                                        <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension2}</label>
                                                        <div class="slds-grid">
                                                            <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                                <div class="slds-form-element__control">
                                                                    <!-- <apex:inputtext value="{!gridmasterlist[0].Dimension_2_Name__c}" styleClass="slds-input" disabled="true"/> -->
                                                                    <input type="text" value="{!gridmasterlist[0].Dimension_2_Name__c}" class="slds-input"  disabled="true"/>
                                                                </div>
                                                            </div>
                                                            <div class="slds-frame slds-size--1-of-3">
                                                                <div class="slds-form-element__control">
                                                                    <div>
                                                                        <!--  <apex:inputText value="{!gridmasterlist[0].DM2_Output_Type__c}" styleClass="slds-input"  disabled="true"/> -->
                                                                        <input type="text" value="{!gridmasterlist[0].DM2_Output_Type__c}" class="slds-input"  disabled="true"/>   
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                        </div>
                                        <div class="slds-form-element__row">
                                            <div class="slds-form-element  slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_output}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <!--  <apex:inputtext value="{!gridmasterlist[0].Output_Name__c}" styleClass="slds-input" disabled="true"/> -->
                                                            <input type="text" value="{!gridmasterlist[0].Output_Name__c}" class="slds-input"  disabled="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-3">
                                                        <!-- <label class="slds-form-element__label">Output Type</label> -->
                                                        <div class="slds-form-element__control">
                                                            <!-- <div class="slds-select_container"> -->
                                                            <!-- <apex:inputtext value="{!gridmasterlist[0].Output_Type__c}" styleClass="slds-input" disabled="true"/> -->
                                                            <input type="text" value="{!gridmasterlist[0].Output_Type__c}" class="slds-input"  disabled="true"/>
                                                            <!-- </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.Table_Size}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--1-of-6 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <!-- <apex:input styleClass="slds-input colsize" value="{!gridmasterlist[0].Col__c}" id="Vc1" disabled="true"/> -->
                                                            <input type="text" value="{!gridmasterlist[0].Col__c}" class="slds-input"  disabled="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-6 slds-p-right_x-small">
                                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                                                            <apex:outputPanel id="Vrowsize">
                                                                <apex:outputPanel rendered="{!Viewrowsiz}">
                                                                    <span class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default">x</span>
                                                                    <!-- <apex:input styleClass="slds-input rowsize" value="{!gridmasterlist[0].Row__c}"  id="Vr1" disabled="true"/> -->
                                                                    <input type="text" value="{!gridmasterlist[0].Row__c}" class="slds-input"  disabled="true"/>
                                                                </apex:outputPanel>
                                                            </apex:outputPanel>
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--4-of-6 slds-text-align_right">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </apex:outputpanel>
                        <!-- View Mode Component Call -->
                        <c:Matrix columns="{!gridmasterlist[0].Col__c}" rows="{!gridmasterlist[0].Row__c}" Dimension1="{!gridmasterlist[0].Dimension_1_Name__c}" Dimension2="{!gridmasterlist[0].Dimension_2_Name__c}" comp="{!comp}"/>
                    </div>
                </div>
                <div class="slds-box slds-box_x-small ">
                    <div class="slds-text-align_center">
                        <apex:commandButton action="{!cancelfun}" immediate="true" value="{!$Label.axtriaarsnt__btn_cancel}" Styleclass="slds-button slds-button--neutral slds-button slds-button_brand" rerender="pgmsg"/>
                    </div>
                </div>
            </apex:outputpanel>
            <!--  End of ViewPanel-->
            <!-- Start of EditPanel -->
            <apex:outputpanel id="Editgrid" rendered="{!Editblock}">
                <div class="slds-page-header slds-p-around_x-small">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="New Business Rule Matrix"> {!$Label.titl_EditBusinessRuleMatrix}</h1>
                        </div>
                    </div>
                </div>
                <div class="slds-p-vertical_medium">
                    <div class="slds-box slds-box_x-small" >
                        <div class="slds-form slds-form_compound slds-p-bottom_medium">
                            <fieldset class="slds-form-element">
                                <div class="slds-form-element__group">
                                    <div class="slds-form-element__row">
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.gn_Name}</label>
                                            <apex:inputtext value="{!gridmasterlist[0].Name}" styleClass="slds-input Gname" id="Ename" disabled="true"/>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_description}</label>
                                            <apex:inputtext value="{!gridmasterlist[0].Description__c}" styleClass="slds-input Gdesc" disabled="true"/>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                           <label class="slds-form-element__label" >Global Rule?</label>
                                            <apex:inputCheckbox value="{!gridmasterlist[0].isGlobal__c}" disabled="true" styleClass="slds-input"/>

                                        </div>
                                    </div>
                                    <div class="slds-form-element__row">
                                        <!-- <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_product}</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputText value="{!gridmasterlist[0].Brand__r.Name}" styleClass="slds-input Brand" disabled="true"/>
                                            </div>
                                        </div> -->
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension}</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputText value="{!gridmasterlist[0].Grid_Type__c}" styleClass="slds-input gridtyp" disabled="true"/>
                                            </div>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--Edit Define Unit Section-->
                        <apex:outputpanel id="Edefineblock">
                            <div class="slds-form slds-form_compound slds-p-bottom_medium">
                                <fieldset class="slds-form-element">
                                    <legend class="slds-form-element__label slds-text-title_caps slds-p-bottom_x-small">{!$Label.axtriaarsnt__define_units}</legend>
                                    <div class="slds-form-element__group">
                                        <div class="slds-form-element__row">
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension1}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <apex:inputText value="{!gridmasterlist[0].Dimension_1_Name__c}" styleClass="slds-input dim1" disabled="true" />
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-3">
                                                        <div class="slds-form-element__control">
                                                            <div>
                                                                <apex:inputtext value="{!gridmasterlist[0].DM1_Output_Type__c}" styleClass="slds-select" disabled="true"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <apex:outputPanel id="EDimensions2">
                                                    <apex:outputPanel rendered="{!ViewShow2d}">
                                                        <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension2}</label>
                                                        <div class="slds-grid">
                                                            <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                                <div class="slds-form-element__control">
                                                                    <apex:inputtext value="{!gridmasterlist[0].Dimension_2_Name__c}" styleClass="slds-input dim2" disabled="true"/>
                                                                </div>
                                                            </div>
                                                            <div class="slds-frame slds-size--1-of-3">
                                                                <div class="slds-form-element__control">
                                                                    <div>
                                                                        <apex:inputtext value="{!gridmasterlist[0].DM2_Output_Type__c}" styleClass="slds-select" disabled="true" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                        </div>
                                        <div class="slds-form-element__row">
                                            <div class="slds-form-element  slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_output}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <apex:inputtext value="{!gridmasterlist[0].Output_Name__c}" styleClass="slds-input oput" disabled="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-3">
                                                        <!-- <label class="slds-form-element__label">Output Type</label> -->
                                                        <div class="slds-form-element__control">
                                                            <!-- <div class="slds-select_container"> -->
                                                            <apex:inputtext value="{!gridmasterlist[0].Output_Type__c}" styleClass="slds-input oputtyp" disabled="true"/>
                                                            <!-- </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.Table_Size}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--1-of-6 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <!-- <apex:inputtext styleClass="slds-input colsize" value="{!gridmasterlist[0].Col__c}" id="Ec1" disabled="true"/> -->
                                                            <input type="text" value="{!gridmasterlist[0].Col__c}" Class="slds-input colsize" id="Ec1" disabled="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-6 slds-p-right_x-small">
                                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                                                            <apex:outputPanel id="Erowsize">
                                                                <apex:outputPanel rendered="{!Viewrowsiz}">
                                                                    <span class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default">x</span>
                                                                    <!-- <apex:inputtext styleClass="slds-input rowsize" value="{!gridmasterlist[0].Row__c}"  id="Er1" disabled="true"/> -->
                                                                    <input type="text" value="{!gridmasterlist[0].Row__c}" Class="slds-input rowsize" id="Er1" disabled="true"/>                                                
                                                                </apex:outputPanel>
                                                            </apex:outputPanel>
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--4-of-6 slds-text-align_right">
                                                        <!-- <apex:commandButton value="Create Table"  action="{!createtable}"  /> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </apex:outputpanel>
                        <!-- Edit End of Dimension unit section -->
                        <!-- Edit mode Two Dimension table stars from here  -->
                        <apex:outputPanel id="Etableblock">
                            <c:Matrix columns="{!gridmasterlist[0].Col__c}" rows="{!gridmasterlist[0].Row__c}" Dimension1="{!gridmasterlist[0].Dimension_1_Name__c}" Dimension2="{!gridmasterlist[0].Dimension_2_Name__c}" comp="{!comp}"/>
                        </apex:outputPanel>
                    </div>
                </div>
                <div class="slds-box slds-box_x-small ">
                    <div class="slds-text-align_center">
                        <button class="slds-button slds-button--neutral slds-button slds-button_brand" type="button" onClick="updategrid(); return false;" reRender="none">{!$Label.axtriaarsnt__btn_save}</button>
                        <!-- <button class="slds-button slds-button--neutral slds-button slds-button_brand" type="button" onClick="cancell();" >Cancel</button> -->
                        <apex:commandButton action="{!cancelfun}" value="{!$Label.axtriaarsnt__btn_cancel}" immediate="true" Styleclass="slds-button slds-button--neutral slds-button slds-button_brand"/>
                    </div>
                </div>
            </apex:outputpanel>
            <!-- Start of ClonePanel -->
            <apex:outputpanel id="Clonegrid" rendered="{!Cloneblock}">
                <div class="slds-page-header slds-p-around_x-small">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="New Business Rule Matrix">{!$Label.titl_newbusinessrulematrix}</h1>
                        </div>
                    </div>
                </div>
                <div class="slds-p-vertical_medium">
                    <div class="slds-box slds-box_x-small" >
                        <div class="slds-form slds-form_compound slds-p-bottom_medium">
                            <fieldset class="slds-form-element">
                                <div class="slds-form-element__group">
                                    <div class="slds-form-element__row">
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.gn_Name}</label>
                                            <apex:inputField value="{!gridmasterlist[0].Name}" styleClass="slds-input" id="Cname" />
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_description}</label>
                                            <apex:inputField value="{!gridmasterlist[0].Description__c}" styleClass="slds-input" />
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                           <label class="slds-form-element__label" >Global Rule?</label>
                                            <apex:inputCheckbox value="{!gridmasterlist[0].isGlobal__c}" disabled="true" styleClass="slds-input"/>

                                        </div>
                                    </div>
                                    <div class="slds-form-element__row">
                                       <!--  <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_product}</label>
                                            <div class="slds-form-element__control">
                                                <apex:selectList value="{!gridmasterlist[0].Brand__c}" multiselect="false" styleClass="slds-select" size="1">
                                                        <apex:selectOptions value="{!brands}"/>
                                                    </apex:selectList>
                                            </div>
                                        </div> -->
                                        <div class="slds-form-element slds-size_1-of-3">
                                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension}</label>
                                            <div class="slds-form-element__control">
                                                <div class="slds-select_container">
                                                    <apex:inputField value="{!gridmasterlist[0].Grid_Type__c}" styleClass="slds-select gridtyp" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-3">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--Clone Define Unit Section-->
                        <apex:outputpanel id="Cdefineblock">
                            <div class="slds-form slds-form_compound slds-p-bottom_medium">
                                <fieldset class="slds-form-element">
                                    <legend class="slds-form-element__label slds-text-title_caps slds-p-bottom_x-small">{!$Label.axtriaarsnt__define_units}:</legend>
                                    <div class="slds-form-element__group">
                                        <div class="slds-form-element__row">
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension1}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <apex:inputField value="{!gridmasterlist[0].Dimension_1_Name__c}" styleClass="slds-input dimn1" />
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-3">
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-select_container">
                                                                <apex:inputField value="{!gridmasterlist[0].DM1_Output_Type__c}" styleClass="slds-select" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                                 <apex:outputPanel id="CDimensions2">
                                                    <apex:outputPanel rendered="{!ViewShow2d}">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_dimension2}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <apex:inputField value="{!gridmasterlist[0].Dimension_2_Name__c}" styleClass="slds-input dimn2"/>
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-3">
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-select_container">
                                                                <apex:inputField value="{!gridmasterlist[0].DM2_Output_Type__c}" styleClass="slds-select" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </apex:outputPanel></apex:outputPanel>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                        </div>
                                        <div class="slds-form-element__row">
                                            <div class="slds-form-element  slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_output}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--2-of-3 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <apex:inputField value="{!gridmasterlist[0].Output_Name__c}" styleClass="slds-input outpt" />
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-3">
                                                        <!-- <label class="slds-form-element__label">Output Type</label> -->
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-select_container">
                                                                <apex:inputField value="{!gridmasterlist[0].Output_Type__c}" styleClass="slds-select" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                                <label class="slds-form-element__label">{!$Label.Table_Size}</label>
                                                <div class="slds-grid">
                                                    <div class="slds-frame slds-size--1-of-6 slds-p-right_x-small">
                                                        <div class="slds-form-element__control">
                                                            <input type="text" Class="slds-input colsize" value="{!gridmasterlist[0].Col__c}" id="Cc1" />
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--1-of-6 slds-p-right_x-small">
                                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                                                            <span class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default">x</span>
                                                            <input type="text" Class="slds-input rowsize" value="{!gridmasterlist[0].Row__c}"  id="Cr1" />
                                                        </div>
                                                    </div>
                                                    <div class="slds-frame slds-size--4-of-6 slds-text-align_right">
                                                        <!-- <apex:commandButton value="Create Table"  action="{!createtable2}" reRender="newgridtbl,Ctableblock" />  -->
                                                        <apex:commandButton value="{!$Label.axtriaarsnt__btn_create_table}"    onClick="newtable();" reRender="None"/>
                                                        <!-- reRender="newgridtbl,Ctableblock" onClick="newtable(); "-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form-element slds-size_1-of-3">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </apex:outputpanel>
                        <apex:outputpanel id="clonematrix">
                            <apex:outputPanel rendered="{!View2Dtable}">
                                <c:Matrix columns="{!gridmasterlist[0].Col__c}" rows="{!gridmasterlist[0].Row__c}" Dimension1="{!gridmasterlist[0].Dimension_1_Name__c}" Dimension2="{!gridmasterlist[0].Dimension_2_Name__c}" comp="{!comp}"/>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!newtbl}">
                                <c:Matrix columns="{!gridmasterlist[0].Col__c}" rows="{!gridmasterlist[0].Row__c}" Dimension1="{!gridmasterlist[0].Dimension_1_Name__c}" Dimension2="{!gridmasterlist[0].Dimension_2_Name__c}" comp="{!comp}"/>
                                <div id="newtabl"></div>
                            </apex:outputPanel>
                        </apex:outputpanel>
                        <!--  End of Clone Panel-->
                    </div>
                </div>
                <div class="slds-box slds-box_x-small ">
                    <div class="slds-text-align_center">
                        <button  onClick="Clone();" type="button" Class="slds-button slds-button--neutral slds-button slds-button_brand">{!$Label.axtriaarsnt__btn_save}</button><!--  Class="slds-button slds-button--neutral slds-button slds-button_brand"-->
                        <apex:CommandButton Value="{!$Label.axtriaarsnt__btn_cancel}" action="{!cancelfun}" immediate="true" styleClass="slds-button slds-button--neutral slds-button slds-button_brand"/>
                    </div>
                </div>
            </apex:outputpanel>
            <apex:actionFunction action="{!savegriddetail}" name="savegrid" rerender="None">
                <apex:param name="JSONdata"  value="JSONdata" assignTo="{!JSONdata}" />
                <!--  assignTo="{!JSONdata}"-->
            </apex:actionFunction>
            <apex:actionfunction action="{!updategrid}" name="updatedata" rerender="None">
                <apex:param name="JSONdata"  value="JSONdata" assignTo="{!JSONdata}" />
            </apex:actionfunction>
            <apex:actionfunction name="recreatematrix" action="{!createtable2}" rerender="clonematrix" >
                <apex:param name="row1" value="row" assignTo="{!row1}"/>
                <apex:param name="col1" value="col" assignTo="{!col1}"/>
            </apex:actionfunction>
            <apex:actionfunction name="cancelfun" action="{!cancelfun}"/>
            <apex:actionfunction name="Clonegrid" action="{!Clonegriddetails}" rerender="pgmsg">
                <apex:param name="JSONdata" value="JSONdata" assignTo="{!JSONdata}"/>
            </apex:actionfunction>
            <!-- <apex:actionFunction name="callcancel" action="{!cancelfunc2}" /> -->
            <apex:actionfunction name="newmatrix" action="{!createtable}" rerender="tableblock,tableblock2,pgmsg"/>
            <script>
                var $j = jQuery.noConflict();
                   $j(document).ready(function() {
                      
                   });
                window.savedetails = function(){
                   // console.log('---Savegrid called---');
                //added by siva on 25-10-17
                var grid= $j(".gridtyp").val();
                var flag;

                var name =  $j("[id$='name']").val();

                if(name == null || name == undefined || name == '')
                {
                    alert('Invalid Matrix Name');
                }
                else
                {
                    flag=validate2D();
                    if(flag){
                        console.log('---all validation passed Siva--');
                        var myJSOND=save();
                        console.log(myJSOND);
                        savegrid(myJSOND);
                    }

                }
                 //var myJSOND=save();
                 //console.log('---returned from Component JS Function---');
                 //console.log('---myJSOND:for insertion:');
                 //console.log(myJSOND);
                // savegrid(myJSOND);
                }
                /*function validate1D(){
                    var grid= $j(".gridtyp").val();
                    console.log('--Grid is:'+grid);
                    var j = $j(".rowsize").val();
                    
                    if(grid == '1D'){
                        var i = $j(".colsize1").val();
                        i=1;
                    }
                    else{
                        var i = $j(".colsize").val();
                    }
                    i=Number(i)+1; 
                    j=Number(j)+1;
                    var falg=0;
                    console.log('i=========='+i);
                    console.log('j=========='+j);
                   outerloop1: for(var k=2;k<=j;k++){
                        console.log('jnew=========='+j);
                        for(var l=1;l<=i;l++){
                                if(k==1 && l==1){
                                    console.log('inside+++++++++++'+ k + l);
                                }
                                else{
                                    
                                        console.log('k_l==='+k+'_'+l);
                                        //console.log('l=========='+l);
                                        var DM1 = $j(".tdvalue"+k+1+' '+'input').val();
                                        l=l+1;
                                        var DM2 = $j(".tdvalue1"+l+' '+'input').val();
                                        var out = $j(".tdvalue"+k+l+' '+'input').val();
                                        console.log('---DM1:DM2:Out::::'+DM1+':'+DM2+':'+out);
                                       // console.log('---DM2===='+DM2);
                                       // console.log('---out is:'+out);
                                        var x=k+'_'+l;
                                        if(DM1 == null || DM1 =='' || DM1=='undefined'){
                                            alert('Please Fill Row Header');
                                            return false;
                                            break outerloop1;
                                        }
                                        else if(DM2 == null || DM2 =='' || DM2=='undefined' ){
                                            
                                            alert('Please Fill Column Header');
                                            return false;
                                            break outerloop1;
                                        }
                                       else if(out ==null || out == '' || out=='undefined'){
                                            //falg=1;
                                            alert('Please Fill All Values in Matrices');
                                            return false;
                                            break outerloop1;
                                        }
                                                                 
                                }
                            }
                        }
                        //end by siva
                       return true;
                
                }*/
                function validate2D(){
                    console.log('---inside validate3')
                    var grid= $j(".gridtyp").val();
                    console.log('--Grid is:'+grid);
                    var j = $j(".rowsize").val();
                    
                    if(grid == '1D'){
                        var i = $j(".colsize1").val();
                        i=1;
                    }
                    else{
                        var i = $j(".colsize").val();
                    }
                    i=Number(i)+1; 
                    j=Number(j)+1;
                    var falg2=0;
                    console.log('i=========='+i);
                    console.log('j=========='+j);
                   outerloop: for(k=1;k<=j;k++){
                        for(m=1;m<=i;m++){
                            var xy=k+'_'+m;
                            if(xy!='1_1'){
                            var data=$j(".tdvalue"+k+m+' '+'input').val();
                            console.log('----k_m:data='+k+'_'+m+':'+data);
                            if(data== null || data=='' || data=='undefined'){
                                
                                alert('Please Fill all Data ');
                                return false;
                                break outerloop;
                            }
                        }
                        }
                    }
                   // console.log('==insive validate2D flag is:'+flag2);
                    return true;
                
                }
                window.updategrid = function(){
                    var flag;
                    flag=validateEdit();
                    if(flag){
                        console.log('---update grid details');
                        var myJSOND=update();
                        console.log('--returned from component with data');
                        console.log('---myJSOND:for update-');
                        console.log(myJSOND);
                        updatedata(myJSOND);
                    }
                }
                
                function newtable(){
                    var y=validate();
                    if(y){
                    var newtbl=true;
                    var rows=$j(".rowsize").val();
                    var cols=$j(".colsize").val();
                    console.log('--calling component js function--');
                    console.log('--------new rows are::'+rows);
                    console.log('--------new cols are::'+cols);
                    //var tab//tab.appendTo("#newtabl");
                    recreatematrix(rows,cols);
                    //recreateTable(rows,cols);
                    console.log('--returned from js function');
                    }
                }
                function cancell(){
                    console.log('--CAlling controller method--');
                    callcancel();
                    console.log('--returned from controller');
                }
                function Clone(){
                    console.log('---Clonegrid---');
                    var flag;
                    flag=validateclone();
                    if(flag){
                         var myJSOND=saveas();
                         console.log('--returned from component with data');
                         console.log('---myJSOND:for update-');
                         console.log(myJSOND);
                         console.log('--Calling controller method;:::');
                         Clonegrid(myJSOND);
                    }
                }
                
                function validateclone(){
                    console.log('---inside validateclone')
                    var grid= $j(".gridtyp").val();
                    console.log('--Grid is:'+grid);
                    var j = $j(".rowsize").val();
                    var i = $j(".colsize").val();
                    /*if(grid == '1D'){
                        var i = $j(".colsize1").val();
                        i=1;
                    }
                    else{
                        var i = $j(".colsize").val();
                    }*/
                    i=Number(i)+1; 
                    j=Number(j)+1;
                    var falg2=0;
                    console.log('i=========='+i);
                    console.log('j=========='+j);
                   outerloop: for(k=1;k<=j;k++){
                        for(m=1;m<=i;m++){
                            var xy=k+'_'+m;
                            if(xy!='1_1'){
                                console.log('.tdValue'+k+m); 
                            var data=$j(".tdValue"+k+m).val();
                            console.log('----k_m:data='+k+'_'+m+':'+data);
                            if(data== null || data=='' || data=='undefined'){
                                
                                alert('Please Fill all Data ');
                                return false;
                                break outerloop;
                            }
                        }
                        }
                    }
                   return true;
                
                }
                function validateEdit(){
                    console.log('---inside ValidateEdit')
                    var grid= $j(".gridtyp").val();
                    console.log('--Grid is:'+grid);
                    var j = $j(".rowsize").val();
                    var i = $j(".colsize").val();
                    i=Number(i)+1; 
                    j=Number(j)+1;
                    var falg2=0;
                    console.log('i=========='+i);
                    console.log('j=========='+j);
                   outerloop: for(k=1;k<=j;k++){
                        for(m=1;m<=i;m++){
                            //var xy=k+'_'+m;
                            if(m!=1 && k!=1){
                                console.log('.tdValue'+k+m); 
                            var data=$j(".tdValue"+k+m).val();
                            console.log('----k_m:data='+k+'_'+m+':'+data);
                            if(data== null || data=='' || data=='undefined'){
                                
                                alert('Please Fill all Data ');
                                return false;
                                break outerloop;
                            }
                        }
                        }
                    }
                   return true;
                
                }
                function creatematrix(){
                console.log('Creatematrix called');
                var x=validate();
                console.log('------XXXX:'+x)
                if(x){
                newmatrix();
                }
                }
                function validate(){
                
                var d1= $j(".dimn1").val();
                var d2 = $j(".dimn2").val();
                var op = $j(".outpt").val();
                var row = $j(".rowsize").val();
                var col = $j(".colsize").val();
                var type = $j('[id*="grid_type"]').val();
                
                if(d1 == null || d1 == ''){
                    alert('Please Enter Dimension1 ');
                    return false;
                }
                else if(type == '2D' && (d2 == null || d2 == '')){
                    alert('Please Enter Dimension2 ');
                    return false;
                }
                else if(op == null || op == ''){
                    alert('Please Enter Out Put value ');
                    return false;
                }
                else if(type == '2D' && (col == null || col == '')){
                    alert('Please Enter Col Value ');
                    return false;
                }
                else if(row == null || row == ''){
                    alert('Please Enter Row Value ');
                    return false;
                }
                if(col<=0){
                    alert('Please enter appropriate value In Column section ');
                    return false;
                }
                else if(row<=0){
                    alert('Please enter appropriate value in Row Section');
                    return false;
                }
                else
                    return true;
                }
            </script>
        </apex:form>
    </div>
</apex:page>