<apex:page controller="GenerateCRReport" sidebar="false" id="page" doctype="html-5.0">
    <apex:slds />
    <!--<apex:stylesheet value="{!$Resource.AxtriaSalesIQTM__orignal}" />
    <apex:stylesheet value="{!URLFOR($Resource.AxtriaSalesIQTM__iconsimage, 'icons-image/icons.css')}" />-->
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
    <!--<apex:styleSheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" />-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    
    
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'dataTables.fixedColumns.min.js')}" />
    
    <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" />
    <apex:includeScript value="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js" />

    <apex:stylesheet value="{!URLFOR($Resource.dataTables,'jquery.dataTables.css')}" />
    <!-- <apex:stylesheet value="{!$Resource.appCss}"/> -->
    <apex:stylesheet value="{!$Resource.customCss}"/>
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    
    <apex:includeScript value="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" />
    <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" />
    <apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" />
    <apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" />
    
    <style>
        .hide-date{
            display : none;
        }
        .metricsPanel .slds-text-body_regular .slds-truncate { float: left;  margin-right: 5px; }
        .calltable {}
        .slds-scope .slds-table.calltable { background-color: transparent; }
        .slds-scope .data4 .slds-table.calltable tr {   line-height: initial; } 
        .slds-scope .slds-table.calltable td { padding: 0px; }
            .data4 .slds-text-heading_large { text-align: center; width: 100%; float: none; }
            .data4 .slds-float_right.slds-text-body_regular { width: 100%; }
        
    </style>
    <div class="slds-scope"> 
    <apex:form >
        <apex:outputPanel id="buttonsPanel" >
                <apex:commandButton value="{!$Label.axtriaarsnt__btn_download}" styleClass="slds-button slds-button_brand" onclick="DownloadFile();" id="downloadButton"  title="Download Call plan Status"   rerender="none" />
        </apex:outputPanel>
        <apex:outputPanel id="divTableWrapper"> 
            <div id="divTable"    class="slds-scrollable" style="width: calc(100vw - 60px);" >
                    <table id="table1" style = "width: 100%" class="table-example slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered slds-table_striped" >
                   </table>
            </div>
        </apex:outputPanel> 
        <script>
             
                var sessionTable;
                var $j = jQuery.noConflict();
                $j(function() {
             //   try{
                     sessionTable = $j('#table1').DataTable({
                            "info": false,
                            "searching": true,
                            "lengthChange": false,
                            "pageLength": 50,
                            "processing": false,
                            "dom": '<"div-pg"><"div-search"f><"div-tbl"p>t<"bottom-info">', // f search, p :- pagination , l:- page length 
                            "data": {!dataString},
                            paging: true,
                           
                            "bAutoWidth": true,
                            scrollY: "500px",
                            scrollX: true,
                            scrollCollapse : true,
                            "language": {
                        "emptyTable": "No data Found ",
                            "search" : "SEARCH",
                            "paginate": {
                              "previous": "Previous",
                              "next":"Next"
                            }
                        },

                        buttons: [{
                                //extend: isIE ? 'csvHtml5' : 'excelHtml5',
                                extend : 'csv',
                                text : '',
                                title : 'Rep Report Summary',
                                customize: function (csv) {
                                        var split_csv = csv.split("\n");
                 
                                        $j.each(split_csv.slice(0), function (index, csv_row) {
                                                //Split on quotes and comma to get each cell
                                                var csv_cell_array = csv_row.split(',');
                                                
                                               /* for(var i = 0 ; i< csv_cell_array.length; i++)
                                                {
                                                    var value = csv_cell_array[i];
                                                    console.log(value);
                                                    csv_cell_array[i] = '\"' + value + '\"';
                                                }*/
                                        
                                                //Join the table on the quotes and comma; add back the quotes at the beginning and end
                                                /*if('{!userLocale}' == 'en_US')
                                                    csv_cell_array_quotes =  csv_cell_array.join(',');
                                                else*/
                                                    csv_cell_array_quotes =  csv_cell_array.join('{!fileDelimiter}');
                                                console.log(csv_cell_array_quotes);
                 
                                                split_csv[index] = csv_cell_array_quotes;
                                        });
                 
                                        //Join the rows with line breck and return the final csv (datatables will take the returned csv and process it)
                                        csv = split_csv.join("\n");
                                        return csv;
                                }
                                
                            }],
                           "columns" :
                           [
                                {'title' : 'FLSM ' , 'data' : 'parentName', defaultContent : ''},
                                {'title' : 'Territory ID ' , 'data' : 'territoryID', defaultContent : ''},
                                {'title' : 'Employee ' , 'data' : 'repName', defaultContent : ''},
                                
                                {'title' : "N. CR" , 'data' : 'totalCRs', defaultContent : ''},
                                {'title' : "CR Status" , 'data' : 'latestCRStatus', defaultContent : ''},
                                {'title' : "Submitted By" , 'data' : 'submittedBy', defaultContent : ''},
                            {'title' : "Submitted On" , 'data' : 'submittedDate', render : function(data, type, row) {return data == null ? '' :'<span class="hide-date" >' + data + '</span>' + moment(data).format('DD/MM/YYYY');}, defaultContent : ''},
                           ]
                     });
                   /* }catch(e){
                        console.log(e);
                        $j('#table1').html('<center>This report has no results. Adjust settings and filters if you need to.</center>');  
                    }*/
                });
             </script>
        <script>
            
            function DownloadFile() 
                {
                    
                                sessionTable.buttons('.buttons-csv').trigger();
                    
                }
        </script>
       </apex:form>  
    </div>
</apex:page>