<apex:page controller="RedirectToReport" sidebar="false">
    <apex:slds />
    <div class="slds-scope">
        <apex:stylesheet value="{!$Resource.customCss}"/>
        <apex:form >
            <style>
                label{font-weight: 600 !important; font-size:13px;}
                h1{    font-size: 18px !important;
                margin-bottom: 20px !important;}
                .clear20{
                clear: both;
                height: 20px;
                }
            </style>
            <div>
                <div class="slds-page-header">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-opportunity" title="">
                            <apex:inputField value="{!Country.AxtriaSalesIQTM__Country_Flag__c}" />
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Rohde Corp - 80,000 Widgets">{!Country.Name}
                            <p class="slds-text-body_small slds-line-height_reset">{!$Label.RP_Report}</p></h1>
                        </div>
                    </div>
                </div>

                <!-- Alignment Reports for NOn HO  here -->
                <apex:outputPanel rendered="{!IF((gProfileName !='HO' || gProfileName!='HO1' || gProfileName!='System Administrator'),true,false)}">

                    <div class="clear20"></div>

                    <div class="slds-box" style="height: 150px;">
                        <h1>{!$Label.RP_Alignment_Report}</h1>
                        <div class="slds-grid slds-p-bottom_x-small">
                            <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">{!$Label.RP_TeamInstance}</label>
                                    <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                                        <apex:outputPanel id="BUDropDown2" layout="block">
                                            <apex:selectList styleclass="slds-select" value="{!buSelectedA}" size="1" >
                                                <apex:actionSupport event="onchange" action="{!buChangedA}" rerender="reports2" />
                                                <apex:selectOptions value="{!allbu}" />
                                            </apex:selectList>
                                        </apex:outputPanel>
                                    </apex:outputPanel> 
                                </div>
                            </div>
                            <div class="slds-frame slds-size--1-of-5 slds-p-right_xx-small">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">Report</label>
                                    <div class="slds-form-element__control">
                                        <apex:outputPanel >
                                            <apex:selectList styleclass="slds-select" id="reports2" value="{!reportnameA}" onChange="disableLine(this);" size="1" >
                                                <apex:selectOptions value="{!allreportsA}" />
                                            </apex:selectlist>
                                        </apex:outputPanel>          
                                    </div>
                                </div>
                            </div>  
                            <apex:actionFunction name="updateSelectedLine" rerender="none">
                                <apex:param name="param1" assignTo="{!lineSelected}" value="" />
                            </apex:actionFunction>
                     
                             
                            <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">
                                <apex:commandButton styleclass="slds-button slds-button_brand" action="{!openReport}" value="Run Report" id="theButton3"/>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
                <script>
                    function changedLine(changedRec)
                    {
                        console.log(changedRec);
                        var e = document.getElementById("j_id0:j_id4:lineSelectedOption");
                        var strUser = e.options[e.selectedIndex].value;
                        updateSelectedLine(strUser);
                        console.log(strUser);
                    }
                    
                    function changedBrand(changedRec)
                    {
                        console.log(changedRec);
                     /*   var e = document.getElementById("j_id0:j_id4:BrandDropDown");
                        var strUser = e.options[e.selectedIndex].value;
                        updateSelectedLine(strUser);
                        console.log(strUser);*/
                    }
                    
                    function disableLine(changedRec)
                    {
                        console.log(changedRec);
                        var e = document.getElementById("j_id0:j_id4:reports");
                        var strUser = e.options[e.selectedIndex].value;
                        disableLineAct(strUser);
                        console.log(strUser);
                    }
                    function disableLine(changedRec)
                    {
                        console.log(changedRec);
                        var e = document.getElementById("j_id0:j_id4:reportsRoster");
                        var strUser = e.options[e.selectedIndex].value;
                        disableLineAct(strUser);
                        console.log(strUser);
                    }
                </script>

                <!-- Call Plan Reports -->
                <apex:outputPanel rendered="{!isCallSectionVisible}">

                    <div class="clear20"></div>

                    <div class="slds-box" style="height: 150px;">
                        <h1>{!$Label.RP_Call_Plan_Report}</h1>
                        <div class="slds-grid slds-p-bottom_x-small">
                            <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">{!$Label.RP_TeamInstance}</label>
                                    <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                                        <apex:outputPanel id="BUDropDown" layout="block">
                                            <apex:selectList styleclass="slds-select" value="{!teamInsSelected}" size="1" >
                                                <apex:actionSupport event="onchange" action="{!buChanged_CallPlan}" rerender="reports" />
                                                <apex:selectOptions value="{!allTeamInsList}" />
                                            </apex:selectList>
                                        </apex:outputPanel>
                                    </apex:outputPanel> 
                                </div>
                            </div>
                            <div class="slds-frame slds-size--1-of-5 slds-p-right_xx-small">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">Report</label>
                                    <div class="slds-form-element__control">
                                        <apex:outputPanel >
                                            <apex:selectList styleclass="slds-select" id="reports" value="{!reportname_CallPlan}" size="1" >
                                                <apex:selectOptions value="{!allreports_CallPlan}" />
                                            </apex:selectlist>
                                        </apex:outputPanel>          
                                    </div>
                                </div>
                            </div>                       
                             
                            <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">
                                <apex:commandButton styleclass="slds-button slds-button_brand" action="{!openReport_CallPlan}" value="Run Report" id="theButton"/>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
                <!--Roster Reports-->
                <apex:outputPanel rendered="{!isRosterSectionVisible}">

                    <div class="clear20"></div>

                    <div class="slds-box" style="height: 150px;">
                        <h1>Roster Reports</h1>
                        <div class="slds-grid slds-p-bottom_x-small">
                            
                            <div class="slds-frame slds-size--1-of-5 slds-p-right_xx-small">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">Reports</label>
                                    <div class="slds-form-element__control">
                                        <apex:outputPanel >
                                            <apex:selectList styleclass="slds-select" id="reportsRoster" value="{!reportname_Roster}" size="1" >
                                                <apex:selectOptions value="{!allreports_Roster}" />
                                            </apex:selectlist>
                                        </apex:outputPanel>          
                                    </div>
                                </div>
                            </div>                       
                             
                            <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">
                                <apex:commandButton styleclass="slds-button slds-button_brand" action="{!openReport_Roster}" value="Run Report" id="theButton4"/>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
            </div> 
        </apex:form>
    </div>
</apex:page>