.THIS .card { width: 100%; }
.THIS .card li {

    width: 120px;
    margin-right: .2rem;
    float: right;
    display: inline; 
    height: 90px;
    position: relative;
    cursor: pointer;
}
.THIS .card li:last-child{ width: 120px; margin-right: 0; }
.THIS .card li.slds-theme--shade {
    cursor: unset;
}
.THIS .slds-box:hover {
    background-color: #f4f6f9;
    text-decoration: none;
}
.THIS .card.slds-has-dividers--around-space > .slds-item + .slds-item { margin-top: 0; }
.THIS .card .title { font-size: .7rem !important; }
.THIS .card .count { font-weight: 600; position: absolute; bottom: 8px; }
.THIS .dataTables_filter { float: left; }
.THIS .tablesection  { margin-top: -32px; float: left; width: 100%; }
.THIS input[type="search"] {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 100%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS .card li{width:120px !important;}
.THIS .white_wrapper{background:#fff !important;}
.THIS #table-1_wrapper{background:#fff !important; padding: 8px !important;}
.THIS .flagImageClass
{
    height: auto;
    width: 2%;
}
.THIS span.slds-text-heading--label.countryclass
{
    margin-left: .3em;
    /*font-weight : 700;*/
}
.THIS .closeIcon .slds-icon
{
    fill: lightgrey!important;  
}
.THIS .slds-button.slds-button_icon.remove svg { fill: #fff; }