<apex:page standardController="Account_Compute_Final_Copy__c" extensions="Simulation_3_Aversh" sidebar="false" Sidebar="false" docType="html-5.0">
   <apex:Slds />
   

   <div class="slds-scope">
       <apex:form id="form">

           <apex:outputPanel id="pgMsg">
            <apex:pageMessages id="pgMsgInner" />
        </apex:outputPanel>


        <apex:stylesheet value="{!$Resource.customCss}"/>
        <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
        <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
        <div class="slds-page-header slds-p-around_x-small slds-m-bottom_small ">
            <div class="slds-media">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="slds-media__body">
                    <div class="slds-float_right" style="width: 200px">
                    <apex:selectList value="{!selectedSimulation}"  styleclass="slds-select" multiselect="false" size="1" onchange="actFunc();">
                <!--            <apex:actionSupport event="onChange"
                                                action="{!redirectToPage}"
                                                rerender="none"/>
                -->            <apex:selectOptions value="{!allSimulations}"/>
                        </apex:selectList>
                        </div>
                    <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Call Capacity Simulation">Simulation</h1>
                    
                </div>
            </div>
        </div>
               
        
        
        <style>
        
        .slds-scope .rich-tab-bottom-line  table.pageTab { width: auto; }
        .slds-scope table.pageTab td.rich-tab-header { padding: 0 10px; }       

.slds-scope svg [hidden], .slds-scope svg template { display: block; }
   

            .finalheader thead, .finalheader thead th, .finalheader thead tr { border: #fff solid 1px; }
            .finalheader thead { opacity: 0; }
            .finalheader th a {
    height: 1px!important;
    overflow: hidden!important;
    padding-bottom: 0!important;
    padding-top: 0!important;
                opacity: 0;
}   
       </style>
    
        <script>
            var saveChangesMap = {};
        </script>
         <apex:actionFunction name="actFunc" action="{!redirectToPage}" rerender="none" />
         <apex:actionFunction name="changeBrand" action="{!changeBrand}" rerender="bottom_tbl, pgMessage" oncomplete="addTotals();return false;">
             <apex:param assignTo="{!changedBrand}" name="changedBrand" value="changeBrand" />
         </apex:actionFunction>
        <apex:pageMessages id="pgMessage" />

        <apex:outputpanel layout="block" id="Section1" styleclass="slds-grid slds-p-bottom_x-small">
            <div class="slds-frame slds-size--1-of-5">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Workspace</label>
                    <div class="slds-form-element__control">
                        <!--<div class="slds-select_container">-->
                            <apex:selectList styleclass="slds-select" value="{!cycleSelected}" multiselect="false" size="1">
                            <apex:actionSupport event="onchange" action="{!getBusinessUnit}" reRender="teamInstancePanel1" /><!-- reRender="teamInstancePanel1" -->
                                <apex:selectOptions value="{!cycles}"/>                    
                            </apex:selectList> 
                        <!--</div>-->
                    </div>
                </div>
            </div>
             <apex:outputPanel layout="block"  styleclass="slds-frame slds-size--1-of-5 slds-p-left_x-small" id="teamInstancePanel1">
            
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Scenario</label>
                    <div class="slds-form-element__control">
                        <!--<div class="slds-select_container">-->
                            <apex:selectList styleclass="slds-select" value="{!selectedBu}" multiselect="false" size="1" style=" width: 190px;" >
                              
                                <apex:selectOptions value="{!businessUnits}"/>
                                <!-- <apex:actionSupport event="onchange" rerender="line_list"/> -->
                            </apex:selectList> 
                        <!--</div>-->
                    </div>
                </div>
           
        </apex:outputPanel>
             <!-- <div class="slds-frame slds-size--1-of-5 slds-p-left_x-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Line</label>
                    <div class="slds-form-element__control">
                     
                            <apex:selectList styleclass="slds-select" value="{!selectedLine}" multiselect="false" size="1" id="line_list">
                                <apex:selectOptions value="{!Lines}"/>
                            </apex:selectList>  
                     
                    </div>
                </div>
            </div> -->
            <div class="slds-frame slds-size--1-of-5 slds-p-left_x-small" style="padding: 1.35rem;">
                <apex:commandButton styleclass="slds-button slds-button_brand" value="Search" action="{!search}"  rerender="bottom_tbl, pgMsg" oncomplete="addTotals();return false;"/>
            </div>
        </apex:outputpanel>
      
       
      
        <apex:outputpanel layout="block" id="bottom_tbl">

            <apex:outputPanel id="bot_tbl2" layout="block" >  
                <apex:repeat value="{!position}" var="r">
                <div class="slds-grid slds-p-bottom_small slds-text-align_center">
                    <div class="slds-size_6-of-12 slds-p-right_xx-small">
                        <div class="slds-box slds-box_small">
                            <div class="slds-grid" style="min-height: 59px;">
                                <div class="slds-size_1-of-3 slds-border_right" >
                                    <div class="slds-text-heading_small"> Number of REPs </div>
                                    <div class="slds-text-heading_medium">{!terrcount}</div>
                                </div>
                                <div class="slds-size_1-of-3 slds-border_right">
                                    <div class="slds-text-heading_small slds-p-bottom_xx-small"> Days in Field </div>
                                    <div class="slds-p-left_small slds-p-right_small"><apex:inputText styleclass="slds-input" id="tdays" onkeyup="modifyCapacityOnDays(this, {!terrcount});" value="{!totalDays}" /></div>
                                </div>
                                <div class="slds-size_1-of-3">
                                    <div class="slds-text-heading_small slds-p-bottom_xx-small"> Calls / day / Rep </div>
                                    <div class=" slds-p-left_small "><apex:inputText styleclass="slds-input" value="{!totalcalls}" id="tcalls" onkeyup="modifyCapacityOnCalls(this, {!terrcount});"/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-size_6-of-12 slds-p-left_xx-small textRed">
                        <div class="slds-box slds-box_x-small ">
                            <div class="slds-grid" style="min-height: 67px;">
                                <div class="slds-size_1-of-2 slds-border_right slds-p-top_small slds-p-bottom_x-small">
                                    <div class="slds-text-heading_small">Call Capacity </div>
                                    <div class="slds-text-heading_medium"><div class="slds-truncate" id="capacity">{!totalcapacity}</div></div>
                                </div>
                                
                                <div class="slds-size_1-of-2 slds-border_right slds-p-top_small slds-p-bottom_x-small">
                                    <div class="slds-text-heading_small"> Workload </div>
                                    <div class="slds-text-heading_medium"><div class="slds-truncate" id="demand"></div> </div>
                                </div>
                            
                                <div class="slds-size_1-of-2  slds-p-top_small slds-p-bottom_x-small">
                                    <div class="slds-text-heading_small"> Delta </div>
                                    <div class="slds-text-heading_medium"><div class="slds-truncate" id="delta"></div> </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </apex:repeat>

            </apex:outputPanel>

         <!--   <div class=" slds-text-align_center slds-m-bottom_small">
                <apex:commandButton styleclass="slds-button slds-button_brand" value="Save" action="{!save1}"/>
            </div>-->
            
            
            
            
            <apex:outputPanel styleclass="slds-scrollable" id="bot_tbl" rendered="{!checktable}" layout="block">
                
                <!--{!positionIdAcComputeMap}
                
                {!graphDataList}-->
              <!-- <apex:chart height="300" width="900" data="{!graphDataList}" id="capChart">
                    <apex:legend position="right"/>
                  <apex:axis type="Numeric" position="left" fields="Capacity,WorkLoad" 
                    title="Call Capacity" grid="true"/>
                  <apex:axis type="Category" position="bottom" fields="name" 
                    title=" Position">
                  </apex:axis>
                  <apex:lineSeries axis="left"  xField="name" yField="Capacity"
                      markerType="cross" markerSize="4" markerFill="#FF4D00"/>
                  <apex:lineSeries axis="left" xField="name" yField="WorkLoad" 
                    markerType="circle" markerSize="4" markerFill="#0000FF"/>
            </apex:chart>-->
                
                <input type="button" name = "Push to Business Rules" id="pushRule" onClick = "pushToBusinessRules();" value="Push to Business Rule" style="width:150 px" />


                <apex:actionFunction name="pushing" action="{!pushToBusinessRules}" reRender="pgMsg" >
                    <apex:param assignTo="{!jsonMap}" name="jsonMap" value="" />
                    <apex:param assignTo="{!segSimulation}" name="segSimulation" value="" />
                </apex:actionFunction>

                <table class="slds-table slds-border_left slds-border_right slds-table_bordered  slds-table_col-bordered slds-no-row-hover slds-table_resizable-cols" >
                    <thead>
                        <tr class="slds-text-title_caps">
                            <th>Selected</th>
                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span  class="slds-truncate">Brand</span></a></th>
                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span  class="slds-truncate">Rule Name</span></a></th>
                            <th width="850px"><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span  class="slds-truncate"></span></a></th>
                         </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!brandRules}" var="brandLookup">
                         <tr>
                            <td>
                                <apex:outputPanel rendered="{!brandLookup.selected}" layout="none">
                                    <input type="radio" class="b_radio" name="brand" value="{!brandLookup.brandName}" checked="checked" />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!!brandLookup.selected}" layout="none">
                                    <input type="radio" class="b_radio" name="brand" value="{!brandLookup.brandName}" />
                                </apex:outputPanel>
                            </td>
                            <td><apex:outputText value="{!brandLookup.brandName}" /></td>
                            <td>
                                <apex:selectList styleclass="slds-select" value="{!brandLookup.selectedRuleID}" multiselect="false" size="1">
                                    <apex:selectOptions value="{!brandLookup.rules}" />
                                    <apex:actionSupport event="onchange" oncomplete="addTotals(); return false;"  rerender="inner_tbl"/>
                                </apex:selectList>
                            </td>
                            <td>
                                <apex:outputPanel id="inner_tbl" layout="block">
                                <table class="inner_tbl_obj">
                                        <thead>
                                        <tr  class="slds-text-title_caps">
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Segment</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">#HCP'S</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">HCP %</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Contact Rate</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Call Frequency / Cycle</span></a></th>
                                            <!--<th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate"># Calls Calculated</span></a></th>-->
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Target Calls</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate"># Calls Calculated</span></a></th>
                                            
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">TCF Proposed</span></a></th>
                                            <!--<th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Min Accessiblity</span></a></th>-->
                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <apex:repeat value="{!rule2Records[brandLookup.selectedRuleID]}" var="r">
                                            <tr class="sel_{!brandLookup.selected}">
                                            <td><apex:outputText styleclass="slds-input slds-text-align_center" style="background-color: #d8dde6;" value="{!r.segmentName}"/></td>
                                            <td><apex:outputText styleclass="slds-input slds-text-align_center" style="background-color: #d8dde6;" value="{!r.distinctRecs}" /></td>
                                            <td></td>
                                            <td><apex:inputText styleclass="slds-input slds-text-align_center" disabled="disabled" value="{!r.priority}" onkeyup="modifyPriorityServer(this, '{!r.segmentName}', {!r.phyCount}, '{!brandLookup.selectedRuleID}');" /></td> <!-- disabled="{!!brandLookup.selected}" -->
                                            <td><apex:inputText styleclass="slds-input slds-text-align_center" disabled="{!!brandLookup.selected}" value="{!r.callFrequency}" onkeyup="modifyCallsServer(this, '{!r.segmentName}', {!r.phyCount}, '{!brandLookup.selectedRuleID}');"/></td>
                                           <!-- <td><apex:outputText value="{!r.callFrequency}"/></td>-->
                                            <td><apex:outputText styleclass="slds-input slds-text-align_center" style="background-color: #d8dde6;" value="{!r.targetCalls}"/></td>
                                            <td><apex:outputText styleclass="slds-input slds-text-align_center" style="background-color: #d8dde6;" value="{!r.tcfcalculated}"/></td>
                                           <td><apex:outputText styleclass="slds-input slds-text-align_center" style="background-color: #d8dde6;" value="{!r.TCFProposed}"/></td>
                                           <!--<td><apex:outputText styleclass="slds-input" style="background-color: #d8dde6;" value="{!r.accbFreq}"/></td>-->
                                           <!--<td><apex:outputText styleclass="slds-input" value="{!r.tcf}"/></td>-->
                                           <td></td>

                                            
                                            
                                            </tr>
                                        </apex:repeat>
                                        </tbody>
                                </table>
                                </apex:outputPanel>
                            </td>
                         </tr>
                        </apex:repeat>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><table class="finalheader">
                                        <thead>
                                        <tr  class="slds-text-title_caps">
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Segment</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">#HCP'S</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">HCP %</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Contact Rate</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Call Frequency / Cycle</span></a></th>
                                            <!--<th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate"># Calls Calculated</span></a></th>-->
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">Target Calls</span></a></th>
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate"># Calls Calculated</span></a></th>
                                            
                                            <th><a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1"><span class="slds-truncate">TCF Proposed</span></a></th>
                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                <tr>
                                    <td></td>
                                    <td id="total_uni" class="slds-text-align_center"></td>
                                    <td></td>
                                    <td></td>
                                    <td id=""></td>
                                    <td id="total_target" class="slds-text-align_center"></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                </tr>
                                </tbody>
                            </table></td>
                        </tr>
                    </tbody>
                </table>
            </apex:outputPanel>

            <div class="demo-only slds-hide Business_rule">
              <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                  <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" style="font-size: 32px">
                      &times;
                      <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">Simulation</h2>
                  </header>
                  <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p class="Business_rule_msg">Do you want to include Changes made in Segment Simulation (If any)?' </p>
                  </div>
                  <footer class="slds-modal__footer slds-text-align_center">
                    <button class="slds-button slds-button_neutral" onclick="noFunction()">No</button>
                    <button class="slds-button slds-button_brand" onclick="yesFunction()">Yes</button>
                  </footer>
                </div>
              </section>
              <div class="slds-backdrop slds-backdrop_open"></div>
            </div>

            <!--<center>  <apex:commandButton value="Save" action="{!save}" rerender="bot_tbl, pgMessage,bot_tbl2"/> </center>--> 
            <script>
                // Here we will set the generated subtotals to the footer cells
                var $j = jQuery.noConflict();
                
                

                function round(value, decimals) {
                    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
                }
                
                function modifyCapacityOnDays(node, numberOfReps){
                    console.log('modifyCapacityOnDays');
                    var changeDays = parseFloat($j(node).val());
                    var totalCalls = parseFloat($j('[id*="tcalls"]').val());
                    console.log(changeDays);
                    console.log(totalCalls);
                    console.log(numberOfReps);
                    var capacity = round(changeDays * totalCalls * numberOfReps, 2);
                    $j('#capacity').html(capacity);
                    var totalTarget = parseFloat($j('#total_target').html());
                    var delta = round(capacity-totalTarget, 2) ;
                    $j('#delta').html(delta);
                }
                
                function modifyCapacityOnCalls(node, numberOfReps){
                    console.log('modifyCapacityOnDays');
                    var changeDays = parseFloat($j('[id*="tdays"]').val());
                    var totalCalls = parseFloat($j(node).val());
                    console.log(changeDays);
                    console.log(totalCalls);
                    console.log(numberOfReps);
                    var capacity = round(changeDays * totalCalls * numberOfReps, 2);
                    $j('#capacity').html(capacity);
                    var totalTarget = parseFloat($j('#total_target').html());
                    var delta = round(capacity-totalTarget, 2) ;
                    $j('#delta').html(delta);
                }
                
                function addTotals(){
                    console.log('--called--');
                    var totalUniverse = 0;
                    var totalCalls = 0;
                    var totalTarget = 0;
                    
                    $j('.inner_tbl_obj>tbody>tr').each(function(){
                        if($j(this).attr('class') == 'sel_true'){
                            totalUniverse = totalUniverse + parseInt($j($j(this).children()[1]).children().html());
                            totalCalls = totalCalls + parseInt($j($j(this).children()[4]).children().val());
                            totalTarget = totalTarget + parseInt($j($j(this).children()[5]).children().html());
                        }
                        console.log(totalUniverse);
                        console.log('--Target val--');
                        console.log(parseInt($j($j(this).children()[5]).children().html()));
                    });
                    
                    $j('.inner_tbl_obj>tbody>tr').each(function(){
                        var perHcp =round((parseInt($j($j(this).children()[1]).children().html()) / totalUniverse ) * 100, 1);
                        
                        $j($j(this).children()[2]).html('<span class="slds-input slds-truncate slds-text-align_center" style="width: 50px; padding-right: 4px; padding-left: 4px; background-color: #d8dde6;">'+perHcp+'</span>');
                        
                    });
                    console.log(totalUniverse);
                    console.log('--totalTarget--');
                    console.log(totalTarget);
                    $j('#total_uni').html(totalUniverse);
                    $j('#total_calls').html(totalCalls);
                    $j('#total_target').html(totalTarget);
                    $j('#demand').html(totalTarget);
                    var capacity=  parseInt($j('#capacity').html());
                    var delta = capacity-totalTarget ;
                    $j('#delta').html(delta);
                }
                
                $j('.b_radio').on('click', function() {
                    changeBrand($j(this).val());
                });
            </script>
        </apex:outputpanel>
        <script>
            function modifyCallsServer(node, segment, customerUniverse, ruleId){
                console.log(event.key);
                if(event.key != 'Enter' && event.key != 'Tab'){
                    var changedFreq = $j(node).val() != '' ? $j(node).val() : 0;
                    var priority = $j(node).parent().prev().children().val();
                    priority = 100;
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.Simulation_3_Aversh.calculateFinalTCF}', ruleId, segment, changedFreq, priority, function(result, event){
                        if (event.status) {
                            var hcp = parseInt(customerUniverse);
                            $j(node).parent().next().html('<span class="slds-input slds-text-align_center" style="background-color: #d8dde6;">'+result+'</span>');
                            $j(node).parent().next().next().next().html('<span class="slds-input slds-text-align_center" style="background-color: #d8dde6;">'+round(result/hcp, 1)+'</span>');;

                            console.log('customerUniverse' +customerUniverse);
                            console.log('priority' +customerUniverse);
                            console.log('changedFreq' + changedFreq);
                            $j(node).parent().next().next().html('<span class="slds-input slds-text-align_center" style="background-color: #d8dde6;">'+customerUniverse* (priority/100)  * changedFreq+'</span>');
                            addTotals();

                            console.log('Hey Before Map is ');
                            console.log(saveChangesMap);

                            
                            console.log('Hey Rule id is'+ ruleId);
                            if(saveChangesMap[ruleId] ==undefined)
                            {
                                saveChangesMap[ruleId] = {};
                                saveChangesMap[ruleId][segment] = changedFreq;
                            }
                            else
                            {
                                saveChangesMap[ruleId][segment] = changedFreq;   
                            }

                            console.log('Hey Map is ');
                            console.log(saveChangesMap);
                        }
                    });
                }
                
            }
            
            function modifyPriorityServer(node, segment, customerUniverse, ruleId){
                console.log(event.key);
                if(event.key != 'Enter' && event.key != 'Tab'){
                    var changedFreq = $j(node).parent().next().children().val();
                    var priority    = $j(node).val() != '' ? $j(node).val() : 0;
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.Simulation_3_Aversh.calculateFinalTCF}', ruleId, segment, changedFreq, priority, function(result, event){
                        if (event.status) {
                            var hcp = parseInt(customerUniverse);
                            $j(node).parent().next().next().html('<span class="slds-input slds-text-align_center" style="background-color: #d8dde6;">'+result+'</span>');
                            $j(node).parent().next().next().next().html('<span class="slds-input slds-text-align_center" style="background-color: #d8dde6;">'+customerUniverse *(priority/100)* changedFreq+'</span>');
                            $j(node).parent().next().next().next().next().html('<span class="slds-input slds-text-align_center" style="background-color: #d8dde6;">'+round(result/hcp, 1)+'</span>');
                            addTotals();
                        }
                    });
                }
            }

            function pushToBusinessRules()
            {

                $j(".Business_rule").removeClass('slds-hide');
                /*console.log('++++++++++++ Hey ');
                     $j( '<div></div>' ).dialog({
                     resizable: false,
                     height:140,
                     modal: true,
                     open: function() {
                         var markup = 'Do you want to include Changes made in Segment Simulation (If any)?';
                         $j(this).html(markup);
                    },
                    title: "Simulation",
                    buttons: {
                        "Yes": function() {
                            $j( this ).dialog( "close" );
                            yesFunction();
                        },
                        "No": function() {
                            $j( this ).dialog( "close" );
                            noFunction();
                        }
                        }
                    });*/
            
            }


          
    
    function yesFunction(){
        var mapString = JSON.stringify(saveChangesMap);
        pushing(mapString, true);
        $j(".Business_rule").addClass('slds-hide');
    }
     function noFunction(){
        var mapString = JSON.stringify(saveChangesMap);
        pushing(mapString, false);
        $j(".Business_rule").addClass('slds-hide');
    }

         
        </script>
        </apex:form>
    </div>

</apex:page>