<apex:page controller="CIMPositionMatrixSummaryUpdateCtlr" sidebar="false" id="pg" readOnly="true">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
<apex:slds />
<apex:stylesheet value="{!$Resource.SnTCss}"/>
<style>
    label{
        font-weight: 600 !important; 
        font-size:13px;
    }
    h1{    
        font-size: 18px !important;
        margin-bottom: 20px !important;
    }
    .clear20{
        clear: both;
        height: 20px;
    }
    .errorText{
     font-size:14px;
     font-weight:bold;
     text-align:left;
     color:red;
     padding-left: 5px;
 }
</style>
<apex:form >
<div class="slds-page-header  slds-p-around_x-small">
    <div class="slds-media">
        <div class="slds-media__figure">
         <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-opportunity">
              <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                  <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#opportunity')}" />
              </svg>
          </span>
      </div>
  </div>
  <div class="slds-media__body">
    <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="View CIM Position Metric Summary">CIM Position Metric Summary</h1>
</div>
</div>
</div>
<div class = "errorText slds-frame slds-size--4-of-5 slds-p-right_xx-small">
    <apex:pageMessage severity="info"  summary="Please ensure that No Call Plan Change Request is present in Pending state before uploading data for the concerned Call Plan." strength="1"></apex:pageMessage>
    <apex:pageMessages id="showerror"></apex:pageMessages>
</div>
<div class="clear5"></div>
<div class="slds-box" style="height: 220px;">
    <div class="slds-grid slds-p-bottom_x-small" style="margin-top:20px;" >
        <div class="slds-frame slds-size--1-of-5 slds-p-right_xx-small">
            <div class="slds-form-element">
                <label class="slds-form-element__label">{!$Label.Workspace}</label>
                <div class="slds-form-element__control">
                    <apex:outputPanel >
                    <apex:selectList value="{!cycleSelected}" size="1" styleClass="slds-select">
                    <apex:actionSupport event="onchange" action="{!scenarioChanged}" reRender="teamInstancePanel,cimpanel,showerror,analyseButton,QueryArea"/>
                    <apex:selectOptions value="{!allcycles}"/>
                </apex:selectList>
            </apex:outputPanel>
        </div>
    </div>
</div>

<div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
    <div class="slds-form-element">
        <label class="slds-form-element__label">{!$Label.axtriaarsnt__team_instance}</label>
        <div class="slds-form-element__control">
         <apex:outputPanel id="teamInstancePanel">

         <apex:selectList value="{!teaminstanceSelected}" size="1" styleClass="slds-select">
         <apex:actionSupport event="onchange" action="{!cimconfigrefresh}" reRender="cimpanel,showerror,analyseButton,QueryArea"/>
         <apex:selectOptions value="{!allteaminstance}"/>
     </apex:selectList>
 </apex:outputPanel>
</div>
</div>
</div>
<div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
    <div class="slds-form-element">
        <label class="slds-form-element__label">CIM Config</label>
        <div class="slds-form-element__control">
            <apex:outputpanel id="cimpanel">
            <apex:selectList value="{!cimConfigId}" size="4" multiselect="true" styleClass="slds-select">
            <apex:actionSupport event="onchange" action="{!analyseCheck}" reRender="analyseButton,showerror,QueryArea"/>
            <apex:selectOptions value="{!cimConfigOptions}"/>
        </apex:selectList>
    </apex:outputpanel>
</div>
</div>
</div>
<div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
    <div class="slds-frame slds-size--small  slds-p-top_large">
        <apex:commandButton styleclass="slds-button slds-button_brand" value="Analyse" title="Analyse" action="{!displayQuery}" rerender="QueryArea,showerror" disabled="{!disableAnalyse}" id="analyseButton"/>
    </div>
    <div class="slds-frame slds-size--small  slds-p-top_large">
        <apex:commandButton styleclass="slds-button slds-button_brand" value="Submit" title="Submit" action="{!updatePostionMatrxiSummary}" rerender="QueryArea,showerror" />
    </div>
    <div class="slds-frame slds-size--small  slds-p-top_large">
        <apex:commandButton styleclass="slds-button slds-button_brand" id="ChannelPreference" value="Update Channel Preference" title="Analyse" action="{!updateChannelPreference}" rerender="QueryArea,showerror"/>
    </div>
</div>

</div>
</div>

<div class="slds-box">
    <apex:outputPanel id="QueryArea">
    <apex:outputText styleClass=" slds-text-align_center" style="font-weight: 600;" value="{!theQuery}" escape="false"/><br />

    <div class="slds-form-element">
        <label class="slds-form-element__label">Records : {!countRecords}</label>
    </div>
    <apex:pageBlock >
    <apex:pageBlockTable value="{!updateListPostionMetric}" var="item">
    <apex:column value="{!item.AxtriaSalesIQTM__CIM_Config__r.name}"/>
    <apex:column value="{!item.AxtriaSalesIQTM__Original__c}"/>
    <apex:column value="{!item.AxtriaSalesIQTM__Team_Instance__r.name}"/>
    <apex:column value="{!item.AxtriaSalesIQTM__Proposed__c}"/>
    <apex:column value="{!item.AxtriaSalesIQTM__Position_Team_Instance__c}"/>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:outputPanel>

</div>
</apex:form>
</html>
</apex:page>