<apex:page controller="DeassignBatch">
<apex:Slds />
    <div class="slds-scope">
        <apex:stylesheet value="{!$Resource.customCss}"/>

			<apex:form id="mainform">
			<apex:pageMessages />
			
			    <script>
			       function deassignjs()
			       {
			          var flagval = false;
			          if(confirm('Do you want to remove GAS Assignment?'))
			          {
			              flagval=true;
			          }
			          else
			          {
			            flagval=false;
			          }
			          console.log('----------------calling action method--'+flagval);
			          callDeassignPositionAccount2(flagval);
			          console.log('===============complete============');
			       }
			    </script>
			    <apex:actionFunction name="callDeassignPositionAccount2"  action="{!callDeassignPositionAccount}" reRender="none">
			        <apex:param name="flag_Value" assignTo="{!flagval}" value="" /> 
			    </apex:actionFunction>
			    <apex:pageBlock title="De-assign "> 
       			 <div class="slds-grid slds-p-bottom_x-small">
     

			  		  <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
			                <div class="slds-form-element">
			                    <label class="slds-form-element__label">Select Country</label>
			                    <apex:outputPanel styleClass="slds-form-element__control" layout="block">
			                         <apex:outputPanel id="objectpanel" layout="block">
			                            <apex:selectList styleclass="slds-select" value="{!selectedCountry}" size="1" >
			                            <apex:selectOptions value="{!country}" />
			                            </apex:selectList>
			                        </apex:outputPanel>
			                  </apex:outputPanel>
			                    
			                </div>
			    	  </div>

			    	  <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">

			    	  		<apex:commandButton styleclass="slds-button slds-button_brand" onclick="deassignjs()" value="Deassign Position Account" reRender="none" />
               				<!-- <apex:commandButton styleclass="slds-button slds-button_brand" action="{!populateJuncObj}" value="Populate" id="theButton"/> -->
            		  </div>
            	</div>
      			</apex:pageBlock>


      			<!--  -----------------------------------------------Added By Dhiren----------------------------------	-->

      			
      			 <apex:pageBlock title="De-Assign Position Geography"> 
       			 <div class="slds-grid slds-p-bottom_x-small">
     

			  		  <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
			                <div class="slds-form-element">
			                    <label class="slds-form-element__label">Select Country</label>
			                    <apex:outputPanel styleClass="slds-form-element__control" layout="block">
			                         <apex:outputPanel id="objectpanel" layout="block">
			                            <apex:selectList styleclass="slds-select" value="{!selectedCountry2}" size="1" >
			                            <apex:selectOptions value="{!country}" />
			                            </apex:selectList>
			                        </apex:outputPanel>
			                  </apex:outputPanel>
			                    
			                </div>
			    	  </div>

			    	  <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">

			    	  		<apex:commandButton styleclass="slds-button slds-button_brand" action="{!DeassignPositionGeography}" value="Deassign Position Geography" reRender="mainform" />
               				<!-- <apex:commandButton styleclass="slds-button slds-button_brand" action="{!populateJuncObj}" value="Populate" id="theButton"/> -->
            		  </div>
            	</div>
      			</apex:pageBlock>

			  </apex:form>  

	    </div>
</apex:page>