<apex:page controller="EmployeeListCtlr" id="page" sidebar="false"  lightningStylesheets="true" docType="html-5.0">
<apex:slds />
<div class="slds-scope">
<!--<apex:stylesheet value="{!$Resource.AxtriaSalesIQTM__button_css}" />-->
<!--<apex:stylesheet value="{!URLFOR($Resource.AxtriaSalesIQTM__iconsimage, 'icons-image/icons.css')}" />-->
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" />
<!--<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
<apex:styleSheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />-->
<apex:includeScript value="{!URLFOR($Resource.dataTables1,'jquery.dataTables.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.dataTables1,'dataTables.fixedColumns.min.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.dataTables1,'jquery.dataTables.css')}" />
<apex:stylesheet value="{!$Resource.customCss}"/>
<apex:stylesheet value="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" />
<apex:includeScript value="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" />
<apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" />
<apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" />
<apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" />
<apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" />
<apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" />
<apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />

<apex:form id="form">
    <style>
         .unAssignRowClass{
             background-color:#ffA !important;
    
    
    }
    
   .dataTables_filter { display: none; }
    
    </style>

<script>
         var $j = jQuery.noConflict();  
         $j(document).ready(function(){
            var terrtable =  $j('#employee').DataTable({
                
                "lengthchange": false,
                "info":false,
                "pageLength":10,
                searching: false,
                ordering: false,
                scrollY:  "350px",
                scrollX: true,
                "responsive": true,        
                // scrollCollapse: true,
            });
         });
      </script>
<div class="slds-page-header slds-p-around_x-small slds-m-bottom_x-small">
    <div class="slds-media">
        <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-opportunity">
            <i class="fa fa-list" aria-hidden="true"></i>
            </span>
        </div>
        <div class="slds-media__body">
            <h1 class="slds-page-header__title slds-truncate slds-align-middle" >Employee List</h1>
        </div>
    </div>
</div>
<div id="indicatorContainer">
    <div class="slds-grid slds-m-bottom_small">
        <div class="slds-frame slds-size--1-of-5 slds-p-right_xx-small ">
            <apex:outputPanel >
                <div class="card-frame bg-aqua active">
                    <div class="panel-number">
                        <apex:actionsupport event="onclick" rerender="popupdropped"
                            oncomplete="callfunc1(null, true);"> {!totalEmpCount} </apex:actionsupport>
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="panel-content">Total Employees</div>
                </div>
            </apex:outputPanel>
        </div>
        <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
            <apex:outputPanel >
                <div class="card-frame bg-green">
                    <div class="panel-number">
                        <apex:actionsupport event="onclick" rerender="popupdropped"
                            oncomplete="callfunc1('Unassigned',true);"> {!totalUnassignedEmp} </apex:actionsupport>
                        <div class="icon">
                            <i class="fa fa-level-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-content">Total Unassigned</div>
                </div>
            </apex:outputPanel>
        </div>
        <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small slds-p-right_xx-small">
            <apex:outputPanel >
                <div class="card-frame bg-yellow">
                    <div class="panel-number">
                        <apex:actionsupport event="onclick" rerender="popupdropped"
                            oncomplete="callfunc1('New Hire', true);"> {!totalNewHires} </apex:actionsupport>
                        <div class="icon">
                            <i class="fa fa-user-plus"></i>
                        </div>
                    </div>
                    <div class="panel-content">New Hires</div>
                </div>
            </apex:outputPanel>
        </div>
        <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
            <apex:outputPanel >
                <div class="card-frame bg-red">
                    <div class="panel-number">
                        <apex:actionsupport event="onclick" rerender="popupdropped"
                            oncomplete="callfunc1('Termination', true);"> {!totalTerminations} </apex:actionsupport>
                        <div class="icon">
                            <i class="fa fa-user-times"></i>
                        </div>
                    </div>
                    <div class="panel-content">Terminated Employees</div>
                </div>
            </apex:outputPanel>
        </div>
<!--         <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small"> -->
<!--             <apex:outputPanel > -->
<!--                 <div class="card-frame"> -->
<!--                     <div class="panel-number"> -->
<!--                         <apex:actionsupport event="onclick" rerender="popupdropped" -->
<!--                             oncomplete="callfunc1('Rehire', true);"> {!totalRehireEmp} </apex:actionsupport> -->
<!--                         <div class="icon"> -->
<!--                             <i class="fa fa-address-card-o"></i> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="panel-content">Rehire</div> -->
<!--                 </div> -->
<!--             </apex:outputPanel> -->
<!--         </div> -->
    </div>
</div>
<script>
          $j("#indicatorContainer .card-frame").click(function(){
            $j("#indicatorContainer .card-frame").removeClass('active');
            $j(this).addClass('active'); 
          })
          
      </script>
<div>
    <apex:pagemessages id="errShowPopup" escape="false"
                rendered="{!showerrMsg}" />
</div>
<div class="slds-clearfix slds-m-bottom_x-small  slds-text-align_center">
<div class="slds-grid">
    <div class="slds-size--4-of-5 slds-m-top_xx-small">
        <span id="legenddiv-10"><apex:image value="{!$Resource.YellowCircle}" /></span>
        <span id= "legenddiv0" >Assignment Status : Unassigned</span>
    </div>
    <div class="slds-size--1-of-5">
    <div class="slds-float_right">
        <div class="rtabs filter_Search" >
            <div id="demo-b" >
                <input id="searchText" type="search" placeholder="Search" />
            </div>
        </div> &nbsp;
        <apex:commandLink id="dload" onComplete="DownloadFile()">
            <!-- <apex:image value="{!$Resource.DownloadEmployees}"
                            title="Download" /> -->
            <apex:image value="{!URLFOR($Resource.icons1_clone, 'final/downloads-black.png')}"   title="Download" alt="Download" />
        </apex:commandLink> &nbsp;
         <apex:commandLink rendered="{!showEditEmployeeButton}"
          id="editpopup" action="{!editAddress}"
          rerender="theEditAddress,errShowPopup" status="processingStatus">
          <apex:image title="Edit"
              value="{!URLFOR($Resource.icons1_clone, 'final/rename-black.png')}"
              styleClass="icon-css" />
            </apex:commandLink>    &nbsp;     
        <apex:commandLink rendered="{!showManageAssignmentsButton}"
                    id="manageassignment" action="{!blankMethod}"
                    onclick="redirectToUrl();return false;" >
            <apex:image value="{!URLFOR($Resource.icons1_clone, 'final/change-reporting-black.png')}"
                         title="Manage Assignment" />
        </apex:commandLink>
    </div>
    </div>
    </div>
</div>
<apex:outputPanel id="theEditAddress" styleClass="popupsection">
    <apex:outputpanel layout="block" rendered="{!editpopup}" >
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 id="modal-heading-01" class="slds-text-heading_medium ">Edit Employee</h2>
                </header>
                <apex:actionstatus id="processingStatus1">
                    <apex:facet name="start">
                        <div class="waitingSearchDiv" id="el_loading"
                                                    style="background-color: #fbfbfb; height: 100%; opacity: 0.65; width: 100%;">
                            <div class="waitingHolder" style="top: 74.2px;">
                                <img class="waitingImage" src="/img/loading.gif"
                                                            title="Please Wait..." />
                                <span class="waitingDescription">Please
                                Wait...</span>
                            </div>
                        </div>
                    </apex:facet>
                </apex:actionstatus>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <apex:outputpanel id="errMessage">
                        <apex:pagemessages id="errText" escape="false" />
                    </apex:outputpanel>
                    <div class="slds-form slds-form_horizontal">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Employee PRID :</label>
                            <div class="slds-form-element__control">
                                <div id="empName">{!empnewAddress.AxtriaSalesIQTM__Employee_ID__c}</div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Employee Name :</label>
                            <div class="slds-form-element__control">
                                <div id="empName">{!empnewAddress.Name}</div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Secondary Address Line 1 :</label>
                            <div class="slds-form-element__control">
                                <apex:inputText id="vReimb" value="{!secondAddress1}" styleclass="slds-input" />
                            </div>
                        </div>
                              <div class="slds-form-element">
                            <label class="slds-form-element__label">Secondary Address Line 2 :</label>
                            <div class="slds-form-element__control">
                                <apex:inputText id="vReimb2" value="{!secondAddress2}" styleclass="slds-input" />
                            </div>
                        </div>
                         <div class="slds-form-element">
                            <label class="slds-form-element__label">Secondary City :</label>
                            <div class="slds-form-element__control">
                                <apex:inputText id="vReimb3" value="{!secondaryCity}" styleclass="slds-input" />
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Secondary State :</label>
                            <div class="slds-form-element__control">
                                <apex:inputText id="vReimb4" value="{!secondaryState}" styleclass="slds-input" />
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Secondary ZIP :</label>
                            <div class="slds-form-element__control">
                                <apex:inputText id="vReimb5" value="{!secondaryZIP}" styleclass="slds-input" />
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Secondary Country :</label>
                            <div class="slds-form-element__control">
                                <apex:inputText id="vReimb6" value="{!secondaryCountry}" styleclass="slds-input" />
                            </div>
                        </div>
                    </div> 
                    <div class="box-content-popup">
                        
                        <!-- <div class="slds-text-heading_medium ">Employee ID :</div>
                                        <div class="notes-text-box-180-grey" id="empName">{!empnewAddress.AxtriaSalesIQTM__Employee_ID__c}</div>
                                        <div class="clear10"></div>
                                        <div class="slds-text-heading_medium ">Employee Name :</div>
                                        <div class="notes-text-box-180-grey" id="empName">{!empnewAddress.Name}</div>
                                        <div class="clear10"></div>
                                        <div class="slds-text-heading_medium ">Expected Separation Date :</div>
                                        <apex:inputField id="vReimb"
                                            value="{!empnewAddress.Seperation_Date__c}"
                                            styleclass="notes-text-box-180" />
                                        <div class="clear10"></div>-->
                    </div>
                </div> 
                <footer class="slds-modal__footer slds-text-align_centre">
                    <apex:commandbutton value="Save" action="{!saveAddress}"
                                                rerender="theEditAddress,errMessage,errShowPopup,opanel"
                                                oncomplete="loadPositionUniv();return false;" styleClass="slds-button slds-button_brand" status="processingStatus1"/>
                    <apex:commandbutton value="Cancel" action="{!cancelAddress}" onclick="cancelAddress();"
                                                rerender="theEditAddress" styleClass="slds-button slds-button_brand" status="processingStatus1"/>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </apex:outputPanel>
</apex:outputPanel>
<apex:inputHidden value="{!selectedEmployeeId}" id="theHiddenInput" />
<apex:outputpanel id="scriptPanel">
    <script>     
            /*
            $j(document).ready(function(){
                $j("[id='table-example-2']").tablesorter({theme: 'blue', dateFormat : "dd/mm/yyyy"});
            });
            */
            
            var allTerrsTbl;
            var newSelectedRow;  
            var $j = jQuery.noConflict();
            var selected = '';
            var selectEmpID = '';
            console.log('-loaded1-');
            
            window.showLoadingTable = function(){
            document.getElementById('remoteLoad').style.display = 'block';
             document.getElementById('loadText').innerHTML = 'Processing';
             console.log('Here');
            }
             
            window.hideLoadingTable = function(){
            document.getElementById('remoteLoad').style.display = 'none';
            }
            $j(function(){     
                 var hideFromExport = [0];
                console.log('-loaded2-');
                allTerrsTbl = $j('table[id=table-1]').DataTable({
                    "info":false,
                    "searching":true,
                    "lengthChange":false,
                    "pageLength":10,
                    "destroy" : true,
                    //"paging": false,
                    "processing":true,
                    scrollY:       true,
                    scrollX:        true,
                    "order" : [[4,"asc"]],
                    "responsive": true,
                   <!-- "dom": '<"div-pg"><"div-search"f><"div-tbl"p>t<"bottom-info">', -->
                    "data":'',
                    buttons: [{
                                extend: 'csvHtml5',
                                text : '',
                                title : 'Employee Universe',
                                exportOptions: {
                                    columns: function ( idx, data, node ) {
                                    var isVisible = allTerrsTbl.column( idx ).visible();
                                    var isNotForExport = $j.inArray( idx, hideFromExport ) !== -1;
                                    return isVisible && !isNotForExport ? true : false; 
                                    },
                                    orthogonal: 'export'
                                }    
                            }],
            
                    columns: [
                 /*0*/    {title: 'Select', defaultContent:'',orderable:false},
                 /*1*/  { data: 'ID',title: 'Send Email', defaultContent: '' },
                 /*2*/    { data: 'AxtriaSalesIQTM__Employee_ID__c', title: 'Employee PRID', defaultContent:'' },                        
                    
                 /*3*/    { data: 'AssociateOID__c', title: 'Employee ID', defaultContent:'' },  
                 /*4*/    { data: 'Name',title: 'Employee Name', defaultContent:'' },                                                         
                 /*5*/    { data: 'Employee_Status__c', title: 'Status',defaultContent:'' },                                                  
                                                                /*6*/    { data: 'AxtriaSalesIQTM__Original_Hire_Date__c', title: 'Hire Date',defaultContent:'' , render:                    
                                                                  function (data, type, row) {                                                                                  
                                                                    if( type === 'export'){                                                                                   
                                                                        // var d = new Date( data);  
                                                                        var target = new Date(data);
                                                                        var offset = target.getTimezoneOffset();
                                                                        var Y = target.getUTCFullYear();
                                                                        var M = target.getUTCMonth();
                                                                        var D = target.getUTCDate();
                                                                        var h = target.getUTCHours();
                                                                        var m = target.getUTCMinutes();
                                                                        var s = target.getUTCSeconds();

                                                                        var d= new Date(Date.UTC(Y, M, D, h, m + offset, s));
                                                                        return (d.getMonth()+1) +'-'+d.getDate() +'-'+ d.getFullYear();                                       
                                                                  }                                                                                                         
                                                                  return data;                                                                                              
                                                                 }                                                                                                             
                          },                                                                                                                  
                                                                                                                                         
                 /*7*/    { data: 'AxtriaSalesIQTM__Field_Status__c', title: 'Assignment Status' ,defaultContent:''},                         
                 /*8*/    { data: 'Current_Position__r.Name', title: 'Geography Name',defaultContent:'' },         
                                            
                 /*9*/    { data: 'Current_Position__r.AxtriaSalesIQTM__Client_Position_Code__c', title: 'Geography Code',defaultContent:'' },                                                                                                                         
                 /*10*/    { data: 'Current_Position__r.AxtriaSalesIQTM__Position_Type__c', title: 'Geography Type',defaultContent:'' },       
                 /*11*/   { data: 'JobCodeName__c', title: 'JOB CODE NAME',defaultContent:'' },                                               
                 /*12*/   { data: 'AxtriaSalesIQTM__Manager__r.Name',title: 'Manager', defaultContent:'' }                                    
                 
                        /*   { data: 'EC_Territory_Id__c',title: 'EC Territory ID', defaultContent:'' },                    */
                        /*   { data: 'Credentialed__c', title: 'Credentialing Eligibility' ,defaultContent:''},             */
                        /*   { data: 'Fleet_Eligibility__c', title: 'Fleet Eligibility' ,defaultContent:''},                */
                        /*   { data: 'Sample_Eligibility_Indicator__c', title: 'Sampling Eligibility' ,defaultContent:''},  */
                        /*   { data: 'CurrentPositionId__c', title: 'RMS Territory ID',defaultContent:'' },                 */
                        /*   { data: 'Local_Employee_ID__c', title: 'Local Employee ID', defaultContent:'' },               */          
                        /*   Added Sampling Eligibility and commented Territory Sampling. Edited by Srishti Sengupta        */
                        /*   { data: 'Sampling__c', title: 'Territory Sampling' ,defaultContent:''},                        */
                   
                    ],
                    columnDefs: 
                    [   /*{
                            "targets": [ 11,12,13],
                            visible:false,
                        },*/
                        {
                            targets: [1],
                            "visible": {!sendemailcolumnhidden},
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {    
                                var feeId = rowData.Id;
                                var imgHtml = '';
                                console.log('Check'+rowData.isSeparationDateSame__c);
                                //if(rowData.isSeparationDateSame__c == false){
                                    imgHtml = '<span style="cursor:pointer"><img  src=\"{!$Resource.sendEmail}\" height="20px;" width="30px" onclick="sendEmail(\''+feeId+'\')"/></span>';
                                //}
                                $j(td).html(imgHtml);
                            }
                        },
                    
                    {
                       targets:[4],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                                var selectHtml = "<a href=/"+rowData.Id+">"+rowData.Name+"</a>";            
                                $j(td).html(selectHtml);
                            }
                        },
                        
                        {
                       targets:[2],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                                 if(rowData.AxtriaSalesIQTM__Employee_ID__c != undefined){
                                var selectHtml = "<a href=/"+rowData.Id+">"+rowData.AxtriaSalesIQTM__Employee_ID__c+"</a>";            
                                $j(td).html(selectHtml);
                                 }
                            }
                        },
                        {
                       targets:[3],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                                 if(rowData.AssociateOID__c != undefined){
                                var selectHtml = "<a href=/"+rowData.Id+">"+rowData.AssociateOID__c+"</a>";            
                                $j(td).html(selectHtml);
                                 }
                            }
                        },
                                  
                      /* {
                       targets:[5],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                            if(rowData.HireDate__c != undefined){
                                var poscode=rowData.HireDate__c;                                                             
                               var posId=rowData.HireDate__c;
                                var selectHtml = poscode;
            
                                $j(td).html(selectHtml);
                                }
                            }
                        }, */
                         {
                         targets: [6],
                        "createdCell": function(td, cellData, rowData, row, col) {
                        if (cellData != null && cellData != '') {
                      //  $j(td).html($j.datepicker.formatDate('mm/dd/yy', new Date(cellData)));
                            var d = new Intl.DateTimeFormat('en-US', {'timeZone':'UTC'});
                            $j(td).html(
                            d.format(new Date(cellData)));
                            } 
                         //   } 
                            else 
                            {
                                $j(td).html('');
                            }
                         }
                     },
                       /* {
                        targets:[11],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                                if(cellData){
                                    var selectHtml = "<span>Yes</span>";            
                                    $j(td).html(selectHtml);
                                }else{
                                    var selectHtml = "<span>No</span>";            
                                    $j(td).html(selectHtml);
                                }
                             }
                        },
                        {
                        targets:[12],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                                if(cellData){
                                    var selectHtml = "<span>Yes</span>";            
                                    $j(td).html(selectHtml);
                                }else{
                                    var selectHtml = "<span>No</span>";            
                                    $j(td).html(selectHtml);
                                }
                             }
                        },
                        {
                        targets:[13],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                                <!-- changed if(cellData) to if(cellData == 'Y') by Srishti Sengupta -->
                                if(cellData == 'Y'){
                                    var selectHtml = "<span>Yes</span>";            
                                    $j(td).html(selectHtml);
                                }else{
                                    var selectHtml = "<span>No</span>";            
                                    $j(td).html(selectHtml);
                                }
                             }
                        },
                      {
                       targets:[14],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                            if(rowData.Current_Position__c != undefined){
                                var posName=rowData.CurrentPositionId__c;                                                             
                               var posId=rowData.Current_Position__c;
                                var selectHtml = "<a href=/"+posId+">"+posName+"</a>";
            
                                $j(td).html(selectHtml);
                                }
                            }
                        },*/
                        {
                        targets:[8],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                            if(rowData.Current_Position__c != undefined){
                                var posName=rowData.Current_Position__r.Name;                                                             
                                var posId=rowData.Current_Position__c ;
                                var selectHtml = "<a href=/"+posId+">"+posName+"</a>";
            
                                $j(td).html(selectHtml);
                                }
                            }
                        }, 
                        {
                           targets:[0],
                            "createdCell" : function(td,cellData,rowData,row,col)
                            {
                                var selectHtml = "<input type='radio' onclick='getRowId(this)' name='chooseEmp' id='empRadio'/>"
                                $j(td).html(selectHtml);
                            }
                        },
                     
                    ],
                    
                    "createdRow": function ( row, data, index ) 
                     {  
                        if(data.AxtriaSalesIQTM__Field_Status__c=='Unassigned')
                            {
                            console.log(data);
                            for(var i = 0 ;i <16; i ++)
                               {
                                    $j('td', row).eq(i).addClass('unAssignRowClass');
                               } 
                            }
                    },
                    select: {
                        style:    'single',
                        selector: 'td:first-child'
                    }
                });
            });
              
              loadPositionUniv = function()
              {
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.EmployeeListCtlr.empList}',
                null, 
                function(result, event){
                   if(event.status){
                       console.log('result here');
                       console.log(result);
                       console.log(result.length);
                      
                        allTerrsTbl.clear().rows.add(result).draw();
                        hideLoadingTable();
                        //methodOneInJavascript();
                        
                   }else{
                       console.log('No data available');
                        hideLoadingTable();
                   }
               });
               
            }
            loadPositionUniv();  
            function drawtableAgain(){
                console.log('refresh');
                console.log('tableArray length :::::'+tableArray.length);
                createDatatable();
                allTerrsTbl.clear().rows.add(tableArray).draw();
            }
            
            $j(document).ready(function(){
            var dbTable =  $j('#table[id=table-1]').DataTable();
            
                $j('#searchText').on( 'keyup', function () {
                        console.log('++++++++++ '+this.value);
                        allTerrsTbl.search( this.value ).draw();
                });
            });
            
            //dload
            
            $j('#searchdataPosTable').keyup(function(){
                searchTableAbove(j$(this).val());
            });
            
            //dload
            
            
            var empNumber;
            function getRowId(id){
            
            //alert(id);
             var idx = allTerrsTbl .cell( $j(id).parent() ).index().row; 
             var val = ($j(id)).val(); 
             var row = allTerrsTbl .rows(idx).data(); 
             var data = row.data().toArray()[idx];
             empNumber = data.AxtriaSalesIQTM__Employee_ID__c;
            console.log(data.Id);
            console.log(empNumber);
            
            // Added for selection of row in table for Edit button
            document.getElementById('{!$Component.theHiddenInput}').value = data.Id;
            
            }
            function redirectToUrl(){   
            // var selId = allTerrsTbl.rows(0).column(2).data()[0];
            console.log('empNumber'+empNumber);
            if(empNumber!=null && empNumber!=undefined){
            
               var getUrl = window.location;
                console.log('getUrl'+getUrl);
                var baseUrl = getUrl .protocol + "//" + getUrl.host ;
                console.log(baseUrl);
                // prod
                 //window.open("/apex/manageassignmentsemployee?Employee="+empNumber+"&sfdc.tabName=01r410000003XUu",'_top');
                 // QA
                window.open("/one/one.app#/alohaRedirect/apex/manageassignmentsemployee?Employee="+empNumber+"&sfdc.tabName={!$Label.EmployeeTab}",'_top');
                
            }
            else{
                alert('Please select Employee');
            }
            }
            
            function DownloadFile() {
                allTerrsTbl.buttons('.buttons-csv').trigger();
            }
            
            function editButton(url){
                window.location.href = url;
            }
            
            function selectEmployee(input) {
            
                console.log(input);
                selected = allTerrsTbl.rows(input).data()[0].id;
                selectEmpID = allTerrsTbl.rows(input).data()[2].value;
                console.log('selectEmpID ');
                console.log(selectEmpID);
                console.log(allTerrsTbl.rows(input).data()[0].id);
            }    
            
            function manageAssignment(selected){
                
                if(selected!='')
                {   
                    var url = "https://c.na35.visual.force.com/apex/manageassignments?employee="+selected+"&eventId=true";
                    window.location.href=url;
                    console.log('selectedid++++++++++++++++++++++++++++++>>>>>>>>'+selected);
                }
            }
            
            
         </script>
</apex:outputpanel>
<apex:outputpanel id="tablePanel">
    <div class="box-main">
        <div class="clear"></div>
        <!-- <apex:actionFunction name="hideTreePanel" rerender="treePanel"></apex:actionfunction> -->
        <div class="box-content nullborder">
            <div id="opanel">
                <table cellpadding="0" cellspacing="0" id="table-1"
                                class="table-example slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered slds-table_cell-buffer" style="width: 100%;">
                </table>
                <div id="remoteLoad"
                                style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 100000; margin: 20% 50%">
                    <div
                                    style="display: inline-block; padding: 2px; z-index: 100001; background-color: #fff; width: 200px;">
                        <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                        <span id="loadText"
                                        style="display: inline-block; padding: 10px 0px;">Processing...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  <apex:outputpanel layout="block" id="opanel">
             Note: List displays Active Employees 
            </apex:outputpanel> -->
</apex:outputpanel>
<!---            ****************  for Auto Width  ******************    -->
        <script>
        
        function callfunc1(eventTypeString, showLoad)
        {
            var eventType  = eventTypeString;
            if(showLoad == true)
                showLoadingTable();
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.EmployeeListCtlr.empList}',
            eventType,
                function(result, event) {
                    if (event.status) {
                        console.log(result);
                        var $j = jQuery.noConflict();                              
                        
                        allTerrsTbl.clear().rows.add(result).draw();
                        hideLoadingTable();
                        //methodOneInJavascript();
                    } else {
                        console.log('No data available');
                        hideLoadingTable();
                    }
                });
        }
        
        
      </script>
       <script> 
       
       function cancelAddress (){
           $j(".popupsection").addClass('slds-hide');
       }
         function sendEmail(id)
        {    
            
            sendEmail2(id);
            
        }
      </script>
      <apex:actionFunction name="sendEmail2" action="{!showPopup}" reRender="tstpopup" >
            <apex:param name="rowIdSendMail" assignTo="{!rowIdSendMail}" value=""/>
        </apex:actionFunction>  
      
        <apex:actionstatus id="processingStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading"
                    style="background-color: #fbfbfb; height: 100%; opacity: 0.65; width: 100%;">
                    <div class="waitingHolder" style="top: 74.2px;">
                        <img class="waitingImage" src="/img/loading.gif"
                            title="Please Wait..." /> <span class="waitingDescription">Please
                            Wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
        
        <!----------------              Tharun - Start                                                    -------------->
    <apex:outputPanel id="tstpopup">
         <apex:outputPanel styleClass="popupbg" layout="block"
            rendered="{!displayPopUp}" />
         <apex:outputPanel rendered="{!displayPopUp}"
            styleClass="popup5 popup">
            <div class="box-main-popup">
               <div class="box-top-popup">
                  <div class="box-top-div1-popup">Confirm</div>
               </div>
               <div class="box-content">
                  <div class="clear10"></div>
                  <table width="100%">
                     <tr>
                        <td align="center"><b>Are you sure to send email
                           notification for this event?</b>
                        </td>
                     </tr>
                     <tr>
                        <td></td>
                     </tr>
                     <tr>
                        <td align="center" style="background: white;">
                           
                           
                           <apex:commandbutton action="{!sendEmail}" value="Yes"
                                               
                              rerender="buttonpanel,assignmentsPanel,errorMessage,tstpopup,empAssignDetailGrid,crMsg,errmsg"
                               status="load2" styleClass="btn-blue"
                               />
                           &nbsp; 
                           
                           <apex:commandButton value="No" action="{!closePopup}" status="load2" 
                             styleClass="btn-blue"
                                               rerender="tstpopup,empAssignDetailGrid,assignmentsPanel,errorMessage" />
                           
                        </td>
                     </tr>
                  </table>
                  <apex:actionstatus id="load2">
                     <apex:facet name="start">
                        <div class="waitingSearchDiv" id="el_loading"
                           style="background-color: #fbfbfb; height: 100%; opacity: 0.65; width: 100%;">
                           <div class="waitingHolder" style="top: 54.2px;">
                              <img class="waitingImage" src="/img/loading.gif"
                                 title="Please Wait..." /> <span class="waitingDescription">Please
                              Wait...</span>
                           </div>
                        </div>
                     </apex:facet>
                  </apex:actionstatus>
               </div>
            </div>
         </apex:outputPanel>
      </apex:outputPanel>
      <!-------------------------------------------------------End - Tharun------------------------------------->  
    </apex:form>
    </div> 
    </apex:page>