<apex:page controller="ExecuteBatchCtrl">
    <apex:form >
     <table>
      <tbody>
            <tr>
                <td>
                   <b> Inbound Batches  </b>             
                </td>
                <td>
                  <b>   Outbound Batches</b>
               </td>
               <td>
                   <b> Miscellaneous </b>
               </td>
            </tr>
            <tr>
                <td>
                     <apex:commandButton action="{!runEmployeeFeed}" id="ApplyRule" value="Run Employee Delta Feed"/><br/><br/>                   
                </td>
                <!-- <td>
                     <apex:commandButton Action="{!callCustomerSegment}" value="Outbound customer segment" /><br/><br/>
               </td> -->
               <td>
                   <apex:commandButton Action="{!runClassForGlobalAdmins}" value="Access to Global Admins" /><br/><br/>
               </td>
            </tr> 
            <tr>
                <td>
                      <apex:commandButton Action="{!callInboundAccount }" value="Inbound Account " /><br/><br/>                 
                </td>
                <!-- <td>
                       <apex:commandButton Action="{!callOutBoundGeography}" value="OutBound Geography" /><br/><br/>
               </td> -->
               <!-- <td>
                     <apex:commandButton Action="{!callOutDeassignPosAcc}" value="De-assign Position Account" /><br/><br/>
               </td> -->
            </tr>
             <tr>
                <td>
                     <apex:commandButton Action="{!callInboundAccAff }" value="Inbound AccAff " /><br/><br/>
                  
                </td>
               <!--  <td>
                     <apex:commandButton Action="{!callOutBoundPosEmp }" value="OutBound PosEmp " /><br/><br/>
               </td> -->
            </tr>
             <tr>
                <td>
                    <apex:commandButton Action="{!callInBoundAccAddress  }" value="InBound AccAddress  " /><br/><br/>                 
                </td>
                <!-- <td>
                     <apex:commandButton Action="{!callOutBoundPosition}" value="OutBound Position" /><br/><br/>
               </td> -->
               
            </tr>
             <tr>
                <td>
                      <apex:commandButton Action="{!callOutBoundMergeUnmerge }" value="Merge Unmerge Inbound " /><br/><br/>              
                </td>
                <!-- <td>
                        <apex:commandButton Action="{!callOutBoundUpdPosGeography}" value="OutBound PosGeography" /><br/><br/>
               </td> -->
            </tr>
             <tr>
                <td>                  
                </td>
                <!-- <td>
                       <apex:commandButton Action="{!callOutBoundEmployee}" value="OutBound Employee" /><br/><br/>
               </td> -->
            </tr>
             <tr>
                <td>
                                       
                </td>
                <!-- <td>
                       <apex:commandButton Action="{!callOutboundUpdateteamInstance}" value="Outbound teamInstance" /><br/><br/>
               </td> -->
            </tr>
             <tr>
                <td>
                                      
                </td>
                <!-- <td>
                   <apex:commandButton Action="{!callPositionProductOutbound }" value="Position Product Outbound " /><br/><br/>   
       
               </td> -->
            </tr>
            
             <tr>
                <td>
                                      
                </td>
                <!-- <td>
                   <apex:commandButton Action="{!callOutboundWorkspace }" value="Workspace Outbound " /><br/><br/>   
       
               </td> -->
            </tr>
            <tr>
                <td>
                                      
                </td>
                <!-- <td>
                   <apex:commandButton Action="{!callPositionAccountOutbound}" value="Position Account Outbound " /><br/><br/>   
       
               </td> -->
            </tr>
            <!-- Calling User Report -->
            <tr>
                <td>
                                      
                </td>
                <td>
                   <apex:commandButton Action="{!callOutUserReport}" value="Generate User Report " /><br/><br/>   
       
               </td>
            </tr>
        </tbody>

    </table>

   
     

        
    </apex:form>
</apex:page>