<apex:page sidebar="false" controller="SelectRuleParametrsCtlr" docType="html-5.0">
    <apex:slds />
    <apex:stylesheet value="{!$Resource.appCss}"/>
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    <apex:stylesheet value="{!URLFor($Resource.listswap, 'listswap.css')}"/>
    <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
    <apex:includeScript value="{!URLFor($Resource.listswap, 'jquery.listswap.js')}" />
    
    <style type="text/css"> 
        .overflow_y{
            overflow-y: auto;
        }
    </style>
    <script type="text/javascript">
    var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    <script src="../../soap/ajax/45.0/connection.js" type="text/javascript"></script>
    <script type="text/javascript">  
      console.log('{!JSENCODE($CurrentPage.Parameters.rid)}');   
      window.onload = setupPage;
      var query1 = '';
      function setupPage() {

        var state = { //state that you need when the callback is called
          output : document.getElementById("stepCount"),
          startTime : new Date().getTime()
        };

        var ruleId = '{!JSENCODE($CurrentPage.Parameters.rid)}',brandName = '{!JSENCODE(selectedBrandName)}',teamInstName = '{!JSENCODE(selectedBuisnessUnit)}';
        console.log('Rule ID :: '+ruleId);
        let namespacePref = '{!JSENCODE(nameSpace)}';
        if(ruleId != undefined & ruleId != '' & brandName != undefined & brandName != '' & teamInstName != undefined & teamInstName != ''){
          query1 = sforce.connection.query("SELECT count() FROM "+namespacePref+"Rule_Parameter__c WHERE "+namespacePref+"Measure_Master__c = '{!JSENCODE($CurrentPage.Parameters.rid)}' AND "+namespacePref+"Parameter__c = null",{
            onSuccess: function(query1){
                    sforce.connection.query("Select Count() from "+namespacePref+"Parameter__c where "+namespacePref+"Brand__c = '{!JSENCODE(selectedBrandName)}' and "+namespacePref+"Team_Instance__c = '{!JSENCODE(selectedBuisnessUnit)}'",{
                onSuccess: function(queryResult, source) {
                              console.log('50-queryResult.size-query1.size:: '+(50-queryResult.size-query1.size));
                              source.output.innerHTML = 'Steps remaining = ' +(50-queryResult.size-query1.size);
                            },
                onFailure: queryFailed,
                source: state
                });
            },
            onFailure: queryFailed,
            source: state
          });
        }else{
          document.getElementById("stepCount").innerHTML = 'Steps remaining = 50';
        } 
      }

      function queryFailed(error, source) {
          console.log(error);
          source.output.innerHTML = 'Steps remaining = NA';
      }  
    </script>
    <apex:form >
    <div id="myDIV">
        <!--<apex:outputPanel id="pgmsgpgmsg">
            <apex:pageMessages escape="false"/>
        </apex:outputPanel>-->
        <apex:actionstatus id="status">
            <apex:facet name="start">
                <div class="slds-spinner_container slds-is-fixed">
                    <div role="status" class="slds-spinner slds-spinner_medium">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
        <div class="slds-p-left_x-small slds-p-right_x-small">
            <div class="slds-page-header  slds-p-around_x-small">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Business Rule">{!$Label.ST_Business_Rule} <!-- Label Updated by RT for SR-37 on 23rdJul,2020 -->

                            <i class="fa fa-info-circle fa-lg" aria-hidden="true" style="float:right;padding:2px;" title="Help Info" onclick="helpInfo();"></i>
                            <p id="stepCount" style="float:right;padding-right:10px;"></p>
                        </h1>
                        <c:SLDSPageMessage id="pgmsg" PageMessages="{!PageMessages}"/>
                    </div>
                </div>
            </div>
            <div class="slds-p-vertical_medium">
                <div class="slds-path-coach">
                    <div class="slds-grid slds-p-bottom_small">
                        <c:ProcessStateView pathMap="{!pathMap}" pathAtribs="{!pathList}" linkMap="{!linkMap}"/>
                        <!-- <button class="slds-button slds-button--brand slds-path__mark-complete slds-no-flex slds-m-horizontal--small slds-m-right_none">
                        <i class="fa fa-check" aria-hidden="true"></i> Mark Status as Complete</button> -->
                    </div>
                    <div id="content-path-2" class=" slds-show" role="tabpanel" aria-labelledby="tab-path-2">
                        <!-- <legend class="slds-form-element__legend slds-form-element__label">New Parameter</legend>
                        <input type="text" name="New Parameter" id="add_parm_txt"/>
                        <button class="slds-button slds-button_brand" type="button" id="add_parm_btn">Add</button> -->
                        <div class="slds-grid slds-p-bottom_x-small">
                            <div class="slds-frame slds-size--5-of-5">
                                <div class="slds-form slds-form_stacked">
                                    <fieldset class="slds-form-element">
                                        <legend class="slds-form-element__legend slds-form-element__label">{!$Label.sp_profile_parameters}</legend>
                                        <select id='select_source' data-search="Search parameters">
                                            <apex:repeat var="result" value="{!parameterList}">
                                                <option value="{!result.Id}">{!result.Name__c}</option>
                                            </apex:repeat>
                                        </select>
                                        <select id="select_destination">
                                            <apex:repeat var="result" value="{!DestParameterList}">
                                                <option value="{!result.Parameter__c}">{!result.Parameter__r.Name__c}</option>
                                            </apex:repeat>
                                        </select>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="slds-text-align_center">
                            <button class="slds-button slds-button_brand" type="button" id="save_nxt_btn">{!$Label.btn_save_next}</button>
                            <button class="slds-button slds-button_brand" type="button" id="save_btn">{!$Label.btn_save}</button>
                            <apex:commandButton styleClass="slds-button slds-button_brand" action="{!cancel}" value="{!$Label.axtriaarsnt__btn_cancel}" immediate="true" style="margin-left: 7px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
            
        <apex:outputPanel id="PopUpModal">
          <apex:outputPanel rendered="{!displayPopup}">
          <div class="demo-only" >
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
                <div class="slds-modal__container">
        <header class="slds-modal__header">
                      <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Select Customer Group Parameter</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
             <p>
                      <apex:pageblock mode="maindetail" > 
                         <apex:pageMessages />
                                            
                                        <apex:pageBlock mode="maindetail" >
                    
                                            
                                        <apex:selectList title="Select" multiselect="false" size="1" style="width:300px;" id="selectListValues" value="{!selectedParam}">
                                            <apex:selectOptions value="{!selectValues}" />
                                        </apex:selectList>
                                        </apex:pageBlock>
                          
                      </apex:pageblock>
              </p>
                    </div>
                  <footer class="slds-modal__footer">
                     <button type="button"  class="slds-button slds-button_neutral" onclick="onlyPopupClose();" >Close</button>
                     <button class="slds-button slds-button_brand" type="button" onclick="popupClose();" id="save_popup_nxt_btn">{!$Label.btn_save}</button>
                  </footer>
                </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
         </apex:outputPanel> 
         </apex:outputPanel> 

        <apex:outputPanel id="stepHelpPopup" layout="block"> 
        <apex:outputPanel rendered="{!stepHelpPopupFlag}" layout="none"> 
        <div class="demo-only">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small remvpopup">
            <div class="slds-modal__container" id="pop3"  style="width:30%">
                <!-- <header class="slds-modal__header slds-theme_success popupMsg">
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">RESULT!!!</h2>
                </header> -->
                  <apex:outputPanel layout="block" styleclass="slds-modal__content slds-p-around_medium slds-text-align_center popupMsg" style="min-height: 25%;padding: 8px;padding-bottom: 0px;">
                       <div class="slds-clearfix slds-p-bottom_xx-small" style="padding-bottom: 0px;">
                           <div id="mssgDiv" class="slds-show_inline-block slds-p-right_xxx-small" style="vertical-align: top;border-style: groove;border-width:5px;border-bottom-style: none;padding: 5px;">
                                <H1 style="font-size: large;"><B>Information on Steps Limitation</B></H1><br></br>
                                <label class="slds-form-element__label" style="line-height: 1.85rem;font-size: medium;">You can create steps in S&amp;T business rule until: <B><i>Number of Profiling parameters + Number of steps = 50.</i></B> SalesIQ allows Input of up 25 profiling parameters.</label><br></br>
                            </div> 
                       </div>
                 </apex:outputPanel>
                  <footer class="slds-modal__footer popupMsg" style="padding: 0.5rem;padding-top: 0px;padding-bottom: 0px;border-top-style: none;">
                    <div style="border-left-style: groove;border-right-style: groove;border-top-style: outset;border-width: 5px;border-top-width:1px;">
                      <div style="padding:5px">
                     <button class="slds-button slds-button_brand" style="margin-right: 10.5rem;" onclick="hideStepHelpPopup(); return false;" > OK </button></div>
                    </div>
                  </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open hidepop"></div>
            </div>
        </apex:outputPanel>
        </apex:outputPanel>
               
        
        <apex:actionFunction action="{!save}" name="save" rerender="pgmsg" status="status">
            <apex:param value="parameters" assignTo="{!selectedParameters}" name="params"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!saveAndNext}" name="saveAndNext" rerender="pgmsg,PopUpModal" status="status">
            <apex:param value="parameters" assignTo="{!selectedParameters}" name="params"/>
        </apex:actionFunction>
        
        <apex:actionFunction action="{!SaveParamSaveAndNext}" name="saveFinalParam" rerender="PopUpModal" status="status">
            <apex:param value="parameters" assignTo="{!selectedParameters}" name="params"/>
        </apex:actionFunction>
        
        <apex:actionFunction action="{!hidePopup}" name="hidePopup" rerender="PopUpModal" status="status">
        </apex:actionFunction> 

        <apex:actionFunction name="helpInfo" action="{!showStepHelpPopup}" rerender="stepHelpPopup"></apex:actionFunction>
        <apex:actionFunction name="hideStepHelpPopup" action="{!hideStepHelpPopup}"></apex:actionFunction>

    
     </div>   
    </apex:form>
    <script>
     window.onload = function(){
        var body = document.body,
        html = document.documentElement;
    
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
        var ratio =  window.devicePixelRatio;

      if(ratio == 1){
            document.getElementById("myDIV").style.zoom = 1;

        }

        else if(ratio > 1){
            document.getElementById("myDIV").style.zoom = .8;

        }
        else{document.getElementById("myDIV").style.zoom = 1.2;}
       } 

   window.onresize = function(){ 
        var body = document.body,
        html = document.documentElement;
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
        var ratio =  window.devicePixelRatio;

        if(ratio == 1){
            document.getElementById("myDIV").style.zoom = 1;

        }

        else if(ratio > 1){
            document.getElementById("myDIV").style.zoom = .8;

        }
        else{document.getElementById("myDIV").style.zoom = 1.2;}
       } 
</script>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        $j(document).ready(function() {
            $j(".slds-accordion h3").each(function(){
                $j(this).click(function(){
                    if (!($j(this).parent().parent().hasClass('slds-is-open'))) {
                        $j(".slds-accordion__section").removeClass("slds-is-open");
                        $j(this).parent().parent().addClass("slds-is-open");
                    } else {
                        $j(".slds-accordion__section").removeClass("slds-is-open");
                    }
                    return false;
                });
            });
            //Fill select list after page load.
            /* -------Start------- Select List Code -------Start------- */
            var lst = $j('#select_source, #select_destination').listswap({
                truncate:true, 
                height:162,
                label_add:'', 
                label_remove:'', 
                btn_cls:'slds-button slds-button_brand',
            });

            if(lst && ('{!LOWER(mode)}' == 'view' )){
                $j('.listbox_controls ul').attr('style', 'display:none;');
            }

            $j('.listbox_round_class').addClass('overflow_y');
            /* -------Start------- Add parammeter btn -------Start------- */
            $j('#add_parm_btn').on('click', function(){
                $j('[id$="status.start"]').removeAttr('style');
                var parameter = $j('#add_parm_txt').val();
                if(parameter){
                    Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.SelectRuleParametrsCtlr.addNewParameter}', parameter, function(result, event) {
                            if(event.status){
                                console.log('adding--');
                                $j('#select_source').append('<option value="'+result.Id+'">'+result.Name+'</option>');
                                lst.add_new_option(result.Name, result.Id); 
                                $j('#add_parm_txt').val(''); //clear search after addition
                                $j('[id$="status.start"]').attr('style', 'display:none');
                            }
                        }
                    );
                }
            });
        });

        //Save button click
        $j('#save_btn').on('click', function(){
            console.log('save_btn_clicked');
            var selected_params = [] 
            $j('#listbox_select_destination_wrapper ul>li').each(function(node){
                //console.log('selected_param : ' + $j(this).attr('data-value'));
                selected_params.push($j(this).attr('data-value'));
            });
            console.log(selected_params);
            save(JSON.stringify(selected_params));
        });

        //Save and next button click
        $j('#save_nxt_btn').on('click', function(){
            console.log('save_nxt_btn_clicked');
            var selected_params = [] 
            $j('#listbox_select_destination_wrapper ul>li').each(function(node){
                //console.log('selected_param : ' + $j(this).attr('data-value'));
        if($j(this).attr('data-value') != '' & $j(this).attr('data-value') != undefined & $j(this).attr('data-value') != null)
                {
                selected_params.push($j(this).attr('data-value'));
        }
            });
            console.log(selected_params);
            saveAndNext(JSON.stringify(selected_params));
            
            /*saveAndNext(JSON.stringify(selected_params)); */
        });
        
        $j('#save_popup_nxt_btn').on('click', function(){
            console.log('save_nxt_btn_clicked');
            var selected_params = [] 
            $j('#listbox_select_destination_wrapper ul>li').each(function(node){
                //console.log('selected_param : ' + $j(this).attr('data-value'));
                selected_params.push($j(this).attr('data-value'));
            });
            console.log(selected_params);
            saveFinalParam(JSON.stringify(selected_params));
            
            /*saveAndNext(JSON.stringify(selected_params)); */
        });
        
        function popupClose()
        {
             console.log('save_nxt_btn_clicked');
            var selected_params = [] 
            $j('#listbox_select_destination_wrapper ul>li').each(function(node){
                //console.log('selected_param : ' + $j(this).attr('data-value'));
                selected_params.push($j(this).attr('data-value'));
            });
            console.log(selected_params);
            console.log($j('#selectListValues').val());
            saveFinalParam(JSON.stringify(selected_params));
        }
        function onlyPopupClose()
        {
            hidePopup();
        }
        
    function OpenVfpage(){
              window.showModalDialog("/apex/Page1Test","dialogWidth:800px; dialogHeight:200px; center:yes");     
        }        
        
        
    </script>
</apex:page>