<apex:page controller="TestpageController">
 <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
 <style>
 th, td {
        padding: 15px;
    }
    table {
        border-collapse: collapse;
    }
 </style>
 <apex:form >
  <html>
<head>
 
 
 
</head>
 
<body  onload="autogeneratetable()">
<!--<input type="button" onclick="createTable();" value="Create Table" />-->
<h1>My First Web Page</h1>

<script>
var $j = jQuery.noConflict();
$j(document).ready(function(){
  
createTable();
})
 function createTable(){
     
    mytable = $j('<table border="1" style="width:80%"></table>').attr({ id: "basicTable" });
    var rows = 5;//new Number($("#rowcount").val());
    var cols = 4;//new Number($("#columncount").val());
   // var data =$j('<input>').attr({type: 'text',name: 'ages[]'});
    var tr = [];
    for (var i = 1; i <= rows; i++) {
        var row = $j('<tr></tr>').attr({ class: ["trvalue"+i].join(' ') }).appendTo(mytable);
        for (var j = 1; j <= cols; j++) {
          var cell = $j('<td ><apex:inputtext style="width: 100%;padding-bottom: inherit;text-align:center;"/></td>').attr({ class: ["tdvalue"+i+j].join(' ')}).appendTo(row); 
         // $j('<input>').attr({type: 'text',name: 'ages[]'}).appendTo(cell);
        }
                 
    }
    console.log("TTTTT:"+mytable.html());
    mytable.appendTo("#box");          
  
}
</script>
<div id="box">
</div>
</body>
</html>
</apex:form>
</apex:page>