<apex:page controller="Veeva_Jobs" sidebar="false"  docType="html-5.0"  >
<apex:Slds />
<!--     <apex:form >
            <div class="slds-text-align_center slds-p-top_large">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Transformation Jobs</label>
                    <apex:outputPanel styleClass="slds-text-align_center slds-p-top_large" layout="block">
                         <apex:outputPanel id="jobDropDown" layout="block">
                            <apex:selectList styleclass="slds-select" value="{!selectedJob}" size="1" multiselect="false" >
                             <apex:selectOptions value="{!jobs}" />
                            </apex:selectList>
                        </apex:outputPanel>
                  </apex:outputPanel>
                </div>
            </div>
            
             <div class="slds-text-align_center slds-p-top_large">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Talend Jobs</label>
                    <apex:outputPanel styleClass="slds-text-align_center slds-p-top_large" layout="block">
                         <apex:outputPanel id="jobDropDown1" layout="block">
                            <apex:selectList styleclass="slds-select" value="{!selectedJob}" size="1" multiselect="false" >
                             <apex:selectOptions value="{!jobs}" />
                            </apex:selectList>
                        </apex:outputPanel>
                  </apex:outputPanel>
                </div>
            </div>
            <div class="slds-text-align_center slds-p-top_large">
                  <apex:commandButton styleclass="slds-button slds-button_brand" value="Full Job" action="{!Full_Job}"  />
            </div> 
            <div class="slds-text-align_center slds-p-top_large">
                  <apex:commandButton styleclass="slds-button slds-button_brand" value="Delta Job" action="{!Delta_Job}"  />
            </div> 
            
    </apex:form> -->

    <div class="slds-scope">
        <apex:stylesheet value="{!$Resource.customCss}"/>

      <apex:form >
          <apex:pageBlock title="Transformation Jobs" > 
          <apex:pageMessages /> 
             <div class="slds-grid slds-p-bottom_x-small">
     

              <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
                      <div class="slds-form-element">
                          <label class="slds-form-element__label">Select Job</label>
                          <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                               <apex:outputPanel id="objectpanel" layout="block">
                                  <apex:selectList styleclass="slds-select" value="{!selectedJob}" size="1" >
                                  <apex:selectOptions value="{!jobs}" />
                                  </apex:selectList>
                              </apex:outputPanel>
                        </apex:outputPanel>
                          
                      </div>
              </div>

              <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">

                     <apex:commandButton styleclass="slds-button slds-button_brand" action="{!Full_Job}" value="Full Job" id="theButton"/>
                     <!-- <apex:commandButton styleclass="slds-button slds-button_brand" action="{!Delta_Job}" value="Delta Job" id="theButton1"/> -->
                </div>
              </div>
            </apex:pageBlock>
<!--  -->
            <!--<apex:pageBlock title="Veeva Jobs" > 
          <apex:pageMessages /> 
             <div class="slds-grid slds-p-bottom_x-small">
     

              <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
                      <div class="slds-form-element">
                          <label class="slds-form-element__label">Select Job</label>
                          <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                               <apex:outputPanel id="objectpanel" layout="block">
                                  <apex:selectList styleclass="slds-select" value="{!selectedJob}" size="1" >
                                  <apex:selectOptions value="{!jobs1}" />
                                  </apex:selectList>
                              </apex:outputPanel>
                        </apex:outputPanel>
                          
                      </div>
              </div>

              <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">

                     <apex:commandButton styleclass="slds-button slds-button_brand" action="{!Hit_TalendJob}" value="Hit Talend Job" id="theButton"/>
                     
                </div>
              </div>
            </apex:pageBlock>-->

        </apex:form>  

      </div>
</apex:page>