<apex:page id="pg" controller="RedirectToReport" sidebar="false" title="SalesIQ Reports">
  <apex:slds />
  <div class="slds-scope">
    <apex:stylesheet value="{!$Resource.customCss}"/>
    <apex:stylesheet value="{!URLFOR($Resource.datatable_fc,'jquery.dataTables.css')}" />
    <apex:includeScript value=" https://code.jquery.com/jquery-3.3.1.js"/>
    <apex:includeScript value="{!URLFOR($Resource.datatable_fc, 'jquery.dataTables.js')}"/>
    <apex:form id="d1">
      <apex:actionFunction action="{!ListOfTeamInstance1}" name="generateDependPick" reRender="TeamInstanceId1" />
      <style>
        label{
          font-weight: 600 !important;
          font-size:13px;
        }
        h1{
          font-size: 18px !important;
          margin-bottom: 20px !important;
        }
        .clear20{
          clear: both;
          height: 20px;
        }
      </style>
      <div >
        <div class="slds-page-header">
          <div class="slds-media">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-opportunity" title="">
              </span>
            </div>
            <div class="slds-media__body">
              <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Rohde Corp - 80,000 Widgets">Reports
              </h1>
            </div>
          </div>
        </div>
        <apex:pageMessages id="errorMessage" escape="false" />
        <apex:outputPanel rendered="{!enableRosterReport}">
          <div class="clear20">
          </div>
          <div class="slds-box" style="height: 150px;">
            <h1>Roster Reports
            </h1>
            <div class="slds-grid slds-p-bottom_x-small" style="margin-top:10px;" >
              <div class="slds-frame slds-size--1-of-5 slds-p-right_xx-small">
                <div class="slds-form-element">
                  <label class="slds-form-element__label">Select Report
                  </label>
                  <div class="slds-form-element__control">
                    <apex:outputPanel >
                      <apex:selectList styleclass="slds-select" id="reportsR" value="{!reportNameR}" size="1" > 
                        <apex:selectOptions value="{!allreportsR}" />
                        </apex:selectlist>
                    </apex:outputPanel>
                  </div>
                </div>
              </div>
              <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-top_large">
                <apex:commandlink id="runButtonRCL" action="{!openReportR}">
                  <apex:commandButton styleclass="slds-button slds-button_brand" value="Run Report" id="runButtonR"/>
                </apex:commandlink>
              </div>
            </div>
          </div>            
        </apex:outputpanel>

        <apex:outputPanel rendered="{!enableAlignmentReport}">
          <div class="clear20">
          </div>
          <div class="slds-box" style="height: 150px;">
            <h1>Alignment Reports
            </h1>
            <div class="slds-grid slds-p-bottom_x-small" style="margin-top:10px;" >
              <!--<apex:outputPanel layout="none" rendered="{!IF(isFieldUser, false, true)}">
                <div class="slds-frame slds-size--1-of-7 slds-p-left_xx-small  slds-p-right_xx-small">
                    <div class="slds-form-element">
                      <label class="slds-form-element__label">Select Workspace
                      </label>
                      <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                        <apex:outputPanel id="bayerWorkspaceAlDropDown" layout="block">
                          <apex:selectList styleclass="slds-select" value="{!bayerWorkspaceSelectedNameA}" size="1" >
                            <apex:actionSupport event="onchange" action="{!bayerWorkspaceChangedA}" rerender="bayerBUAlDropDown,teamAlDropDown,TIsA,BrandDropDown,reportsA,errorMessage" /> 
                            <apex:selectOptions value="{!allBayerWorkspaceA}" />
                          </apex:selectList>
                        </apex:outputPanel>
                      </apex:outputPanel>
                    </div>
                </div>
              </apex:outputPanel>
              <div class="slds-frame slds-size--1-of-7 slds-p-left_xx-small  slds-p-right_xx-small">
                <div class="slds-form-element">
                  <label class="slds-form-element__label">Select BU
                  </label>
                  <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                    <apex:outputPanel id="bayerBUAlDropDown" layout="block">
                      <apex:selectList styleclass="slds-select" value="{!bayerBUSelectedNameA}" size="1" >
                        <apex:actionSupport event="onchange" action="{!bayerBUChangedA}" rerender="teamAlDropDown,TIsA,BrandDropDown,reportsA,errorMessage" /> 
                        <apex:selectOptions value="{!allBayerBUsA}" />
                      </apex:selectList>
                    </apex:outputPanel>
                  </apex:outputPanel>
                </div>
              </div>
              <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small  slds-p-right_xx-small">
                <div class="slds-form-element">
                  <label class="slds-form-element__label">Select Team
                  </label>
                  <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                    <apex:outputPanel id="teamAlDropDown" layout="block">
                      <apex:selectList styleclass="slds-select" value="{!teamSelectedNameA}" size="1" >
                        <apex:actionSupport event="onchange" action="{!teamChangedA}" rerender="TIsA,BrandDropDown,reportsA,errorMessage" /> 
                        <apex:selectOptions value="{!allTeamsA}" />
                      </apex:selectList>
                    </apex:outputPanel>
                  </apex:outputPanel>
                </div>
              </div>-->
              <div class="slds-frame slds-size--1-of-7 slds-p-left_xx-small  slds-p-right_xx-small">
                <div class="slds-form-element">
                  <label class="slds-form-element__label">Select Team Instance
                  </label>
                  <apex:outputPanel styleClass="slds-form-element__control" layout="block">
                    <apex:outputPanel id="teamInstanceADropDown" layout="block">
                      <apex:selectList styleclass="slds-select" id="TIsA" value="{!teamInstanceSelectedNameA}" size="1" >
                        <apex:actionSupport event="onchange" action="{!teamInstanceChangedA}" rerender="BrandDropDown,reportsA,errorMessage" /> 
                        <apex:selectOptions value="{!allTeamInstancesA}" />
                      </apex:selectList>
                    </apex:outputPanel>
                  </apex:outputPanel>
                </div>
              </div>
              <div class="slds-frame slds-size--2-of-7 slds-p-right_xx-small">
                <div class="slds-form-element">
                  <label class="slds-form-element__label">Select Report
                  </label>
                  <div class="slds-form-element__control">
                    <apex:outputPanel >
                      <apex:selectList styleclass="slds-select" id="reportsA" value="{!reportNameA}"  size="1" > 
                        <apex:actionSupport event="onchange" action="{!reportChangedA}" rerender="errorMessage" onComplete="isNotIpadfn();"/> 
                        <apex:selectOptions value="{!allreportsA}" />
                        </apex:selectlist>
                    </apex:outputPanel>          
                  </div>
                </div>
              </div>
              <script>
                console.log('Hiiiii');
                var $j = jQuery.noConflict();
              </script>
              <div class="slds-frame slds-size--1-of-6 slds-p-left_xx-small  slds-p-top_large" >
                <apex:outputPanel >
                  <apex:commandlink action="{!openReportA}" id="runButtonACL">  
                    <apex:commandButton styleclass="slds-button slds-button_brand"  value="Run Report" id="runButtonA" /> 
                  </apex:commandlink>
                  &nbsp;&nbsp;
                  <apex:commandlink rerender="errorMessage"  >  
                    <apex:outputPanel >
                    </apex:outputPanel>
                  </apex:commandlink>
                </apex:outputPanel>
              </div>
            </div>
          </div>
        </apex:outputPanel>       
        
      </div> 
      <script>
        function changedLine(changedRec)
        {
          console.log(changedRec);
          var e = document.getElementById("j_id0:j_id4:lineSelectedOption");
          var strUser = e.options[e.selectedIndex].value;
          updateSelectedLine(strUser);
          console.log(strUser);
        }
        function changedBrand(changedRec)
        {
          console.log(changedRec);
          /*   var e = document.getElementById("j_id0:j_id4:BrandDropDown");
            var strUser = e.options[e.selectedIndex].value;
            updateSelectedLine(strUser);
            console.log(strUser);*/
        }
        function disableLine(changedRec)
        {
          console.log(changedRec);
          var e = document.getElementById("j_id0:j_id4:reports");
          var strUser = e.options[e.selectedIndex].value;
          disableLineAct(strUser);
          console.log(strUser);
        }
      </script>
    </apex:form>
  </div>
</apex:page>